{% extends "admin/layout.html" %}
{% block body %}
    <!-- Bread crumb -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Orders</h3></div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for('.index') }}"><i class="fa fa-dashboard"></i> Dashboard</a>
                </li>
                <li class="breadcrumb-item active">Orders</li>
            </ol>
        </div>
    </div>
    <!-- End Bread crumb -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for message, status in messages %}
                <div class="alert
                   {% if status=="success" %}alert-success text-white
                    {% elif status=="warning" %}alert-warning
                    {% else %}alert-danger text-themecolor{% endif %}
                ">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <!-- Container fluid  -->
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row">
            <div class="col-12">
                {% include 'admin/snippets/search_box.html' %}
                <div class="clearfix"></div>
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="myTable" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>Code</th>
                                    <th>Name</th>
                                    <th>Contact</th>
                                    <th>City</th>
                                    <th>Checkout Type</th>
                                    <th>Total</th>
                                    <th>Status</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if results.items %}
                                    {% for obj in results.items %}
                                        <tr rel="{{ obj.id }}">
                                            <td>
                                                <a href="{{ url_for('.order_detail',id=obj.id) }}">{{ obj.code }}</a><br>
                                                <a class="btn btn-default btn-sm" style="text-align:center;background: #fbfbfb;" href="{{ url_for('.order_detail',id=obj.id) }}">View Order</a>
                                            </td>
                                            <td>{{ obj.name }}</td>
                                            <td>
                                                {{ obj.email }}<br>
                                                <span class="caption">{{ obj.phone }}</span>
                                            </td>
                                            <td>{{ obj.city }}</td>
                                            <td>{{ obj.checkout_type }}</td>
                                            <td>{{ number_format(obj.amount) }}</td>
                                            <td>
                                                <span class="btn">{{ obj.order_status_code|capitalize }}</span>
                                                <span class="btn">{{ obj.delivery_status_code|capitalize }}</span>
                                            </td>
                                            <td>
                                                <a class="btn btn-sm btn-warning"
                                                   href="{{ url_for('.update_order_status',id=obj.id) }}">Update Order
                                                    Status</a>
                                                <a class="btn btn-sm btn-warning"
                                                   href="{{ url_for('.update_order_delivery',id=obj.id) }}">Update
                                                    Delivery Status</a>
                                            </td>

                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                        {% include 'admin/snippets/pagination.html' %}
                    </div>
                </div>
            </div>
        </div>
        <!-- End PAge Content -->
    </div>
    <!-- End Container fluid  -->
{% endblock body %}