{% extends "admin/layout.html" %}
{% block body %}
    <!-- Bread crumb -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Orders</h3></div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for('.index') }}"><i class="fa fa-dashboard"></i> Dashboard</a>
                </li>
                <li class="breadcrumb-item">Orders</li>
                <li class="breadcrumb-item active">{{ order.code }}</li>
            </ol>
        </div>
    </div>
    <!-- End Bread crumb -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for message, status in messages %}
                <div class="alert
                   {% if status=="success" %}alert-success text-white
                    {% elif status=="warning" %}alert-warning
                    {% else %}alert-danger text-themecolor{% endif %}
                ">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <!-- Container fluid  -->
    <div class="container-fluid">
        <div class="row">
            <div class="well col-md-12" style="margin-left: 15px">
                <h4 style="margin-bottom: 10px">Customer Information</h4>
                <div class="row">
                    <div class="col-xs-6 col-md-6"
                         style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                        <strong>Billing Address</strong>
                        <ul class="list-unstyled">
                            <li>{{ order.full_name }}</li>
                            <li>{{ order.user.email }}</li>
                            <li>{{ order.address }}</li>
                            <li>{{ order.user.phone }}</li>
                        </ul>
                    </div>
                    <div class="col-xs-6 col-md-6">
                        <strong>Shipping Address</strong>
                        <ul class="list-unstyled">
                            <li>{{ order.shipment_name }}</li>
                            <li>{{ order.shipment_address }}</li>
                            <li>{{ order.shipment_phone }}</li>
                            <li>
                                <small><strong>Additional Info.:{{ order.shipment_description }}</strong></small>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="row">

            <div class="well col-md-4 invoice-payment" style="text-align: left;margin-top:10px;margin-right: 15px;">
                <h4>{{ order.date_created.strftime('%A, %B, %d %Y %H:%M') }}</h4>
                <h4>Payment Information</h4>
                <ul class="list-unstyled">
                    <li><strong>{{ order.payment_option.name }}</strong></li>
                    <li><strong>{{ order.payment_status.name }}</strong></li>
                </ul>
                <p>Order Status</p>
                <h4><strong class="fulfilled">{{ order.order_status.name }}</strong></h4>
            </div>
            <div class="clearfix"></div>

            <!-- /.col-lg-12 -->
        </div>
        <!-- Start Page Content -->
        <div class="row">
            <div class="col-12">
                <div class="clearfix"></div>
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Menu/Recipe</th>
                                    <th></th>
                                    <th>Size</th>
                                    <th>Price</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for obj in entries %}
                                    <tr rel="{{ obj.id }}">
                                        <td>{{ loop.index }}</td>
                                        <td>{{ obj.menu.name }}<br>
                                        <span style="color:#888;">{{ obj.menu.menu_category_code|capitalize }}</span></td>
                                        <td>
                                            <span class="caption">{{ obj.menu_condition_code|capitalize }}</span><br>
                                            <small>
                                                            {% for extra in obj.extras %}
                                                                {% if extra.protein %}
                                                                    {{ extra.protein.name }}
                                                                    {% if extra.side_dish %}
                                                                        , {{ extra.side_dish.name }}
                                                                    {% endif %}
                                                                {% elif extra.side_dish %}
                                                                    {{ extra.side_dish.name }}
                                                                {% endif %}
                                                            {% endfor %}
                                                        </small>
                                        </td>
                                        <td>{{ obj.menu_size_code }}</td>
                                        <td>₦{{ number_format(obj.total) }}</td>
                                    </tr>
                                {% endfor %}
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>Sub Total</td>
                                    <td>₦{{ number_format(order.total + order.discount_applied - order.shipping_charge) }}</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>Discount</td>
                                    <td>-₦{{ number_format(order.discount_applied) }}</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>Delivery</td>
                                    <td>₦{{ number_format(order.shipping_charge) }}</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>Total</td>
                                    <td>₦{{ number_format(order.total) }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End PAge Content -->
    </div>
    <!-- End Container fluid  -->
{% endblock body %}