{% extends "admin/layout.html" %}
{% block body %}
<!-- Bread crumb -->
<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">{{ title }}</h3></div>
    <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('.index') }}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="breadcrumb-item"><a href="{{ url_for('.orders') }}">Orders</a></li>
            <li class="breadcrumb-item active">{{ title }}</li>
        </ol>
    </div>
</div>
<!-- End Bread crumb -->
{% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for message, status in messages %}
                <div class="alert
                   {% if status=="success" %}alert-success text-white
                    {% elif status=="warning" %}alert-warning
                    {% else %}alert-danger text-themecolor{% endif %}
                ">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
<div class="container-fluid">
    <!-- Start Page Content -->
    <div class="row">
        <div class="col-md-12">
            <div class="card card-outline-primary">

                <div class="card-body">
                    <form action="{{ request.path }}" method="post" name="form" role="form"
                          enctype="multipart/form-data">
                        {{ form.csrf_token }}
                        <div class="form-body">

                            <h3 class="card-title m-t-15">{{ title }}</h3>

                            <hr>
                            <div class="col-md-8 pull-left">
                                <div class="row p-t-20">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label">Status</label>
                                            {{ form.status_code(class="form-control") }}

                                            {% if form.status_code.errors %}
                                            {% for e in form.status_code.errors %}
                                            <small class="form-control-feedback text-themecolor">{{ e }}</small>
                                            {% endfor %}

                                            {% endif %}
                                        </div>
                                    </div>

                                    <!--/span-->
                                    <div class="clearfix"></div>
                                </div>
                                <!--/row-->

                            </div>
                            <div class="col-md-4 pull-right">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-themecolor"><i class="fa fa-check"></i> Save
                            </button>
                            <a href="{{ url_for('.orders') }}" class="btn btn-inverse">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}