{% extends "main/layout.html" %}
{% block headerbanner %}
{% endblock headerbanner %}

{% block body %}
    {% cache 3600, "public", "about", "initial_about_steeeew" %}
        <section class="pv-30 light-gray-bg clearfix">
            <div class="container">
                <h2 class="title logo-font text-center text-muted">Since 2018</h2>
                <div class="separator"></div>
                <p class="text-center lead">S.T.E.W is an indigenous company birth from a need to give our customers an
                    opportunity to enjoy a large variety of wholesome home-cooked meals that are delicious and healthy.
                    This combined with the aim to relieve customers of the stress accompanied with having to plan meals
                    and the high cost of shopping for high quality ingredients is what forms the core value which we
                    provide to our customers.
                </p>
                <br>
                <div class="row grid-space-10">
                    <div class="col-md-6 col-md-push-6">
                        <img class="img-thumbnail" style="margin-bottom: 32px;"
                             src="{{ url_for('static', filename='images/about_us.jpg') }}"
                             alt="STEW - About Us">
                        <p class="text-muted">
                            Say "Hello" to Cooking Like A Gourmet Chef With Step-By-Step Directions To Guide You If
                            You Choose To Cook
                        </p>
                        <p class="text-muted">
                            Say "Hello" to Cooked Meals Delivered To Your Doorstep If You Choose Not To Cook
                        </p>
                        <p class="text-muted">
                            Say "Hello" to S.T.E.W - Save.Time.Eat.Well.
                        </p>
                    </div>
                    <div class="col-md-6 col-md-pull-6">
                        <div class="space-top visible-lg"></div>
                        <h3 class="logo-font title text-muted"><span class="text-default">S.T.E.W </span>&nbsp; Save
                            Time Eat Well</h3>
                        <div class="separator-2"></div>
                        {% if revert_old_code %}
                            <p class="text-muted lead">S.T.E.W is here to provide solutions to food challenges by
                                providing a large variety of meals
                                to choose from so customers are not stuck on the same meals, providing an easier and
                                more
                                convenient way to purchase high quality organic ingredients and giving families and
                                individuals the opportunity of cooking and eating healthy home-made food using quality
                                ingredients.</p>
                            <p class="text-muted lead">S.T.E.W also aims to bring back the habit of eating home-made
                                meals and the “cook your meals”
                                culture that is being replaced by unhealthy fast foods and the habit of “eating out”. We
                                believe that cooking and eating your own meals ensure that you eat healthy, save money
                                and
                                spend more time with the family which breeds a heathy, loving and happy family and
                                nation.</p>
                        {% else %}
                            <p class="text-muted">
                                Say "Goodbye" to Long Hours Spent Cooking In The Kitchen.
                            </p>
                            <p class="text-muted">
                                Say "Goodbye" to Being Stuck Eating The Same Meals Over & Over.
                            </p>
                            <p class="text-muted">
                                Say "Goodbye" to Poor Cooking Skills
                            </p>
                            <p class="text-muted">
                                Say "Goodbye" to Eating Leftovers From Yesterday’s/Last-weeks Dinner
                            </p>
                            <p class="text-muted">
                                Say "Goodbye" to The Question "What Do I Eat?"
                            </p>
                            <p class="text-muted">
                                Say "Goodbye" to Worrying About Dinner Time
                            </p>
                            <p class="text-muted">
                                Say "Goodbye" to Wastage & Having To Toss Unfinished Leftovers Into The Bin
                            </p>
                            <p class="text-muted">
                                Say "Goodbye" to Eating Overpriced Meals Prepared By Unknown Persons & Methods At
                                Restaurants
                            </p>
                            <p class="text-muted">
                                Say "Hello" to Spending Less Time In The Kitchen.
                            </p>
                            <p class="text-muted">
                                Say “Hello” to Organic, Washed, Cleaned & Packaged Fresh Ingredients
                            </p>
                            <p class="text-muted">
                                Say "Hello" to Fresh Meals Weekly & Timely.
                            </p>
                            <p class="text-muted">
                                Say "Hello" to Exact Amount Of Ingredients & Spices You Need So Waste Is Reduced
                            </p>
                        {% endif %}
                    </div>
                    {% if revert_old_coode %}
                        <div class="col-md-12">
                            <p class="text-muted lead">The old question “what will you eat?” is a door to the huge
                                problem
                                of meal planning,
                                ingredients shopping and meal preparation which we all face daily hence most people are
                                stuck on the same meal options day in day out, some opt to eat out which exposes them to
                                poorly cooked food made from spoilt or rotten ingredients which in turn leads to the
                                various
                                health challenges we see today. Families are forced to buy ingredients in bulk to reduce
                                cost, most of which they end up not using and some of which go bad due to poor
                                preservation
                                caused by the erratic power supply in the country.</p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </section>
    {% endcache %}
{% endblock body %}