{% extends "main/layout.html" %}
{% block headerbanner %}
{% endblock headerbanner %}
{% block body %}
    <!-- main-container start -->
    <!-- ================ -->
    <section class="main-container">

        <div class="container">
            <div class="row">

                <!-- main start -->
                <!-- ================ -->
                <div class="main col-md-12">

                    <!-- page-title start -->
                    <!-- ================ -->
                    <h1 class="page-title">Shopping Cart</h1>
                    <div class="separator-2"></div>
                    <!-- page-title end -->

                    <table class="table cart table-hover table-colored">
                        <thead>
                        <tr>
                            <th>Recipe</th>
                            <th class="text-center">Size</th>
                            <th></th>
                            <th class="amount">Total</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for item in cart_items %}
                            <tr class="remove-data">
                                <form action="{{ url_for('.update_cart_item') }}" method="post" name="update_item_form">
                                    {{ update_item_form.csrf_token }}
                                    {{ update_item_form.item_id(value=item.id) }}
                                    <td class="product"><a
                                            href="{{ url_for('.recipe',id=item.menu_id,slug=item.menu.slug) }}">{{ item.menu.name }}</a>
                                        <small>{{ item.menu_condition_code|capitalize }} Order</small>
                                        <small>
                                            {% for extra in item.extras %}
                                                {% if extra.protein %}
                                                    {{ extra.protein.name }}
                                                    {% if extra.side_dish %}
                                                        , {{ extra.side_dish.name }}
                                                    {% endif %}
                                                {% elif extra.side_dish %}
                                                    {{ extra.side_dish.name }}
                                                {% endif %}
                                            {% endfor %}
                                        </small>
                                    </td>
                                    <td class="quantity">
                                        <div class="form-group">
                                            {#                                    <input type="text" class="form-control" name="menu_size" value="{{item.menu_size.value}}">#}
                                            <select name="menu_size" id="menu_size" rel="{{ item.id }}"
                                                    class="form-control">
                                                <option value="zero">None</option>
                                                {% for opt in menu_sizes %}
                                                    {% if opt.is_cooked and item.menu_condition_code=="cooked" %}
                                                        <option value="{{ opt.code }}"
                                                                {% if item.menu_size.value == opt.value %}selected{% endif %}>{{ opt.name }}</option>
                                                    {% elif opt.is_cooked != True and item.menu_condition_code=="uncooked" %}
                                                        <option value="{{ opt.code }}"
                                                                {% if item.menu_size.value == opt.value %}selected{% endif %}>{{ opt.name }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </td>


                                    <td class="remove text-center">

                                        <button type="submit" class="btn btn-sm btn-default">Update</button>
                                </form>
                                </td>
                                <td class="text-right" style="width: 16%;">
                                    <span id="temp_price{{ item.id }}" class="text-default" style="margin-right: 15px;"><i
                                            id="spinner{{ item.id }}" class="fa fa-spinner fa-spin hidden"></i></span>
                                    ₦{{ number_format(item.total) }}
                                </td>
                                </form>
                            </tr>
                        {% endfor %}
                        {% if allow_cart_discount %}
                        <tr>
                            <td class="total-quantity" colspan="3">Discount</td>
                            <td class="total-amount">

                                ₦{{ number_format(cart.discount) }}
                            </td>
                        </tr>
                        {% endif %}
                        <tr>
                            <td class="total-quantity" colspan="3">SubTotal {{ cart_total_quantity }} Items</td>
                            <td class="total-amount">₦{{ number_format(cart.cart_total) }}</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="text-right">
                        <a href="{{ url_for('.recipes') }}" class="btn btn-group btn-default">Continue Shopping</a>
                        <a href="{{ url_for('.checkout') }}" class="btn btn-group btn-default">Checkout</a>
                    </div>

                </div>
                <!-- main end -->

            </div>
        </div>
    </section>
    <!-- main-container end -->
{% endblock body %}
{% block page_js %}
    <script>
        menu_size_multiplier = Array()
        $('select[name="menu_size"]').change(function () {
            var size_code = $(this).val();
            var item_id = $(this).attr("rel");
            $(this).css("background", "#efefef");
            $('#spinner' + item_id).removeClass("hidden");
            data = {"size_code": size_code, "item_id": item_id};
            $.ajax({
                type: "POST",
                url: "{{ url_for('.fetch_item_size_price') }}",
                data: JSON.stringify(data),
                contentType: 'application/json;charset=UTF-8',
                success: function (payload) {
                    console.log(payload);
                    var data = payload[0];
                    console.log(data);
                    $('#temp_price' + item_id).html("₦" + data.total)

                },
                error: function (xhr, textStatus, error) {
                    $('#temp_price' + item_id).html("");
                    console.log(xhr.statusText);
                    console.log(textStatus);
                    console.log(error);
                }
            })
        })
    </script>
{% endblock page_js %}
