{% extends "main/layout.html" %}
{% block headerbanner %}
{% endblock headerbanner %}
{% block body%}
<!-- main-container start -->
<!-- ================ -->
<section class="main-container">
    <div class="container">
        <div class="row">
            <!-- main start -->
            <!-- ================ -->
            <div class="main col-md-8 col-md-offset-2">
                <!-- page-title start -->
                <!-- ================ -->
                <h1 class="page-title text-center">Thank You <i class="fa fa-smile-o pl-10"></i></h1>
                <h5 class="text-center">Your Order #{{ order.code }} was Successful</h5>
                <div class="separator"></div>
                <!-- page-title end -->
                <p class="lead text-center">A customer representative will contact you shortly. Checkout more recipes for the coming week. 😉</p>
                <p class="text-center">
                    <a href="{{ url_for('.recipes') }}" class="btn btn-lg">Continue Shopping!</a>
                    <a href="{{ url_for('.invoice',code=order.code) }}" class="btn btn-default btn-lg"><i
                            class="fa fa-print pl-10"></i> Print Invoice</a>
                </p>
            </div>
            <!-- main end -->
        </div>
    </div>
</section>
<!-- main-container end -->
{% endblock body%}