{% extends "main/layout.html" %}
{% block headerbanner %}
{% endblock headerbanner %}
{% block body%}
<!-- main-container start -->
<!-- ================ -->
<section class="main-container">

    <div class="container">
        <div class="row">

            <!-- main start -->
            <!-- ================ -->
            <div class="main col-md-12">

                <!-- page-title start -->
                <!-- ================ -->
                <h1 class="page-title">Checkout Review</h1>
                <div class="separator-2"></div>
                <!-- page-title end -->

                <table class="table cart">
                    <thead>
                    <tr>
                        <th>Recipe</th>

                        <th>Category</th>
                        <th>Size</th>
                        <th class="amount">Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in cart_items%}

                    <tr rel="{{item.id}}" menu="{{item.menu_size_code}}">
                        <td class="product" ><a href="{{ url_for('.recipe',id=item.menu_id,slug=item.menu.slug) }}">{{item.menu.name}}</a>
                            <small>{{item.menu.caption}}</small>
                        </td>
                        <td class="price">
                            <span>{{ item.menu_condition_code|capitalize }} Order</span> <br>
                            <small>{{ item.menu.menu_category_code|capitalize }}</small> <br>
                                        <small>
                                            {% for extra in item.extras %}
                                                {% if extra.protein %}
                                                    {{ extra.protein.name }}
                                                    {% if extra.side_dish %}
                                                        , {{ extra.side_dish.name }}
                                                    {% endif %}
                                                {% elif extra.side_dish %}
                                                    {{ extra.side_dish.name }}
                                                {% endif %}
                                            {% endfor %}
                                        </small>
                        </td>

                        <td class="quantity">
                            <div class="form-group">
                                <input type="text" class="form-control" value="{{item.menu_size.value}}" disabled>
                            </div>
                        </td>
                        <td class="amount">₦{{number_format(item.total)}}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td class="total-quantity text-right" colspan="3"><small>Subtotal</small></td>
                        <td class="amount">₦{{ number_format(cart.cart_total) }}</td>
                    </tr>
                    {% if cart.discount>0 %}
                    <tr>
                        <td class="total-quantity text-right" colspan="3"><small>Discount</small></td>
                        <td class="total-amount">- ₦{{ number_format(cart.discount) }}</td>
                    </tr>
                    {% endif %}
                    <tr>
                        <td class="total-quantity text-right" colspan="3"><small>Delivery Fee</small></td>
                        <td class="amount">₦{{ number_format(cart.delivery_charge) }}</td>
                    </tr>

                    <tr>
                        <td class="total-quantity text-right" colspan="3">Total <small>({{cart_total_quantity}} Items)</small></td>
                        <td class="total-amount">₦{{ number_format(cart._total) }}</td>
                    </tr>
                    </tbody>
                </table>
                <div class="space-bottom"></div>
                {% if support_billing_info%}
                <table class="table">
                    <thead>
                    <tr>
                        <th colspan="2">Billing Information</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Full Name</td>
                        <td class="information">John Doe</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td class="information">johndoe@mail.com</td>
                    </tr>
                    <tr>
                        <td>Telephone</td>
                        <td class="information">+00 123 123 1234</td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td class="information">One infinity loop, 54100, United States</td>
                    </tr>
                    <tr>
                        <td>Additional Info</td>
                        <td class="information">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum
                            accusamus pariatur odit neque.
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="space-bottom"></div>
                {% endif %}
                <table class="table">
                    <thead>
                    <tr>
                        <th colspan="2">Shipping Information</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Full Name</td>
                        <td class="information">{{cart.user.name}}</td>
                    </tr>
                    <tr>
                        <td>Telephone</td>
                        <td class="information">{{cart.phone}}</td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td class="information">{{cart.address}}</td>
                    </tr>
                    <tr>
                        <td>Additional Message</td>
                        <td class="information">{{cart.additional_info}}</td>
                    </tr>
                    </tbody>
                </table>
                <div class="space-bottom"></div>
                <table class="table">
                    <thead>
                    <tr>
                        <th colspan="2">Payment</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Status</td>
                        <td class="information">PENDING</td>
                    </tr>
                    </tbody>
                </table>
                <div class="space-bottom"></div>
                <table class="table">
                    <thead>
                    <tr>
                        <th colspan="2">Terms & Condition</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Status</td>
                        <td class="information">READ & ACCEPTED</td>
                    </tr>
                    </tbody>
                </table>
                <div class="text-right">
                    <form>
                    <a href="{{url_for('.checkout')}}" class="btn btn-group btn-default"><i
                            class="icon-left-open-big"></i> Go Back</a>

                                <script src="https://api.ravepay.co/flwv3-pug/getpaidx/api/flwpbf-inline.js"></script>
                                <button type="button" onClick="payWithRave()" class="btn btn-group btn-default"><i class="icon-check"></i> Proceed to Payment</button>
                            </form>
                </div>

            </div>
            <!-- main end -->

        </div>
    </div>
</section>
<!-- main-container end -->
{% endblock body %}
{% block page_js %}
<script>
    const API_publicKey = "{{rave_pub_key}}";

    function payWithRave() {
        var getpaidAction = getpaidSetup({
            PBFPubKey: API_publicKey,
            customer_email: "{{cart.email}}",
            amount: {{cart._total}},
            customer_phone: "{{cart.phone}}",
            currency: "NGN",
            txref: "rave-123456",
            meta: [{
                metaname: "cartID",
                metavalue: "{{ cart.id }}"
            }],
            onclose: function () {
                window.location = "{{url_for('.checkout_review')}}"
            },
            callback: function (response) {
                var txref = response.tx.txRef; // collect txRef returned and pass to a 					server page to complete status check.
                console.log("This is the response returned after a charge", response);
                if (
                    response.tx.chargeResponseCode == "00" ||
                    response.tx.chargeResponseCode == "0"
                ) {
                    // redirect to a success page
                    var params = response.tx;
                        params["embed_token"] = "";
                        params["user_token"] = "";
                        if (response.tx.chargeToken) {
                            params["embed_token"] = response.tx.chargeToken.embed_token;
                            params["user_token"] = response.tx.chargeToken.user_token
                        }
                        params["actor"] = {{current_user.id}};
                        params["channel"] = "one-off";
                        var form = document.createElement("form");
                        form.setAttribute("method", "post");
                        form.setAttribute("action", "{{url_for('.cart_rave_success')}}");

                        for (var key in params) {
                            if (params.hasOwnProperty(key)) {
                                var hiddenField = document.createElement("input");
                                hiddenField.setAttribute("type", "hidden");
                                hiddenField.setAttribute("name", key);
                                hiddenField.setAttribute("value", params[key]);

                                form.appendChild(hiddenField);
                            }
                        }
                        document.body.appendChild(form);
                        form.submit();
                } else {
                    // redirect to a failure page.
                    getpaidAction.close();
                    window.location = "{{url_for('.checkout_review')}}"
                }

                x.close(); // use this to close the modal immediately after payment.
            }
        });
    }
</script>

{% endblock page_js %}