{% extends "main/layout.html" %}
{% block headerbanner %}
{% endblock headerbanner %}

{% block body %}

    <!-- main-container start -->
    <!-- ================ -->
    <section class="main-container">

        <div class="container">
            <div class="row">

                <!-- main start -->
                <!-- ================ -->
                <div class="main col-md-8 space-bottom">
                    <p class="lead">It would be great to hear from you! Just drop us a line and ask for anything with
                        which
                        you think we could be helpful. We are looking forward to hearing from you!</p>
                    <div class="alert alert-success hidden" id="MessageSent">
                        We have received your message, we will contact you very soon.
                    </div>
                    <div class="alert alert-danger hidden" id="MessageNotSent">
                        Oops! Something went wrong please refresh the page and try again.
                    </div>
                    <div class="contact-form">
                        <form id="contactform" class="margin-clear" role="form" method="post"
                              action="{{ request.path }}">
                            {{ form.csrf_token }}
                            <div class="form-group has-feedback">
                                <label for="name">Name*</label>
                                <input type="text" class="form-control" id="name" name="name" placeholder="">
                                <i class="fa fa-user form-control-feedback"></i>
                            </div>
                            <div class="form-group has-feedback col-md-6" style="padding-left: 0;">
                                <label for="email">Email*</label>
                                <input type="email" class="form-control" id="email" name="email" placeholder="">
                                <i class="fa fa-envelope form-control-feedback"></i>
                            </div>
                            <div class="form-group has-feedback col-md-6" style="padding-right: 0;">
                                <label for="phone">Phone*</label>
                                <input type="tel" class="form-control" id="phone" name="phone" placeholder="">
                                <i class="fa fa-phone form-control-feedback"></i>
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group has-feedback">
                                <label for="subject">Subject*</label>
                                <input type="text" class="form-control" id="subject" name="subject" placeholder="">
                                <i class="fa fa-navicon form-control-feedback"></i>
                            </div>
                            <div class="form-group has-feedback">
                                <label for="message">Message*</label>
                                <textarea class="form-control" rows="6" id="body" name="body"
                                          placeholder=""></textarea>
                                <i class="fa fa-pencil form-control-feedback"></i>
                            </div>
                            <!--<div class="form-group">-->
                            <!--<div id="recaptcha" class="g-recaptcha"-->
                            <!--data-sitekey="6Lfv0VkUAAAAAKbaCWyI8CFnWThNtuTPB4cH_Dgb"></div>-->
                            <!--</div>-->
                            <!--<div class="form-group">-->
                            <!--<span id="recaptcha_error" class="hidden">Wrong Captcha Input.. Please try again.</span>-->
                            <!--</div>-->
                            <!--<button onClick="submitDetailsForm()" class="submit-button btn btn-default">SEND <i-->
                            <!--class="fa fa-thumbs-o-up"></i></button>-->
                            <input type="submit" value="SEND" class="submit-button btn btn-default">
                        </form>
                    </div>
                </div>
                <!-- main end -->

                <!-- sidebar start -->
                <!-- ================ -->
                <aside class="col-md-3 col-lg-offset-1">
                    <div class="sidebar">
                        <div class="side vertical-divider-left">
                            <h3 class="title logo-font"><span class="text-default">STEW</span></h3>
                            <div class="separator-2 mt-20"></div>
                            <ul class="list">
                                <li><i class="fa fa-home pr-10"></i>No. 5 Williams Street,<br><span class="pl-20"> Lagos Island.</span>
                                </li>
                                <li><i class="fa fa-phone pr-10"></i><abbr
                                        title="Phone">P:</abbr> {{ stew_contact_phone.display }}</li>
                                <li><i class="fa fa-envelope pr-10"></i><a
                                        href="mailto:{{ stew_contact_email }}">{{ stew_contact_email }}</a></li>
                            </ul>
                            <ul class="social-links circle small margin-clear clearfix animated-effect-1">
                                <li class="facebook"><a target="_blank" href="https://www.facebook.com/stew9ja/"><i
                                        class="fa fa-facebook"></i></a></li>
                                <li class="twitter"><a target="_blank" href="https://twitter.com/ng_stew"><i
                                        class="fa fa-twitter"></i></a></li>
                                <li class="linkedin"><a target="_blank"
                                                        href="https://www.linkedin.com/company/s-t-e-w-nigeria/"><i
                                        class="fa fa-linkedin"></i></a></li>
                                <li class="instagram"><a target="_blank" href="https://www.instagram.com/stew.ng/"><i
                                        class="fa fa-instagram"></i></a></li>
                            </ul>
                            <div class="separator-2 mt-20 "></div>
                        </div>
                    </div>
                </aside>
                <!-- sidebar end -->
            </div>
        </div>
    </section>
    <!-- main-container end -->

    {% if support_newsletter %}
        <!-- section start -->
        <!-- ================ -->
        <section class="section pv-40 background-img-3 dark-translucent-bg" style="background-position:50% 77%;">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="call-to-action text-center">
                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <h2 class="title">Join Us Now</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus error
                                        pariatur
                                        deserunt laudantium nam, mollitia quas nihil inventore, quibusdam?</p>
                                    <div class="separator"></div>
                                    <form class="form-inline margin-clear">
                                        <div class="form-group has-feedback">
                                            <label class="sr-only" for="subscribe2">Email address</label>
                                            <input type="email" class="form-control" id="subscribe2"
                                                   placeholder="Enter email"
                                                   name="subscribe2" required="">
                                            <i class="fa fa-envelope form-control-feedback"></i>
                                        </div>
                                        <button type="submit"
                                                class="btn btn-gray-transparent btn-animated margin-clear">Submit
                                            <i class="fa fa-send"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}

    <div class="clearfix"></div>
    <!-- section end -->


{% endblock body %}
{% block page_js %}
    <script>
        function submitDetailsForm() {
            $("#contact_form").submit(function (event) {
                event.preventDefault();
            });

            var $captcha = $('#recaptcha'),
                response = grecaptcha.getResponse();

            if (response.length === 0) {
                $('.msg-error').text("reCAPTCHA is mandatory");
                if (!$captcha.hasClass("error")) {
                    $captcha.addClass("error");
                    $('#recaptcha_error').removeClass("hidden");
                    return "";
                }
            } else {
                $('.msg-error').text('');
                $captcha.removeClass("error");
                $('#recaptcha_error').addClass("hidden");
                $("#contact_form").unbind('submit').submit();
            }
        };
    </script>
{% endblock page_js %}
