<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="">
    {% assets "main-global-css" %}
            <link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css"/>
        {% endassets %}
</head>
<body>
<h1>Hey</h1>
</body>
</html>