{% extends "main/layout.html" %}
{% block headerbanner %}
{% endblock headerbanner %}
{% block body %}
    <!-- main-container start -->
    <!-- ================ -->
    <section class="main-container">

        <div class="container">
            <div class="row">

                <!-- main start -->
                <!-- ================ -->
                <div class="main col-md-8">

                    <!-- page-title start -->
                    <!-- ================ -->
                    <h1 class="page-title">Frequently Asked Questions</h1>
                    <div class="separator-2"></div>
                    <!-- page-title end -->
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis ut quisquam ab harum hic
                        enim quibusdam aut quasi recusandae temporibus quo voluptatibus, dolorem consectetur ipsam
                        facere ipsa. Commodi sunt, inventore!</p>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs style-1" role="tablist">
                        <li class="active"><a href="#tab1" role="tab" data-toggle="tab"><i
                                class="fa  fa-life-saver pr-10"></i>Support</a></li>
                        <li><a href="#tab2" role="tab" data-toggle="tab"><i class="fa fa-user pr-10"></i>Sales</a></li>
                        <li><a href="#tab3" role="tab" data-toggle="tab"><i class="fa fa-star pr-10"></i>Recipes &
                            Ingredients</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab1">
                            <!-- accordion start -->
                            <div class="panel-group collapse-style-1" id="accordion-faq">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion-faq" href="#collapseOne"
                                               class="collapsed">
                                                <i class="fa fa-question-circle pr-10"></i> What if i am not home to
                                                accept the delivery?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            We require someone available to acknowledge and receive the delivery. If you
                                            are not at home, we can deliver to a neighbour or a house keeper or we can
                                            deliver to your office
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion-faq" href="#collapseTwo"
                                               class="collapsed">
                                                <i class="fa fa-question-circle pr-10"></i> I have received my delivery
                                                but there is something missing, what should i do?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            We are very sorry about that, please contact customer care on {{ stew_contact_phone.display }} and we will rectify the issue and ensure it never happens again.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion-faq" href="#collapseThree"
                                               class="collapsed">
                                                <i class="fa fa-question-circle pr-10"></i> My order arrived
                                                damaged/spoilt what should i do?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            We would like to apologize for this situation, we are very sorry this
                                            happened. Please take a picture of the damage and contact customer care on
                                            {{ stew_contact_phone.display }} and we will correct the damage and ensure it
                                            never happens again
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion-faq" href="#collapseFour"
                                               class="collapsed">
                                                <i class="fa fa-question-circle pr-10"></i> My order wasn’t delivered,
                                                what should i do?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseFour" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Ensure the delivery time and window hasn’t elasped, our delivery vendor is
                                            still on the way to you if the time hasn’t elasped and if the delivery time
                                            and window has elasped and you still did not receive your order, please
                                            contact customer care on {{ stew_contact_phone.display }} and we will correct the
                                            damage and ensure it never happens again
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion-faq" href="#collapseFive"
                                               class="collapsed">
                                                <i class="fa fa-question-circle pr-10"></i> Do i need to create an
                                                account?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseFive" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Yes! You need to create an account on the website in order to help you
                                            personalize your order which helps us serve you better
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion-faq" href="#collapseSix"
                                               class="collapsed">
                                                <i class="fa fa-question-circle pr-10"></i> What is the difference
                                                between the Recipe sections?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseSix" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            The classic section offers a large selection of tasty recipes with no
                                            specific dierary requirements. Selected recipes called “featured recipes”
                                            are choosen weekly and displayed as featured recipes of the week and
                                            customers choose from this selection. The featured meals are changed weekly.
                                            Orders from the classic section are delivered in form of raw ingredients
                                            measured out to the specific number of people eating the meals along with
                                            cooking directions.
                                            The special section offers tasty recipes that cater to specific dietary
                                            requirements under the following sub-sections; vegan meals, paleo meals,
                                            keto meals, diabetic friendly meals, fit-fam meals and child nutrition.
                                            Orders from the special section are delivered in form of raw ingredients
                                            measured out to the specific number of people eating the meals along with
                                            cooking directions.
                                            The cooked section gives our customers the option of having their selected
                                            meal cooked by our in-house experienced chefs and delivered to them fresh
                                            and hot
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion-faq" href="#collapseSeven"
                                               class="collapsed">
                                                <i class="fa fa-question-circle pr-10"></i> How does Stew work?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseSeven" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            It’s easy! You visit www.stew.ng, select a section; (classic section for
                                            general recipes, special section for specific dietary requirements recipes,
                                            cooked section for cooked meals), order your desired meal (recipe) and we
                                            deliver raw ingredients measured out to the number of people eating so you
                                            can cook the meal yourself. Alternatively, you can have our in-house chefs
                                            cook the meal for you and we deliver by ordering from the cooked section.
                                            You can also select and order a meal directly from the “featured recipes”
                                            scroll bar
                                            The choice is all yours!
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion-faq" href="#collapseEight"
                                               class="collapsed">
                                                <i class="fa fa-question-circle pr-10"></i> Do you cater for parties and
                                                events?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseEight" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Yes! We do cater for parties and other small or big events, contact customer
                                            care on {{ stew_contact_phone.display }} if you need us to cater for an event or
                                            to find out more
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion-faq" href="#collapseNine"
                                               class="collapsed">
                                                <i class="fa fa-question-circle pr-10"></i> Do you supply raw
                                                ingredients in bulk?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseNine" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Yes! We offer bulk supply of fresh ingredients, contact customer care on
                                            {{ stew_contact_phone.display }} with your questions and enquiries.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- accordion end -->
                        </div>
                        <div class="tab-pane fade" id="tab2">
                            <!-- accordion start -->
                            <div class="panel-group collapse-style-1" id="accordion-faq-2">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion-faq-2"
                                               href="#collapseOne-2" class="collapsed">
                                                <i class="fa fa-question-circle pr-10"></i> What payment methods does
                                                stew accept?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne-2" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            We currently accept all major credit and debit cards (visa, mastercard,
                                            american express, discover, verve). We also support a transfer in some
                                            cases. Please contact customer care on {{ stew_contact_phone.display }} if you
                                            need to transfer or use other methods of payment not listed here.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion-faq-2"
                                               href="#collapseTwo-2" class="collapsed">
                                                <i class="fa fa-question-circle pr-10"></i> Where do you deliver?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseTwo-2" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            We deliver within lagos island for now. We will expand our services to cover
                                            all areas of lagos soon.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion-faq-2"
                                               href="#collapseThree-2" class="collapsed">
                                                <i class="fa fa-question-circle pr-10"></i> When do you deliver?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseThree-2" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Express delivery is available every day for orders placed before 12pm. To
                                            use express delivery, order before 12pm, select express delivery and get
                                            your order delivered to you same day before 5pm.
                                            Regular delivery days are sunday/monday/wednesday/friday.
                                            Sunday deliveries are non express, regular orders collated from friday and
                                            saturday. Customers selects this day and select their prefered time slot
                                            from 10am-12pm, 12-4pm, 3-6pm, 6-9pm. Sunday delivery window closes by 3pm
                                            on saturday.
                                            Monday deliveries are non express, regular orders collated from friday,
                                            saturday and sunday. Customers selects this day and select their prefered
                                            time slot from 10am-12pm, 12-4pm, 3-6pm, 6-9pm. Monday delivery window
                                            closes by 3pm on sunday.
                                            Wednesday deliveries are non express, regular orders collated from monday to
                                            tuesday 3pm. Customers selects this day and select their prefered time slot
                                            from 10am-12pm, 12-4pm, 3-6pm, 6-9pm. Wednesday delivery window closes by
                                            3pm on tuesday.
                                            Friday deliveries are non express, regular orders collated from wednesday to
                                            thursday 3pm. Customers selects this day and select their prefered time slot
                                            from 10am-12pm, 12-4pm, 3-6pm, 6-9pm. Friday delivery window closes by 3pm
                                            on thursday.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- accordion end -->
                        </div>
                        <div class="tab-pane fade" id="tab3">
                            <!-- accordion start -->
                            <div class="panel-group collapse-style-1" id="accordion-faq-3">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion-faq-3"
                                               href="#collapseOne-3" class="collapsed">
                                                <i class="fa fa-question-circle pr-10"></i> Can i choose my
                                                meals/recipes?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne-3" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Yes! You can choose your desired meal/recipe either from the featured meals
                                            of the week, from one of the special meals sub-sections or from one of our
                                            cooked meals options.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion-faq-3"
                                               href="#collapseTwo-3" class="collapsed">
                                                <i class="fa fa-question-circle pr-10"></i> Do you offer vegetarian
                                                recipes?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseTwo-3" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Yes! We offer a wide range of vegetarian recipes
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion-faq-3"
                                               href="#collapseThree-3" class="collapsed">
                                                <i class="fa fa-question-circle pr-10"></i> Do you offer plans for
                                                people with special dietary requirements?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseThree-3" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Yes! We offer plans for people with special dietary requirements in form of
                                            paleo meals, keto meals, fit-fam meals, diabetic friendly meals and vegan
                                            meals.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion-faq-3"
                                               href="#collapseFour-3" class="collapsed">
                                                <i class="fa fa-question-circle pr-10"></i> Do you have selections for
                                                children?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseFour-3" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Yes! We have a sub-section under the special section dedicated to nutritious
                                            recipes that the children will love.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion-faq-3"
                                               href="#collapseFive-3" class="collapsed">
                                                <i class="fa fa-question-circle pr-10"></i> Where do you get your
                                                recipes?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseFive-3" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            We work closely on recipe development with a team of in-house chefs and
                                            dietitians to ensure you get a balanced meal on the table!
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion-faq-3"
                                               href="#collapseSix-3" class="collapsed">
                                                <i class="fa fa-question-circle pr-10"></i> How does the
                                                ingredients/food stay fresh in transit?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseSix-3" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            We have developed and tested efficient ways to ensure the food or
                                            ingredients remain fresh in transit to you
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion-faq-3"
                                               href="#collapseSix-3" class="collapsed">
                                                <i class="fa fa-question-circle pr-10"></i> What ingredients do you
                                                assume i have at home?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseSix-3" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Ingredients to have at the ready: salt, pepper, sugar, milk, a good cooking
                                            oil and butter. We will give you the rest!
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion-faq-3"
                                               href="#collapseSix-3" class="collapsed">
                                                <i class="fa fa-question-circle pr-10"></i> Where do you source your
                                                produce?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseSix-3" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            We have long-standing and collaborative relationships with a number of key
                                            suppliers who we regard as partners. All of these relationships have been
                                            developed locally with a strong bias to nigerian family-owned business. We
                                            plan our menus and purchasing around local availability.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion-faq-3"
                                               href="#collapseSix-3" class="collapsed">
                                                <i class="fa fa-question-circle pr-10"></i> Are the ingredients organic?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseSix-3" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Yes! Our ingredients are organic.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion-faq-3"
                                               href="#collapseSix-3" class="collapsed">
                                                <i class="fa fa-question-circle pr-10"></i> Do you have the nutritional
                                                value of each recipe?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseSix-3" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Yes! We have nutritional values of each recipe displayed on the recipe
                                            cards.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion-faq-3"
                                               href="#collapseSix-3" class="collapsed">
                                                <i class="fa fa-question-circle pr-10"></i> How can i keep the groceries
                                                fresh?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseSix-3" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            We advice that you prepare the meals within two days of receiving the
                                            ingredients. However, method(s) of storage for specific ingredient is
                                            displayed under each ingredient on every recipe page
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion-faq-3"
                                               href="#collapseSix-3" class="collapsed">
                                                <i class="fa fa-question-circle pr-10"></i> Can i choose my ingredients,
                                                choose my recipes or both?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseSix-3" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Recipes…...yes! Ingredients, no. However all ingredients are clearly listed and
                                            everything is packaged and labeled seperately so substituting or omiting
                                            ingredients at home is always an option
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- accordion end -->
                        </div>
                    </div>
                </div>
                <!-- main end -->

                <!-- sidebar start -->
                <!-- ================ -->
                <aside class="col-md-4 col-lg-3 col-lg-offset-1">
                    <div class="sidebar">
                    </div>
                </aside>
                <!-- sidebar end -->

            </div>
        </div>
    </section>
    <!-- main-container end -->
{% endblock body %}