{% extends "main/layout.html" %}
{% block headernav %}
{% endblock headernav %}

{% block headerbanner %}
{% endblock headerbanner %}

{% block body %}
<style>
    #registerForm{
        display: none;
    }
#pg_logo{
    max-width: 220px;
    margin: 0 auto 30px auto;
}
#bck{
    text-decoration: none !important;
}
#bck:hover{
    color: #24a828 !important;
    transition: 0.5s;
}
</style>
<!-- main-container start -->
<!-- ================ -->
<div class="main-container dark-translucent-bg" style="background-image:url('images/background-img-6.jpg');height: 100vh;">
    <div class="container">
        <div class="row">
            <!-- main start -->
            <!-- ================ -->
            <div id="loginForm" class="main object-non-visible" data-animation-effect="fadeInUpSmall"
                 data-effect-delay="100">
                <div class="logo" id="pg_logo">
                        <a href="{{ url_for('.index') }}"><img src="https://ik.imagekit.io/stewng/Assets/Static_stew_logo_small_ON6gptNtQ.png"  alt="Stew"></a>
                    </div>
                <div class="form-block slim center-block p-30 light-gray-bg border-clear">
                    <h2 class="title text-center">Forgot Password</h2>
                    <form name="form" class="form-horizontal" method="post" action="{{request.path}}">
                        {{form.csrf_token}}
                        <div class="form-group has-feedback">
                            <div class="col-md-12">
                                <input type="text" class="form-control" id="username" name="username" placeholder="Email Address / UserName"
                                       required>
                                <i class="fa fa-user form-control-feedback"></i>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-group btn-default" style="width: 100%;">Submit </button>
                                <span style="display: block;text-align: center;"><a href="{{ url_for('.login') }}" id="bck">Back to Login</a></span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- main-container end -->

{% endblock body %}
{% block footer %}
{% endblock footer %}
