{% extends "main/layout.html" %}
{% block headerbanner %}
{% endblock headerbanner %}

{% block body %}

    <!-- main-container start -->
    <!-- ================ -->
    <section class="main-container">

        <div class="container">
            <div class="row">

                <!-- main start -->
                <!-- ================ -->
                <div class="main col-md-12">
                    <div class="row">
                        <div class="col-md-6" style=" padding: 70px 15px;">
                            <div class="owl-carousel content-slider">
                                <div class="overlay-container overlay-visible">
                                    <img src="https://ik.imagekit.io/stewng/Assets/food-plans_3FeCRntQT.png"
                                         alt="STEW Food Plans">
                                    <a href="https://ik.imagekit.io/stewng/Assets/food-plans_3FeCRntQT.png"
                                       class="popup-img overlay-link" title="STEW Food Plans"><i
                                            class="icon-plus-1"></i></a>
                                </div>
                                <div class="overlay-container overlay-visible">
                                    <img src="https://ik.imagekit.io/stewng/Assets/recipes-view_n3cA0Y1Nm.png"
                                         alt="STEW Recipes/Meals">
                                    <a href="https://ik.imagekit.io/stewng/Assets/recipes-view_n3cA0Y1Nm.png"
                                       class="popup-img overlay-link" title="STEW Recipes/Meals"><i
                                            class="icon-plus-1"></i></a>
                                </div>
                                <div class="overlay-container overlay-visible">
                                    <img src="https://ik.imagekit.io/stewng/Assets/recipe-view_JkDCGwtdm.png"
                                         alt="STEW Recipe/Meal">
                                    <a href="https://ik.imagekit.io/stewng/Assets/recipe-view_JkDCGwtdm.png"
                                       class="popup-img overlay-link" title="STEW Recipe/Meal"><i
                                            class="icon-plus-1"></i></a>
                                </div>
                                <div class="overlay-container overlay-visible">
                                    <img src="https://ik.imagekit.io/stewng/Assets/stew_logo_6Nij4I3pQ.png"
                                         alt="STEW Logo">
                                    <a href="https://ik.imagekit.io/stewng/Assets/stew_logo_6Nij4I3pQ.png"
                                       class="popup-img overlay-link" title="STEW Logo"><i class="icon-plus-1"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h2>How Stew Works</h2>
                            {% if all_done %}
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa facere possimus,
                                    inventore ipsam at autem! Necessitatibus aliquam qui itaque quasi, laborum fugit?
                                    Eos
                                    minima quasi aperiam, incidunt dolores aliquid neque!</p>{% endif %}
                            <div class="media">
                                <div class="media-left pr-20">
                                    <a href="#">
                                        <span class="icon circle small default-bg"><i class="icon-eye"></i> </span>
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Choose a Section</h4>
                                    {% if revert_old_code %}
                                        {#                                        Do you want to do the cooking yourself or would you rather relax and have#}
                                        {#                                        S.T.E.W#}
                                        {#                                        cook for you? Do you want to have a taste of a different type of native soup or#}
                                        {#                                        you#}
                                        {#                                        want to try out the fit-fam/keto/diabetic friendly diet? No matter what side you#}
                                        {#                                        are#}
                                        {#                                        on, S.T.E.W offers 3 sections with tasty recipes and delicious meals to satisfy#}
                                        {#                                        your#}
                                        {#                                        taste buds.#}

                                        Choose from Classic, Special and Cooked meal sections for chef prepared meals
                                        and or raw ingredients including spices and cooking directions to help you cook
                                        for Keto, Fit-fam, Diabetic friendly, African and intercontinental dishes all by
                                        yourself.
                                    {% else %}
                                        Choose a recipe from Classic & Special Sections for Raw Ingredients, Spices &
                                        Cooking Directions. Choose a recipe from Cooked Section to have it cooked for
                                        you by our Chefs.
                                    {% endif %}
                                </div>
                            </div>
                            <div class="media">
                                <div class="media-left pr-20">
                                    <a href="#">
                                        <span class="icon circle small default-bg"><i class="fa fa-truck"></i> </span>
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Get Your Delivery</h4>
                                    {% if revert_old_code %}
                                        Have your chosen recipe along with cooking directions and fresh ingredients
                                        delivered to you or have your meal prepared by our chef and delivered to you.
                                    {% else %}
                                        Have your Fresh Ingredients or Cooked Meal delivered to your doorstep.
                                    {% endif %}
                                </div>
                            </div>
                            <div class="media">
                                <div class="media-left pr-20">
                                    <a href="#">
                                        <span class="icon circle small default-bg"><i class="icon-lifebuoy"></i> </span>
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Cook, Eat, Enjoy</h4>
                                    {% if revert_old_code %}
                                        The old “what do you want to eat?” conversation is banished from your life.
                                        Welcome
                                        to the world of S.T.E.W where meals are always planned, delicious and simple.
                                    {% else %}
                                        Cooking is more fun and much quicker with S.T.E.W. Enjoy delicious & tasty
                                        homemade meals with friends and family.
                                    {% endif %}
                                </div>
                            </div>
                            <a href="{{ url_for('.recipes') }}" class="btn btn-lg btn-default btn-animated">Order Now <i
                                    class="fa fa-cart-arrow-down pl-20"></i></a>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6 col-md-push-6">
                            <img class="pv-30" src="{{ url_for('static', filename='images/hiw-small.png') }}"
                                 alt="STEW">
                        </div>
                        <div class="col-md-6 col-md-pull-6">
                            <h2>A new way of handling food</h2>
                            {% if revert_old_code %}
                                <p>
                                    <strong class="default">S.T.E.W</strong> aims to provide every household with the
                                    opportunity to enjoy wholesome
                                    home-cooked meals with no planning, no shopping and no hassle required. We send
                                    cooking
                                    directions on recipe cards along with your ingredients to give you step by step
                                    directions on how to prepare your delicious recipe.
                                </p>
                                <p>Cooking directions that are easy to understand and follow if you choose to cook by
                                    yourself
                                </p>
                                <p>You can choose a meal and have our chefs cook it for you
                                </p>
                                <p>Benefit from our selection of keto, fit-fam, diabetic friendly and paleo recipes
                                </p>
                                <p>Already washed and cleaned ingredients that enable you cook meals in a fraction of
                                    the
                                    time it would take normally
                                </p>
                                <p>Enjoy wholesome home-cooked meals with no planning, no shopping and no hassle
                                    required.
                                    The old “what do you want to eat?” conversation is banished from your life
                                </p>
                            {% else %}
                                <p>
                                    No Planning! No Shopping!! No Hassle!!!
                                </p>
                                <p>
                                    Already Washed and Cleaned Ingredients delivered to your doorstep turns all meals
                                    into INSTANT MEALS.
                                </p>
                                <p>
                                    Easy to understand & follow Cooking Directions are provided should you choose to do
                                    the cooking yourself.
                                </p>
                                <p>
                                    Browse from special recipes suitable for the Keto, Paleo, Fit-fam, Vegan & Diabetic
                                    friendly diets.
                                </p>
                                <p>
                                    You can also choose to have our Chefs cook your meal for you.
                                </p>
                            {% endif %}
                            <a href="{{ url_for('.cooked_meals') }}" class="btn btn-lg btn-default btn-animated">Order
                                Now <i
                                        class="fa fa-cart-arrow-down pl-20"></i></a>
                        </div>
                    </div>
                </div>
                <!-- main end -->

            </div>
        </div>
    </section>
    <!-- main-container end -->
    <section class="video-background pv-40 dark-translucent-bg hovered">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="text-center object-non-visible" data-animation-effect="zoomIn" data-effect-delay="100">
                        Stress-free</h2>
                    <div class="separator object-non-visible" data-animation-effect="zoomIn"
                         data-effect-delay="100"></div>
                    <p class="large text-center object-non-visible" data-animation-effect="zoomIn"
                       data-effect-delay="200">Save time and get more productive in doing other things as we take away
                        the stress of shopping and meal planning.</p>
                    <h2 class="text-center object-non-visible" data-animation-effect="zoomIn" data-effect-delay="300">
                        Wide variety</h2>
                    <div class="separator object-non-visible" data-animation-effect="zoomIn"
                         data-effect-delay="300"></div>
                    <p class="large text-center object-non-visible" data-animation-effect="zoomIn"
                       data-effect-delay="400">Our chef and nutritionist have created a large variety of local and
                        international recipes which are tested and retested to ensure your meals are delicious to taste
                        and easy to make.</p>
                    <p class="text-center"><a href="{{ url_for('.cooked_meals') }}"
                                              class="btn btn-lg btn-gray-transparent object-non-visible"
                                              data-animation-effect="zoomIn" data-effect-delay="500">Order Now</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- section

<!-- section start -->
    <!-- ================ -->
    <div class="pv-40 light-gray-bg">
        <div class="container">
            <h2 class="text-center">Of Course We Also Provide</h2>
            <div class="separator"></div>
            <div class="row mt-20">
                <div class="col-md-6">
                    <div class="feature-box-2 right">
                        <span class="icon without-bg"><i
                                class="text-default fa fa-map-marker"></i></span>
                        <div class="body">
                            <h4 class="title">Outdoor Catering</h4>
                            <p>With valuable experience, we handle the planning and provide stress free execution of
                                your events, weddings, birthdays and any outdoor function while you relax
                                and have fun.</p>
                            <div class="separator-3"></div>
                        </div>
                    </div>
                    <div class="feature-box-2 right">
                        <span class="icon without-bg"><i class="text-default icon-home"></i></span>
                        <div class="body">
                            <h4 class="title">Home Delivery</h4>
                            <p>We deliver fresh ingredients or cooked meals right to your doorstep and in time. No
                                shopping, no planning, no hassle required.</p>
                            <div class="separator-3"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="feature-box-2">
                        <span class="icon without-bg"><i class="text-default fa fa-cutlery"></i></span>
                        <div class="body">
                            <h4 class="title">Ready to go meals</h4>
                            <p>our experienced chefs and nutritionists have designed healthy and delicious recipes ready
                                to be cooked and delivered to you at a moment’s notice.</p>
                            <div class="separator-2"></div>
                        </div>
                    </div>
                    <div class="feature-box-2">
                        <span class="icon without-bg"><i class="text-default fa fa-truck"></i></span>
                        <div class="body">
                            <h4 class="title">Bulk Supply</h4>
                            <p>We accommodate requests for bulk supply of fresh farm produce and livestock to your
                                location.</p>
                            <div class="separator-2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- section end -->


{% endblock body %}
