{% extends "main/layout.html" %}
{% block body %}
    <style>
        .sub_cat_lnk {
            color: inherit;
            text-decoration: none;
        }

        .sub_cat_lnk:hover {
            text-decoration: none;
        }
    </style>
    <div id="page_start"></div>
    {% cache 300, "public", "index", "initial_featured_recipessssss" %}
        <section class="section clearfix">
            <div class="container">
                <h2 class="logo-font text-center text-muted">Chef's Selection</h2>
                <div class="separator"></div>
                <p class="lead text-center">Delicious local and international recipes covering breakfast, <br>
                    lunch & dinner selected & designed weekly by our in-house chefs & nutritionists.</p>
                <div class="owl-carousel carousel-autoplay pl-10 pr-10">
                    {% if featured_menus|length > 1 %}
                        {% for menu in featured_menus %}
                            <a href="{{ url_for('.recipe',id=menu.id,slug=menu.slug) }}">
                                <div class="listing-item pl-10 pr-10 mb-20">
                                    <div class="overlay-container bordered overlay-visible">
                                        <img src="{{ menu.cover_image_url }}" alt="{{ menu.name }}">
                                        <div class="overlay-bottom">
                                            <div class="text">
                                                <h3 class="title" title="{{ menu.name }}">{{ menu.name }}</h3>
                                                <div class="separator light"></div>
                                                <p class="small margin-clear"><em>{{ menu.caption }}</em></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    {% else %}
                        {% if menu %}
                            {% for i in range(1,10) %}
                                <a href="{{ url_for('.recipe',id=menu.id,slug=menu.slug) }}">
                                    <div class="listing-item pl-10 pr-10 mb-20">
                                        <div class="overlay-container bordered overlay-visible">
                                            <img src="{{ menu.cover_image_url }}" alt="{{ menu.name }}">
                                            <div class="overlay-bottom">
                                                <div class="text">
                                                    <h3 class="title">{{ menu.name }}</h3>
                                                    <div class="separator light"></div>
                                                    <p class="small margin-clear"><em>{{ menu.caption }}</em></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </section>
    {% endcache %}
    {% cache 3600, "public", "index", "our_menuu" %}
        <section class="section default-bg clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="text-center logo-font title">Our Menu</h2>
                        <p class="text-center">
                            Checkout our Classic and Special Sections for Raw Ingredients, and Cooked Meal
                                Section <br>to get wowed by our Chefs.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    {% endcache %}
    {% cache 1200, "public", "index", "initial_recipe_feature_categoryyyyyyyyyyy" %}
        <section class="section clearfix">
            <div class="container">
                <div class="main col-md-12">
                    <div class="pricing-tables circle-head object-non-visible" data-animation-effect="fadeInUpSmall"
                         data-effect-delay="0">
                        <div class="row grid-space-10">
                            <div class="col-sm-4">
                                <div class="plan shadow light-gray-bg bordered">
                                    <div class="header dark-bg">
                                        <h3>
                                            Classic
                                            <small style="display:block;color:#fff;font-size:40%;">Raw Ingredients
                                            </small>
                                        </h3>
                                        <div class="price"><span>10%</span> Off</div>
                                    </div>
                                    <ul>
                                        <li><a class="sub_cat_lnk" href="{{ url_for('.classic_recipes') }}">General</a>
                                        </li>
                                        <li><a class="sub_cat_lnk"
                                               href="{{ url_for('.classic_recipes',category='african') }}">African</a>
                                        </li>
                                        <li><a class="sub_cat_lnk"
                                               href="{{ url_for('.classic_recipes',category='intercontinental') }}">Intercontinental</a>
                                        </li>
                                        <li><a class="btn btn-dark btn-animated btn-lg radius-50"
                                               href="{{ url_for('.classic_recipes') }}">Add to cart <i
                                                class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="plan shadow light-gray-bg bordered best-value">
                                    <div class="header default-bg">
                                        <h3>
                                            Special
                                            <small style="display:block;color:#fff;font-size:40%;">Raw Ingredients
                                            </small>
                                        </h3>
                                        <div class="price"><span>15%</span> Off</div>
                                    </div>
                                    <ul>
                                        <li><a class="sub_cat_lnk" href="{{ url_for('.specials',category='keto') }}">Keto
                                            Diet</a></li>
                                        <li><a class="sub_cat_lnk" href="{{ url_for('.specials',category='paleo') }}">Paleo</a>
                                        </li>
                                        <li><a class="sub_cat_lnk"
                                               href="{{ url_for('.specials',category='diabetic-friendly') }}">Diabetic
                                            Friendly</a></li>
                                        <li><a class="sub_cat_lnk" href="{{ url_for('.specials',category='fit-fam') }}">Fit
                                            Fam</a></li>
                                        <li><a class="sub_cat_lnk" href="{{ url_for('.specials',category='vegan') }}">Vegan</a>
                                        </li>
                                        <li><a class="sub_cat_lnk"
                                               href="{{ url_for('.specials',category='child-nutrition') }}">Kids</a>
                                        </li>
                                        <li><a class="btn btn-default btn-animated btn-lg radius-50"
                                               href="{{ url_for('.specials') }}">Add to cart <i
                                                class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="plan shadow light-gray-bg bordered">
                                    <div class="header dark-bg">
                                        <h3>Cooked</h3>
                                        <div class="price"><span>10%</span> Off</div>
                                    </div>
                                    <ul>
                                        <li><a class="sub_cat_lnk" href="{{ url_for('.cooked_meals') }}">Home Made</a>
                                        </li>
                                        <li><a class="sub_cat_lnk" href="{{ url_for('.cooked_meals') }}">Chef
                                            Prepared</a></li>
                                        <li><a class="sub_cat_lnk" href="{{ url_for('.cooked_meals') }}">Organic
                                            Ingredients</a></li>
                                        <li><a class="btn btn-dark btn-animated btn-lg radius-50"
                                               href="{{ url_for('.cooked_meals') }}">Add to cart <i
                                                class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endcache %}

    {% if all_done %}
        <section class="pv-40 dark-translucent-bg parallax"
                 style="background-image:url(https://drive.google.com/open?id=13yyvfkYGAHpriCCw_BHFBjq3IIIMaWcW);">
            <div class="owl-carousel content-slider-with-controls-autoplay-hover-stop buttons-hide">
                <div class="container">
                    <h3 class="logo-font text-center">Main Dishes</h3>
                    <div class="separator"></div>
                    <div class="row">
                        <div class="col-md-4">
                            <ul class="list">
                                <li class="clearfix">
                                    <h4 class="title logo-font">Blackened chicken</h4>
                                    <p class="small">Possimus vitae unde iure sunt id, perspiciatis. <strong
                                            class="pull-right text-default">₦7.99</strong></p>
                                </li>
                                <li class="clearfix">
                                    <h4 class="title logo-font">Caesar's</h4>
                                    <p class="small">At eligendi totam tempore soluta quia, unde similique. <strong
                                            class="pull-right text-default">₦8.99</strong></p>
                                </li>
                                <li class="clearfix">
                                    <h4 class="title logo-font">Bacon &amp; Cheese Salad</h4>
                                    <p class="small">Lorem ipsum dolor sit amet, consectetur <strong
                                            class="pull-right text-default">₦12.99</strong></p>
                                </li>
                                <li class="clearfix">
                                    <h4 class="title logo-font">Mama's</h4>
                                    <p class="small">Aspernatur velit aperiam officiis saepe inventore. <strong
                                            class="pull-right text-default">₦9.99</strong></p>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul class="list">
                                <li class="clearfix">
                                    <h4 class="title logo-font">Kerryann’s Turkish-style couscous</h4>
                                    <p class="small">Reiciendis, sapiente, est. Consequatur adipisci autem. <strong
                                            class="pull-right text-default">₦10.99</strong></p>
                                </li>
                                <li class="clearfix">
                                    <h4 class="title logo-font">Mozzarella &amp; winter fruit salad</h4>
                                    <p class="small">In placeat, aspernatur praesentium distinctio provident. <strong
                                            class="pull-right text-default">₦5.99</strong></p>
                                </li>
                                <li class="clearfix">
                                    <h4 class="title logo-font">Vietnamese bun cha with sticky spicy tofu</h4>
                                    <p class="small">Necessitatibus assumenda expedita repeusdam. <strong
                                            class="pull-right text-default">₦6.99</strong></p>
                                </li>
                                <li class="clearfix">
                                    <h4 class="title logo-font">Tomato carpaccio</h4>
                                    <p class="small">Laudantium voluptas impedit amet molestias error, rem. <strong
                                            class="pull-right text-default">₦9.99</strong></p>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul class="list">
                                <li class="clearfix">
                                    <h4 class="title logo-font">Bacon &amp; Cheese Salad</h4>
                                    <p class="small">Magni, assumenda, maiores. Modi itaque accusamus. <strong
                                            class="pull-right text-default">₦15.99</strong></p>
                                </li>
                                <li class="clearfix">
                                    <h4 class="title logo-font">Michela Chiappa’s zucchini salad</h4>
                                    <p class="small">A facere id iure ipsa, provident mollitia, quo ea, velit. <strong
                                            class="pull-right text-default">₦17.99</strong></p>
                                </li>
                                <li class="clearfix">
                                    <h4 class="title logo-font">Box grater fruit salad</h4>
                                    <p class="small">Consequuntur ad laudantium, voluptate maxime. <strong
                                            class="pull-right text-default">₦11.99</strong></p>
                                </li>
                                <li class="clearfix">
                                    <h4 class="title logo-font">Epic roast chicken salad</h4>
                                    <p class="small">Quod officiis aut non odit velit alias saepe quia quaerat. <strong
                                            class="pull-right text-default">₦16.99</strong></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="space-bottom"></div>
                </div>
                <div class="container">
                    <h3 class="logo-font text-center">Specialties</h3>
                    <div class="separator"></div>
                    <div class="row">
                        <div class="col-md-4">
                            <ul class="list">
                                <li class="clearfix">
                                    <h4 class="title logo-font">Caesar's</h4>
                                    <p class="small">At eligendi totam tempore soluta quia, unde similique. <strong
                                            class="pull-right text-default">₦8.99</strong></p>
                                </li>
                                <li class="clearfix">
                                    <h4 class="title logo-font">Mama's</h4>
                                    <p class="small">Aspernatur velit aperiam officiis saepe inventore. <strong
                                            class="pull-right text-default">₦9.99</strong></p>
                                </li>
                                <li class="clearfix">
                                    <h4 class="title logo-font">Bacon &amp; Cheese Salad</h4>
                                    <p class="small">Lorem ipsum dolor sit amet, consectetur <strong
                                            class="pull-right text-default">₦12.99</strong></p>
                                </li>
                                <li class="clearfix">
                                    <h4 class="title logo-font">Blackened chicken</h4>
                                    <p class="small">Possimus vitae unde iure sunt id, perspiciatis. <strong
                                            class="pull-right text-default">₦7.99</strong></p>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul class="list">
                                <li class="clearfix">
                                    <h4 class="title logo-font">Mozzarella &amp; winter fruit salad</h4>
                                    <p class="small">In placeat, aspernatur praesentium distinctio provident. <strong
                                            class="pull-right text-default">₦5.99</strong></p>
                                </li>
                                <li class="clearfix">
                                    <h4 class="title logo-font">Tomato carpaccio</h4>
                                    <p class="small">Laudantium voluptas impedit amet molestias error, rem. <strong
                                            class="pull-right text-default">₦9.99</strong></p>
                                </li>
                                <li class="clearfix">
                                    <h4 class="title logo-font">Vietnamese bun cha with sticky spicy tofu</h4>
                                    <p class="small">Necessitatibus assumenda expedita repeusdam. <strong
                                            class="pull-right text-default">₦6.99</strong></p>
                                </li>
                                <li class="clearfix">
                                    <h4 class="title logo-font">Kerryann’s Turkish-style couscous</h4>
                                    <p class="small">Reiciendis, sapiente, est. Consequatur adipisci autem. <strong
                                            class="pull-right text-default">₦10.99</strong></p>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul class="list">
                                <li class="clearfix">
                                    <h4 class="title logo-font">Michela Chiappa’s zucchini salad</h4>
                                    <p class="small">A facere id iure ipsa, provident mollitia, quo ea, velit. <strong
                                            class="pull-right text-default">₦17.99</strong></p>
                                </li>
                                <li class="clearfix">
                                    <h4 class="title logo-font">Epic roast chicken salad</h4>
                                    <p class="small">Quod officiis aut non odit velit alias saepe quia quaerat. <strong
                                            class="pull-right text-default">₦16.99</strong></p>
                                </li>
                                <li class="clearfix">
                                    <h4 class="title logo-font">Box grater fruit salad</h4>
                                    <p class="small">Consequuntur ad laudantium, voluptate maxime. <strong
                                            class="pull-right text-default">₦11.99</strong></p>
                                </li>
                                <li class="clearfix">
                                    <h4 class="title logo-font">Bacon &amp; Cheese Salad</h4>
                                    <p class="small">Magni, assumenda, maiores. Modi itaque accusamus. <strong
                                            class="pull-right text-default">₦15.99</strong></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="space-bottom"></div>
                </div>
            </div>
        </section>
    {% endif %}
    {% cache 300, "public", "index", "ini_menu_reviews" %}
        {% if reviews|length > 0 %}
            <section class="section light-gray-bg clearfix">
                <div class="container">
                    <h2 class="logo-font text-center text-muted">Reviews</h2>
                    <div class="separator"></div>
                    <div class="row">
                        {% for review in reviews %}
                            <div class="col-md-4">
                                <div class="testimonial">
                                    <h3 class="title">{{ review.subject }}! </h3>
                                    <span><i class="fa fa-star text-default"></i><i class="fa fa-star text-default"></i><i
                                            class="fa fa-star text-default"></i><i
                                            class="fa fa-star text-default"></i><i
                                            class="fa fa-star text-default"></i></span>
                                    <div class="testimonial-body">
                                        <blockquote>
                                            <p>{{ review.message }}</p>
                                        </blockquote>
                                        <div class="testimonial-info-1">- {{ review.user.name }}</div>
                                        <div class="testimonial-info-2">{{ review.date_created.strftime("%b %m %Y") }}</div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="clearfix visible-md visible-lg"></div>
                    </div>
                </div>
            </section>
        {% endif %}
    {% endcache %}
{% endblock body %}