{% extends "main/layout.html" %}
{% block headerbanner %}
{% endblock headerbanner %}
{% block body%}
<!-- main-container start -->
<!-- ================ -->
<section class="main-container">

    <div class="container">
        <div class="row">

            <!-- main start -->
            <!-- ================ -->
            <div class="main col-md-12">


                <div id="invoice-container" class="invoice-container">
                    <div class="row">
                        <div class="col-sm-6">
                            <img src="{{ url_for('static', filename='images/stew_logo_small.png') }}" alt="logo" width="150px">
                            <address class="small"><br>
                                No. 5 Williams Street,<br>
                                Lagos Island.<br>
                                <abbr title="Phone">P:</abbr> {{ stew_contact_phone.display }}<br>
                                E-mail: <a >{{ stew_contact_email }}</a>
                            </address>
                        </div>
                        <div class="col-sm-offset-3 col-sm-3">
                            <p class="text-right small"><strong>Invoice #{{ order.code }}</strong> <br> {{ order.date_created.strftime("%b %m, %Y") }}</p>
                            <p class="text-right small">
                                <strong>Name:</strong> <span>{{ order.name }}</span> <br>
                                <strong>Address:</strong> {{ order.shipment_address }} <br>
                                <strong>Tel:</strong> {{ order.phone }} <br>
                                <strong>Email:</strong> {{ order.email }}
                            </p>
                        </div>
                    </div>
                    <p class="small"><strong>Comments/PO:</strong> {{ order.shipment_description }}</p>
                    <table class="table cart table-bordered">
                        <thead>
                        <tr>
                            <th>Description</th>
                            <th>Sides</th>
                            <th>People/Size</th>
                            <th class="amount">Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in items %}
                        <tr>
                            <td class="product"><a href="{{ url_for('.recipe',id=item.menu_id,slug=item.menu.skug) }}">{{ item.menu.name }}</a>
                                <small>{{ item.menu.caption }}
                                </small>
                                <small>{{ item.menu_condition_code|capitalize }} Order</small>
                            </td>
                            <td class="price">

                                        <small>
                                            {% for extra in item.extras %}
                                                {% if extra.protein %}
                                                    {{ extra.protein.name }}
                                                    {% if extra.side_dish %}
                                                        , {{ extra.side_dish.name }}
                                                    {% endif %}
                                                {% elif extra.side_dish %}
                                                    {{ extra.side_dish.name }}
                                                {% endif %}
                                            {% endfor %}
                                        </small>
                            </td>
                            <td class="quantity text-center">{{ item.menu_size.name }}</td>
                            <td class="amount">₦{{ number_format(item.total) }}</td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td class="total-quantity text-right" colspan="3"><small>Subtotal</small></td>
                            <td class="amount">₦{{ number_format(order.total + order.discount_applied - order.shipping_charge) }}</td>
                        </tr>
                        <tr>
                            <td class="total-quantity text-right" colspan="3"><small>Discount</small></td>
                            <td class="total-amount">-₦{{ number_format(order.discount_applied) }}</td>
                        </tr>
                        {% if vat %}
                        <tr>
                            <td class="total-quantity" colspan="2">Sales Tax</td>
                            <td class="price">+10%</td>
                            <td class="amount">₦159.76</td>
                        </tr>
                        {% endif %}
                        <tr>
                            <td class="total-quantity text-right" colspan="3"><small>Shipping</small></td>
                            <td class="amount">₦{{ number_format(order.shipping_charge) }}</td>
                        </tr>
                        <tr>
                            <td class="total-quantity text-right" colspan="3"><small>Total ({{ order.total_quantity }} Items)</small></td>
                            <td class="total-amount">₦{{ number_format(order.total) }}</td>
                        </tr>
                        </tbody>
                    </table>
                    <p class="small text-center">If you have any questions concerning this invoice, contact <strong>S.T.E.W
                        </strong>, tel: <strong>{{ stew_contact_phone.display }}</strong>, email:
                        <strong>{{ stew_contact_email }}</strong> <br> Thank you for your order!</p>
                    <hr>
                </div>
                <div class="text-right">
                    <a href="{{ url_for('.print_invoice',id=order.id,code=order.code) }}" target="_blank"
                            class="btn btn-print btn-default-transparent btn-hvr hvr-shutter-out-horizontal">Download <i
                            class="fa fa-download pl-10"></i></a>
                </div>
            </div>
            <!-- main end -->

        </div>
    </div>
</section>
<!-- main-container end -->
{% endblock body%}