<!DOCTYPE html>
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144746871-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-144746871-1');
    </script>
    <meta charset="utf-8">
    <title>S.T.E.W {% if page_title %} | {{ page_title }}{% endif %}</title>
    <meta name="description" content="S.T.E.W:

            {% if page_description %}{{ page_description }}{% else %}Delivers on demand to your doorstep Cooked Meals, Cleaned & Washed Organic Ingredients, Spices, Cooking Directions for quick and instant cooking and dining.{% endif %}">
    <meta name="keywords"
          content="Stew, Cooked, Meal, Recipe, Food, Order, African, Intercontinental, Dishes, Delivery, Special, Classic, Lagos, Nigeria, Ingredient, Cheap, Discount, Free, Subscription, Delicious, Tasty">
    <meta name="author" content="Kunsam002">

    <link rel="canonical" href="{{ canonical_url }}{{ request.path }}"/>
    <meta property="og:url" content="{{ canonical_url }}{{ request.path }}"/>
    <meta property='og:image' content="

            {% if og_image %}{{ og_image }}{% else %}https://ik.imagekit.io/stewng/Assets/Static_stew_logo_small_ON6gptNtQ.png{% endif %}"/>
    <meta property="og:type" content="recipe"/>
    <meta property='og:title' content="S.T.E.W {% if page_title %} | {{ page_title }}{% endif %}"/>
    <meta property='og:site_name' content='S.T.E.W'/>
    <meta property="og:description" content="S.T.E.W:

            {% if page_description %}{{ page_description }}{% else %}Delivers on demand to your doorstep Cooked Meals, Cleaned & Washed Organic Ingredients, Spices, Cooking Directions for quick and instant cooking and dining.{% endif %}"/>

    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% cache 36000, "public", "layout", "public_styles" %}
    <!-- Favicon -->
    <link rel="shortcut icon"
          href="https://ik.imagekit.io/stewng/Assets/Static_stew_fav_small_QPT0b-hGZ.png">

    <!-- Web Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic'
          rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:700,400,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>

    <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans+Condensed:300" rel="stylesheet">

    {% assets "public_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css"/>
    {% endassets %}

    <style>
        #logo {
            max-width: 160px;
            margin-top: -10px;
        }
    </style>

    {% endcache %}

</head>
<body class="no-trans front-page   " ng-app="app">
<h1 class="hidden" style="display:none;">{{ page_title }}</h1>
<div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>

<div class="page-wrapper">
    {% block headerbanner %}
        {% cache 1200, "public", "layout", "initial_header_baannnnnnnnner" %}
            <div class="banner header-top clearfix">
                <div class="slideshow">
                    <div class="slider-banner-container">
                        <div class="slider-banner-fullwidth-big-height">
                            <ul class="slides">
                                <li data-transition="slidehorizontal" data-slotamount="1" data-masterspeed="500"
                                    data-fstransition="fade" data-fsmasterspeed="1000" data-saveperformance="off"
                                    data-title="STEW">

                                    <!-- main image -->
                                    <img src="https://ik.imagekit.io/stewng/Assets/BANNER1_3FO_43kqJ.jpg"
                                         alt="STEW.ng Banner" data-bgposition="center center" data-bgrepeat="no-repeat"
                                         data-bgfit="cover">

                                    <!-- Transparent Background -->
                                    <div class="tp-caption dark-translucent-bg"
                                         data-x="center"
                                         data-y="bottom"
                                         data-speed="600"
                                         data-easing="easeOutQuad"
                                         data-start="0">
                                    </div>

                                    <!-- LAYER NR. 1 -->
                                    <div class="tp-caption sfb fadeout large_white text-center"
                                         data-x="center"
                                         data-y="200"
                                         data-speed="500"
                                         data-start="1000"
                                         data-easing="easeOutQuad"><span
                                            class="logo-font">S.T.E.W: Save Time Eat Well</span>
                                    </div>

                                    <!-- LAYER NR. 2 -->
                                    <div class="tp-caption sfb fadeout large_white tp-resizeme"
                                         data-x="center"
                                         data-y="250"
                                         data-speed="500"
                                         data-start="1300"
                                         data-easing="easeOutQuad">
                                        <div class="separator light"></div>
                                    </div>

                                    <!-- LAYER NR. 3 -->
                                    <div class="tp-caption sfb fadeout medium_white text-center"
                                         data-x="center"
                                         data-y="290"
                                         data-speed="500"
                                         data-start="1300"
                                         data-easing="easeOutQuad"
                                         data-endspeed="600">Learn to cook different local & international dishes<br>
                                        with easy to follow step-by-step directions. Cooking is much quicker and more
                                        fun<br>
                                        with already washed and cleaned ingredients.
                                    </div>

                                    <!-- LAYER NR. 4 -->
                                    <div class="tp-caption fade fadeout"
                                         data-x="center"
                                         data-y="bottom"
                                         data-voffset="-100"
                                         data-speed="500"
                                         data-easing="easeOutQuad"
                                         data-start="2000"
                                         data-endspeed="200">
                                        <a href="{{ url_for('.recipes') }}"
                                           class="hidden-xs hidden-sm visible-md visible-lg btn btn-lg btn-default"
                                           style="display: block;">View Our Recipes</a>
                                        <a href="#page_start"
                                           class="hidden-xs hidden-sm visible-md visible-lg btn btn-lg moving smooth-scroll"
                                           style="display: block;"><i
                                                class="icon-down-open-big"></i><i class="icon-down-open-big"></i><i
                                                class="icon-down-open-big"></i></a>

                                        <a href="{{ url_for('.recipes') }}"
                                           class="hidden-xs visible-sm hidden-md hidden-lg  btn btn-md btn-default"
                                           style="display: block;">View Our Recipes</a>
                                        <a href="#page_start"
                                           class="hidden-xs visible-sm hidden-md hidden-lg  btn btn-md moving smooth-scroll"
                                           style="display: block;"><i
                                                class="icon-down-open-big"></i><i class="icon-down-open-big"></i><i
                                                class="icon-down-open-big"></i></a>

                                        <a href="{{ url_for('.recipes') }}"
                                           class="visible-xs hidden-sm hidden-md hidden-lg  btn btn-sm btn-default"
                                           style="display: block;">View Our Recipes</a>
                                        <a href="#page_start"
                                           class="visible-xs hidden-sm hidden-md hidden-lg  btn btn-sm moving smooth-scroll"
                                           style="display: block;"><i
                                                class="icon-down-open-big"></i><i class="icon-down-open-big"></i><i
                                                class="icon-down-open-big"></i></a>

                                    </div>

                                </li>
                                <li data-transition="slidehorizontal" data-slotamount="1" data-masterspeed="500"
                                    data-fstransition="fade" data-fsmasterspeed="1000" data-saveperformance="off"
                                    data-title="STEW">

                                    <!-- main image -->
                                    <img src="https://ik.imagekit.io/stewng/Assets/BANNER2_lS99H-lme.jpg"
                                         alt="STEW.ng Banner" data-bgposition="center center" data-bgrepeat="no-repeat"
                                         data-bgfit="cover">

                                    <!-- Transparent Background -->
                                    <div class="tp-caption dark-translucent-bg"
                                         data-x="center"
                                         data-y="bottom"
                                         data-speed="600"
                                         data-easing="easeOutQuad"
                                         data-start="0">
                                    </div>

                                    <!-- LAYER NR. 1 -->
                                    <div class="tp-caption sfb fadeout large_white text-center"
                                         data-x="center"
                                         data-y="200"
                                         data-speed="500"
                                         data-start="1000"
                                         data-easing="easeOutQuad"><span
                                            class="logo-font">S.T.E.W: Save Time Eat Well</span>
                                    </div>

                                    <!-- LAYER NR. 2 -->
                                    <div class="tp-caption sfb fadeout large_white tp-resizeme"
                                         data-x="center"
                                         data-y="250"
                                         data-speed="500"
                                         data-start="1300"
                                         data-easing="easeOutQuad">
                                        <div class="separator light"></div>
                                    </div>

                                    <!-- LAYER NR. 3 -->
                                    <div class="tp-caption sfb fadeout medium_white text-center"
                                         data-x="center"
                                         data-y="290"
                                         data-speed="500"
                                         data-start="1300"
                                         data-easing="easeOutQuad"
                                         data-endspeed="600">Looking for delicious and highly nutritious recipes,<br>
                                        with cleaned quality organic ingredients that are portioned in exact
                                        quantities<br>
                                        along with step-by-step on how to prepare the recipe.
                                    </div>

                                    <!-- LAYER NR. 4 -->
                                    <div class="tp-caption fade fadeout"
                                         data-x="center"
                                         data-y="bottom"
                                         data-voffset="-100"
                                         data-speed="500"
                                         data-easing="easeOutQuad"
                                         data-start="2000"
                                         data-endspeed="200">
                                        <a href="{{ url_for('.recipes') }}"
                                           class="hidden-xs hidden-sm visible-md visible-lg btn btn-lg btn-default"
                                           style="display: block;">View Our Recipes</a>
                                        <a href="#page_start"
                                           class="hidden-xs hidden-sm visible-md visible-lg btn btn-lg moving smooth-scroll"
                                           style="display: block;"><i
                                                class="icon-down-open-big"></i><i class="icon-down-open-big"></i><i
                                                class="icon-down-open-big"></i></a>

                                        <a href="{{ url_for('.recipes') }}"
                                           class="hidden-xs visible-sm hidden-md hidden-lg  btn btn-md btn-default"
                                           style="display: block;">View Our Recipes</a>
                                        <a href="#page_start"
                                           class="hidden-xs visible-sm hidden-md hidden-lg  btn btn-md moving smooth-scroll"
                                           style="display: block;"><i
                                                class="icon-down-open-big"></i><i class="icon-down-open-big"></i><i
                                                class="icon-down-open-big"></i></a>

                                        <a href="{{ url_for('.recipes') }}"
                                           class="visible-xs hidden-sm hidden-md hidden-lg  btn btn-sm btn-default"
                                           style="display: block;">View Our Recipes</a>
                                        <a href="#page_start"
                                           class="visible-xs hidden-sm hidden-md hidden-lg  btn btn-sm moving smooth-scroll"
                                           style="display: block;"><i
                                                class="icon-down-open-big"></i><i class="icon-down-open-big"></i><i
                                                class="icon-down-open-big"></i></a>

                                    </div>

                                </li>
                                <li data-transition="slidehorizontal" data-slotamount="1" data-masterspeed="500"
                                    data-fstransition="fade" data-fsmasterspeed="1000" data-saveperformance="off"
                                    data-title="STEW">

                                    <!-- main image -->
                                    <img src="https://ik.imagekit.io/stewng/Assets/BANNER3_OgzFPgGMZ.jpg"
                                         alt="STEW.ng Banner" data-bgposition="center center" data-bgrepeat="no-repeat"
                                         data-bgfit="cover">

                                    <!-- Transparent Background -->
                                    <div class="tp-caption dark-translucent-bg"
                                         data-x="center"
                                         data-y="bottom"
                                         data-speed="600"
                                         data-easing="easeOutQuad"
                                         data-start="0">
                                    </div>

                                    <!-- LAYER NR. 1 -->
                                    <div class="tp-caption sfb fadeout large_white text-center"
                                         data-x="center"
                                         data-y="200"
                                         data-speed="500"
                                         data-start="1000"
                                         data-easing="easeOutQuad"><span
                                            class="logo-font">S.T.E.W: Save Time Eat Well</span>
                                    </div>

                                    <!-- LAYER NR. 2 -->
                                    <div class="tp-caption sfb fadeout large_white tp-resizeme"
                                         data-x="center"
                                         data-y="250"
                                         data-speed="500"
                                         data-start="1300"
                                         data-easing="easeOutQuad">
                                        <div class="separator light"></div>
                                    </div>

                                    <!-- LAYER NR. 3 -->
                                    <div class="tp-caption sfb fadeout medium_white text-center"
                                         data-x="center"
                                         data-y="290"
                                         data-speed="500"
                                         data-start="1300"
                                         data-easing="easeOutQuad"
                                         data-endspeed="600">Keto, Paleo, Fit-fam, Diabetic friendly and Vegan diets<br>
                                        made so easily accessible, with best quality nutritionist designed diet,<br>
                                        all available in the special recipe section.
                                    </div>

                                    <!-- LAYER NR. 4 -->
                                    <div class="tp-caption fade fadeout"
                                         data-x="center"
                                         data-y="bottom"
                                         data-voffset="-100"
                                         data-speed="500"
                                         data-easing="easeOutQuad"
                                         data-start="2000"
                                         data-endspeed="200">
                                        <a href="{{ url_for('.recipes') }}"
                                           class="hidden-xs hidden-sm visible-md visible-lg btn btn-lg btn-default"
                                           style="display: block;">View Our Recipes</a>
                                        <a href="#page_start"
                                           class="hidden-xs hidden-sm visible-md visible-lg btn btn-lg moving smooth-scroll"
                                           style="display: block;"><i
                                                class="icon-down-open-big"></i><i class="icon-down-open-big"></i><i
                                                class="icon-down-open-big"></i></a>

                                        <a href="{{ url_for('.recipes') }}"
                                           class="hidden-xs visible-sm hidden-md hidden-lg  btn btn-md btn-default"
                                           style="display: block;">View Our Recipes</a>
                                        <a href="#page_start"
                                           class="hidden-xs visible-sm hidden-md hidden-lg  btn btn-md moving smooth-scroll"
                                           style="display: block;"><i
                                                class="icon-down-open-big"></i><i class="icon-down-open-big"></i><i
                                                class="icon-down-open-big"></i></a>

                                        <a href="{{ url_for('.recipes') }}"
                                           class="visible-xs hidden-sm hidden-md hidden-lg  btn btn-sm btn-default"
                                           style="display: block;">View Our Recipes</a>
                                        <a href="#page_start"
                                           class="visible-xs hidden-sm hidden-md hidden-lg  btn btn-sm moving smooth-scroll"
                                           style="display: block;"><i
                                                class="icon-down-open-big"></i><i class="icon-down-open-big"></i><i
                                                class="icon-down-open-big"></i></a>

                                    </div>

                                </li>
                                <li data-transition="slidehorizontal" data-slotamount="1" data-masterspeed="500"
                                    data-fstransition="fade" data-fsmasterspeed="1000" data-saveperformance="off"
                                    data-title="STEW">

                                    <!-- main image -->
                                    <img src="https://ik.imagekit.io/stewng/Assets/BANNER4_vJsjJAuOg.jpg"
                                         alt="STEW.ng Banner" data-bgposition="center center" data-bgrepeat="no-repeat"
                                         data-bgfit="cover">

                                    <!-- Transparent Background -->
                                    <div class="tp-caption dark-translucent-bg"
                                         data-x="center"
                                         data-y="bottom"
                                         data-speed="600"
                                         data-easing="easeOutQuad"
                                         data-start="0">
                                    </div>


                                    <!-- LAYER NR. 1 -->
                                    <div class="tp-caption sfb fadeout large_white text-center"
                                         data-x="center"
                                         data-y="200"
                                         data-speed="500"
                                         data-start="1000"
                                         data-easing="easeOutQuad"><span
                                            class="logo-font">S.T.E.W: Save Time Eat Well</span>
                                    </div>

                                    <!-- LAYER NR. 2 -->
                                    <div class="tp-caption sfb fadeout large_white tp-resizeme"
                                         data-x="center"
                                         data-y="250"
                                         data-speed="500"
                                         data-start="1300"
                                         data-easing="easeOutQuad">
                                        <div class="separator light"></div>
                                    </div>

                                    <!-- LAYER NR. 3 -->
                                    <div class="tp-caption sfb fadeout medium_white text-center"
                                         data-x="center"
                                         data-y="290"
                                         data-speed="500"
                                         data-start="1300"
                                         data-easing="easeOutQuad"
                                         data-endspeed="600">No planning!, No shopping!, No hassle!!!<br>
                                        The old "what do I want to eat?" thought is banished never to be mentioned
                                        again.<br>
                                        Cook and eat healthy meals with no worries.
                                    </div>

                                    <!-- LAYER NR. 4 -->
                                    <div class="tp-caption fade fadeout"
                                         data-x="center"
                                         data-y="bottom"
                                         data-voffset="-100"
                                         data-speed="500"
                                         data-easing="easeOutQuad"
                                         data-start="2000"
                                         data-endspeed="200">
                                        <a href="{{ url_for('.recipes') }}"
                                           class="hidden-xs hidden-sm visible-md visible-lg btn btn-lg btn-default"
                                           style="display: block;">View Our Recipes</a>
                                        <a href="#page_start"
                                           class="hidden-xs hidden-sm visible-md visible-lg btn btn-lg moving smooth-scroll"
                                           style="display: block;"><i
                                                class="icon-down-open-big"></i><i class="icon-down-open-big"></i><i
                                                class="icon-down-open-big"></i></a>

                                        <a href="{{ url_for('.recipes') }}"
                                           class="hidden-xs visible-sm hidden-md hidden-lg  btn btn-md btn-default"
                                           style="display: block;">View Our Recipes</a>
                                        <a href="#page_start"
                                           class="hidden-xs visible-sm hidden-md hidden-lg  btn btn-md moving smooth-scroll"
                                           style="display: block;"><i
                                                class="icon-down-open-big"></i><i class="icon-down-open-big"></i><i
                                                class="icon-down-open-big"></i></a>

                                        <a href="{{ url_for('.recipes') }}"
                                           class="visible-xs hidden-sm hidden-md hidden-lg  btn btn-sm btn-default"
                                           style="display: block;">View Our Recipes</a>
                                        <a href="#page_start"
                                           class="visible-xs hidden-sm hidden-md hidden-lg  btn btn-sm moving smooth-scroll"
                                           style="display: block;"><i
                                                class="icon-down-open-big"></i><i class="icon-down-open-big"></i><i
                                                class="icon-down-open-big"></i></a>

                                    </div>

                                </li>
                                <li data-transition="slidehorizontal" data-slotamount="1" data-masterspeed="500"
                                    data-fstransition="fade" data-fsmasterspeed="1000" data-saveperformance="off"
                                    data-title="STEW">

                                    <!-- main image -->
                                    <img src="https://ik.imagekit.io/stewng/Assets/BANNER5_-M4jOobF0.jpg"
                                         alt="STEW.ng Banner" data-bgposition="center center" data-bgrepeat="no-repeat"
                                         data-bgfit="cover">

                                    <!-- Transparent Background -->
                                    <div class="tp-caption dark-translucent-bg"
                                         data-x="center"
                                         data-y="bottom"
                                         data-speed="600"
                                         data-easing="easeOutQuad"
                                         data-start="0">
                                    </div>

                                    <!-- LAYER NR. 1 -->
                                    <div class="tp-caption sfb fadeout large_white text-center"
                                         data-x="center"
                                         data-y="200"
                                         data-speed="500"
                                         data-start="1000"
                                         data-easing="easeOutQuad"><span
                                            class="logo-font">S.T.E.W: Save Time Eat Well</span>
                                    </div>

                                    <!-- LAYER NR. 2 -->
                                    <div class="tp-caption sfb fadeout large_white tp-resizeme"
                                         data-x="center"
                                         data-y="250"
                                         data-speed="500"
                                         data-start="1300"
                                         data-easing="easeOutQuad">
                                        <div class="separator light"></div>
                                    </div>

                                    <!-- LAYER NR. 3 -->
                                    <div class="tp-caption sfb fadeout medium_white text-center"
                                         data-x="center"
                                         data-y="290"
                                         data-speed="500"
                                         data-start="1300"
                                         data-easing="easeOutQuad"
                                         data-endspeed="600">With S.T.E.W, variety is truly the spice of life!<br>
                                        New meal combos & selections every week to ensure you don't get stuck eating the
                                        same meals<br>
                                        and getting used to the same boring taste ever again.
                                    </div>

                                    <!-- LAYER NR. 4 -->
                                    <div class="tp-caption fade fadeout"
                                         data-x="center"
                                         data-y="bottom"
                                         data-voffset="-100"
                                         data-speed="500"
                                         data-easing="easeOutQuad"
                                         data-start="2000"
                                         data-endspeed="200">
                                        <a href="{{ url_for('.recipes') }}"
                                           class="hidden-xs hidden-sm visible-md visible-lg btn btn-lg btn-default"
                                           style="display: block;">View Our Recipes</a>
                                        <a href="#page_start"
                                           class="hidden-xs hidden-sm visible-md visible-lg btn btn-lg moving smooth-scroll"
                                           style="display: block;"><i
                                                class="icon-down-open-big"></i><i class="icon-down-open-big"></i><i
                                                class="icon-down-open-big"></i></a>

                                        <a href="{{ url_for('.recipes') }}"
                                           class="hidden-xs visible-sm hidden-md hidden-lg  btn btn-md btn-default"
                                           style="display: block;">View Our Recipes</a>
                                        <a href="#page_start"
                                           class="hidden-xs visible-sm hidden-md hidden-lg  btn btn-md moving smooth-scroll"
                                           style="display: block;"><i
                                                class="icon-down-open-big"></i><i class="icon-down-open-big"></i><i
                                                class="icon-down-open-big"></i></a>

                                        <a href="{{ url_for('.recipes') }}"
                                           class="visible-xs hidden-sm hidden-md hidden-lg  btn btn-sm btn-default"
                                           style="display: block;">View Our Recipes</a>
                                        <a href="#page_start"
                                           class="visible-xs hidden-sm hidden-md hidden-lg  btn btn-sm moving smooth-scroll"
                                           style="display: block;"><i
                                                class="icon-down-open-big"></i><i class="icon-down-open-big"></i><i
                                                class="icon-down-open-big"></i></a>

                                    </div>

                                </li>
                                <li data-transition="slidehorizontal" data-slotamount="1" data-masterspeed="500"
                                    data-fstransition="fade" data-fsmasterspeed="1000" data-saveperformance="off"
                                    data-title="STEW">

                                    <!-- main image -->
                                    <img src="https://ik.imagekit.io/stewng/Assets/BANNER6_fYqahFjRq.jpg"
                                         alt="STEW.ng Banner" data-bgposition="center center" data-bgrepeat="no-repeat"
                                         data-bgfit="cover">

                                    <!-- Transparent Background -->
                                    <div class="tp-caption dark-translucent-bg"
                                         data-x="center"
                                         data-y="bottom"
                                         data-speed="600"
                                         data-easing="easeOutQuad"
                                         data-start="0">
                                    </div>

                                    <!-- LAYER NR. 1 -->
                                    <div class="tp-caption sfb fadeout large_white text-center"
                                         data-x="center"
                                         data-y="200"
                                         data-speed="500"
                                         data-start="1000"
                                         data-easing="easeOutQuad"><span
                                            class="logo-font">S.T.E.W: Save Time Eat Well</span>
                                    </div>

                                    <!-- LAYER NR. 2 -->
                                    <div class="tp-caption sfb fadeout large_white tp-resizeme"
                                         data-x="center"
                                         data-y="250"
                                         data-speed="500"
                                         data-start="1300"
                                         data-easing="easeOutQuad">
                                        <div class="separator light"></div>
                                    </div>

                                    <!-- LAYER NR. 3 -->
                                    <div class="tp-caption sfb fadeout medium_white text-center"
                                         data-x="center"
                                         data-y="290"
                                         data-speed="500"
                                         data-start="1300"
                                         data-easing="easeOutQuad"
                                         data-endspeed="600">Less waste and no leftovers with ingredients measured and
                                        <br>
                                        portioned to the exact size and number of people the meal is being prepared for.
                                    </div>

                                    <!-- LAYER NR. 4 -->
                                    <div class="tp-caption fade fadeout"
                                         data-x="center"
                                         data-y="bottom"
                                         data-voffset="-100"
                                         data-speed="500"
                                         data-easing="easeOutQuad"
                                         data-start="2000"
                                         data-endspeed="200">
                                        <a href="{{ url_for('.recipes') }}"
                                           class="hidden-xs hidden-sm visible-md visible-lg btn btn-lg btn-default"
                                           style="display: block;">View Our Recipes</a>
                                        <a href="#page_start"
                                           class="hidden-xs hidden-sm visible-md visible-lg btn btn-lg moving smooth-scroll"
                                           style="display: block;"><i
                                                class="icon-down-open-big"></i><i class="icon-down-open-big"></i><i
                                                class="icon-down-open-big"></i></a>

                                        <a href="{{ url_for('.recipes') }}"
                                           class="hidden-xs visible-sm hidden-md hidden-lg  btn btn-md btn-default"
                                           style="display: block;">View Our Recipes</a>
                                        <a href="#page_start"
                                           class="hidden-xs visible-sm hidden-md hidden-lg  btn btn-md moving smooth-scroll"
                                           style="display: block;"><i
                                                class="icon-down-open-big"></i><i class="icon-down-open-big"></i><i
                                                class="icon-down-open-big"></i></a>

                                        <a href="{{ url_for('.recipes') }}"
                                           class="visible-xs hidden-sm hidden-md hidden-lg  btn btn-sm btn-default"
                                           style="display: block;">View Our Recipes</a>
                                        <a href="#page_start"
                                           class="visible-xs hidden-sm hidden-md hidden-lg  btn btn-sm moving smooth-scroll"
                                           style="display: block;"><i
                                                class="icon-down-open-big"></i><i class="icon-down-open-big"></i><i
                                                class="icon-down-open-big"></i></a>

                                    </div>

                                </li>
                            </ul>
                            <div class="tp-bannertimer"></div>
                        </div>
                    </div>
                </div>
            </div>
        {% endcache %}
    {% endblock headerbanner %}

    {% block headernav %}
        <div class="header-container">
            {% cache 3600, "public", "layout", "header_delivery_info_initiall" %}
                <div class="header-top dark ">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <div class="header-top-first clearfix text-center">
                                    <ul class="list-inline">
                                        <li><i class="fa fa-truck pr-5 pl-10"></i><strong>Express delivery:</strong>
                                            Same day delivery for orders before 1pm, next day for orders afterwards.
                                        </li>
                                        {% if show_regular_delivery %}
                                            <li><strong>Regular delivery:</strong> We deliver on Sunday, Monday,
                                                Wednesday
                                                and Friday.
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endcache %}
            <header class="header fixed  gray clearfix">
                <div class="container">
                    <div class="row">
                        {% cache 3600, "public", "layout", "header_logo" %}
                            <div class="col-md-3">
                                <div class="header-left clearfix">
                                    <div id="logo" class="logo">
                                        <a href="{{ url_for('.index') }}"><img id="logo_img"
                                                                               src="https://ik.imagekit.io/stewng/Assets/Static_stew_logo_small_ON6gptNtQ.png"
                                                                               alt="STEW.ng Logo"></a>
                                    </div>
                                </div>
                            </div>
                        {% endcache %}
                        <div class="col-md-9">
                            <div class="header-right clearfix" ng-controller="HeaderController" ng-init="init()">
                                <div class="main-navigation  animated ">
                                    <nav class="navbar navbar-default" role="navigation">
                                        <div class="container-fluid">
                                            <div class="navbar-header">
                                                <a href="{% if current_user.is_authenticated %}
                                                    {{ url_for('.cart') }}
                                                {% else %}{{ url_for('.login',next=request.path) }}{% endif %}"
                                                   class="btn visible-xs visible-sm hidden-md hidden-lg"
                                                   style="float:right !important; margin:9px 15px 9px 0;background:transparent;
                                                        padding: 4px 8px;font-size: 18px;position: relative; color:#aaa;
                                                        border: 1px solid #ccc;border-radius: 4px;">
                                                    <i class=" icon-basket-1"></i>
                                                    <span class="cart-count default-bg" ng-if!="total_quantity">0</span>
                                                    <span class="cart-count default-bg" ng-if="total_quantity">[[total_quantity]]</span>
                                                </a>
                                                <button type="button" class="navbar-toggle" data-toggle="collapse"
                                                        style="float:none !important; margin-left: 15px; margin-right: 0px;"
                                                        data-target="#navbar-collapse-1">
                                                    <span class="sr-only">Toggle navigation</span>
                                                    <span class="icon-bar"></span>
                                                    <span class="icon-bar"></span>
                                                    <span class="icon-bar"></span>
                                                </button>
                                            </div>
                                            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                                                <style>
                                                    #lgout_drpdwn {
                                                        padding: 0;
                                                        width: 170px;
                                                    }
                                                </style>
                                                <div class="header-dropdown-buttons hidden-xs hidden-sm navbar-right">
                                                    <div class="btn-group dropdown">
                                                        <button type="button" class="btn dropdown-toggle"
                                                                data-toggle="dropdown"><i class="icon-search"></i>
                                                        </button>
                                                        <ul class="dropdown-menu dropdown-menu-right dropdown-animation">
                                                            <li>
                                                                <form role="search" action="{{ url_for('.search') }}"
                                                                      method="get" class="search-box margin-clear">
                                                                    <div class="form-group has-feedback">
                                                                        <input type="text" class="form-control" name="q"
                                                                               placeholder="





                                                                                       {% if search_q %}{{ search_q }}{% else %}Search{% endif %}">
                                                                        <i class="icon-search form-control-feedback"></i>
                                                                    </div>
                                                                </form>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="btn-group dropdown active">
                                                        {% if current_user.is_authenticated %}
                                                            <button type="button"
                                                                    class="btn dropdown-toggle login_btn_lnk"
                                                                    data-toggle="dropdown"
                                                                    title="{{ current_user.username }}">
                                                                <i class="icon-user"></i></span>
                                                            </button>
                                                            <ul class="dropdown-menu dropdown-animation"
                                                                id="lgout_drpdwn">
                                                                <li><a href="{{ url_for('.logout') }}">Logout</a></li>
                                                            </ul>
                                                        {% else %}
                                                            <a href="{{ url_for('.login',next=request.path) }}"
                                                               class="btn login_btn_lnk"><i

                                                                    class="icon-user"></i></a>
                                                        {% endif %}
                                                    </div>
                                                    <div class="btn-group dropdown">
                                                        <button type="button" class="btn dropdown-toggle"
                                                                data-toggle="dropdown"><i
                                                                class="icon-basket-1"></i>
                                                            <span class="cart-count default-bg" ng-if!="total_quantity">0</span>
                                                            <span class="cart-count default-bg" ng-if="total_quantity">[[total_quantity]]</span>
                                                        </button>
                                                        <ul class="dropdown-menu dropdown-menu-right dropdown-animation cart">
                                                            <li>
                                                                <table class="table table-hover">
                                                                    <thead>
                                                                    <tr>
                                                                        <th class="product">Recipe</th>

                                                                        <th class="quantity">Size</th>
                                                                        <th class="amount">Subtotal</th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>

                                                                    <tr ng-repeat="obj in cart_items">

                                                                        <td class="product">
                                                                            <a href="[[obj.menu_url]]">[[obj.menu_name]]</a>
                                                                            <span
                                                                                    class="small">[[obj.category]]
                                                                        </span>

                                                                            <span class="small">

                                                                                [[obj.protein]] [[obj.side_dish]]
                                                                        </span>

                                                                        </td>
                                                                        <td class="quantity text-center">
                                                                            [[obj.menu_size]]
                                                                        </td>
                                                                        <td class="amount text-right">
                                                                            ₦[[obj.total]]
                                                                        </td>
                                                                    </tr>

                                                                    </tbody>
                                                                </table>
                                                                <div class="panel-body text-right">
                                                                    {% if current_user.is_authenticated %}
                                                                        <a href="{{ url_for('.cart') }}"
                                                                           class="btn btn-group btn-gray btn-sm">View
                                                                            <span ng-if="total_quantity>3">More in </span>Cart</a>
                                                                        <a href="{{ url_for('.checkout') }}"
                                                                           class="btn btn-group btn-gray btn-sm">Checkout</a>
                                                                    {% else %}
                                                                        <a href="{{ url_for('.login',next=request.path) }}"
                                                                           class="btn btn-group btn-gray btn-sm">View
                                                                            <span ng-if="total_quantity>3">More in </span>Cart</a>
                                                                        <a href="{{ url_for('.login',next=request.path) }}"
                                                                           class="btn btn-group btn-gray btn-sm">Checkout</a>
                                                                    {% endif %}
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <ul class="nav navbar-nav navbar-left">
                                                    <li class="dropdown {% if request.path==url_for('.recipes') %}active{% endif %}">
                                                        <a href="{{ url_for('.recipes') }}">Our Recipes</a>
                                                        <ul class="dropdown-menu">
                                                            <li><a href="{{ url_for('.classic_recipes') }}">Classic</a>
                                                            </li>
                                                            <li><a href="{{ url_for('.specials') }}">Special</a>
                                                            </li>
                                                            <li><a href="{{ url_for('.cooked_meals') }}">Cooked
                                                                Meals</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    {% if subscription_complete %}
                                                        <li class="{% if request.path==url_for('.subscription') %}active{% endif %}">
                                                            <a href="{{ url_for('.subscription') }}">Subscription</a>
                                                        </li>
                                                    {% endif %}
                                                    <li class="{% if request.path==url_for('.how_it_works') %}active{% endif %}">
                                                        <a href="{{ url_for('.how_it_works') }}">How It Works</a>
                                                    </li>
                                                    <li class="{% if request.path==url_for('.about') %}active{% endif %}">
                                                        <a href="{{ url_for('.about') }}">About Stew</a>
                                                    </li>
                                                    <li class="{% if request.path==url_for('.contact') %}active{% endif %}">
                                                        <a href="{{ url_for('.contact') }}">Contact Us</a>
                                                    </li>

                                                    <li class="visible-xs visible-sm hidden-lg hidden-md">
                                                        {% if current_user.is_authenticated %}
                                                            <a href="{{ url_for('.logout') }}"><i class="icon-user"></i>
                                                                Logout</a>
                                                        {% else %}
                                                            <a href="{{ url_for('.login',next=request.path) }}"><i
                                                                    class="icon-user"></i> Login</a>
                                                        {% endif %}
                                                    </li>
                                                    <li class="visible-xs visible-sm hidden-lg hidden-md">
                                                        <form role="search" action="{{ url_for('.search') }}"
                                                              style="margin:0 0 -7px;"
                                                              method="get" class="search-box">
                                                            <div class="form-group has-feedback">
                                                                <input type="text" class="form-control" name="q"
                                                                       style="border-radius:0;"
                                                                       placeholder="



                                                                               {% if search_q %}{{ search_q }}{% else %}Search{% endif %}">
                                                                <i class="icon-search form-control-feedback"></i>
                                                            </div>
                                                        </form>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        </div>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for message, status in messages %}
                    <div class="alert alert-{{ status }} alert-dismissible text-center animated object-visible fadeInDown"
                         role="alert" id="alert_noti" data-animation-effect="fadeInDown" data-effect-delay="800">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                aria-hidden="true">×</span></button>
                        <strong>{{ status|capitalize }}!</strong> {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    {% endblock headernav %}
    {% block body %}
    {% endblock body %}

    {% block footer %}
        {% cache 36000, "public", "layout", "initial_footerrrrrrrrrr" %}
            <div class="dark-bg  default-hovered footer-top animated-text">
                {% if delivery_footer %}
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="call-to-action text-center">
                                    <div class="row">
                                        <div class="col-sm-9">
                                            <style>
                                                .delivery_period {
                                                    margin: 0 5px;
                                                    text-transform: none;
                                                    color: #333;
                                                }
                                            </style>
                                            <h2>Trusted and Reliable Delivery </h2>
                                            <h2 style=" margin-top: 5px;">
                                                <span>Order Delivery Happens On</span>
                                                <small>
                                                    <ul style="margin-top:5px;">
                                                        <li class="inline delivery_period">Sunday</li>
                                                        <li class="inline delivery_period">Monday</li>
                                                        <li class="inline delivery_period">Wednesday</li>
                                                        <li class="inline delivery_period">Friday</li>
                                                    </ul>
                                                </small>
                                            </h2>
                                        </div>
                                        <div class="col-sm-3">
                                            <p class="mt-10"><a href="{{ url_for('.recipes') }}"
                                                                class="btn btn-animated btn-lg btn-gray-transparent ">Book
                                                Now<i
                                                        class="fa fa-truck pl-20"></i></a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="call-to-action text-center">
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <h2>Call to Book: {{ stew_contact_phone.display }} </h2>
                                            <h2>Call Us Now</h2>
                                        </div>
                                        <div class="col-sm-4">
                                            <p class="mt-10"><a href="tel:{{ stew_contact_phone.value }}"
                                                                class="btn btn-animated btn-lg btn-gray-transparent ">Call
                                                Us<i
                                                        class="fa fa-phone pl-20"></i></a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
            <footer id="footer" class="clearfix dark">
                <div class="footer">
                    <div class="container">
                        <div class="footer-inner">
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3">
                                    <div class="footer-content text-center padding-ver-clear">
                                        <a href="{{ url_for('.index') }}" class="logo-footer"><img id="logo-footer"
                                                                                                   class="center-block"
                                                                                                   src="https://ik.imagekit.io/stewng/Assets/Static_stew_logo_small_ON6gptNtQ.png"
                                                                                                   alt="STEW.ng Logo"></a>
                                        <p>
                                            S.T.E.W (INSTANT MEALS) delivers on demand to your doorstep all you need
                                            Cooked Meals, Cleaned & Washed Organic Ingredients, Spices, Cooking
                                            Directions
                                            for quick and instant cooking and dining.
                                        </p>
                                        <ul class="list-inline mb-20">
                                            <li><i class="text-default fa fa-map-marker pr-5"></i>5 Williams Str., Lagos
                                                Island.
                                            </li>
                                            <li><a href="tel:{{ stew_contact_phone.value }}" class="link-dark"><i
                                                    class="text-default fa fa-phone pl-10 pr-5"></i>{{ stew_contact_phone.display }}
                                            </a>
                                            </li>
                                            <li><a href="mailto:{{ stew_contact_email }}" class="link-dark"><i
                                                    class="text-default fa fa-envelope-o pl-10 pr-5"></i>{{ stew_contact_email }}
                                            </a>
                                            </li>
                                        </ul>
                                        <ul class="list-inline mb-20">

                                            <li style="border-right: 0.5px solid #777;"><a href="{{ url_for('.faq') }}"
                                                                                           class="link-dark">FAQ</a>
                                            </li>
                                            <li style="border-right: 0.5px solid #777;"><a
                                                    href="{{ url_for('.privacy_policy') }}" class="link-dark">Privacy
                                                Policy</a>
                                            </li>
                                            <li><a href="{{ url_for('.terms') }}" class="link-dark">Terms &
                                                Condition</a>
                                            </li>
                                        </ul>
                                        <ul class="social-links circle animated-effect-1 margin-clear">
                                            <li class="facebook"><a target="_blank"
                                                                    href="https://www.facebook.com/stew9ja/"><i
                                                    class="fa fa-facebook"></i></a></li>
                                            <li class="twitter"><a target="_blank" href="https://twitter.com/ng_stew"><i
                                                    class="fa fa-twitter"></i></a></li>
                                            <li class="linkedin"><a target="_blank"
                                                                    href="https://www.linkedin.com/company/s-t-e-w-nigeria/"><i
                                                    class="fa fa-linkedin"></i></a></li>
                                            <li class="instagram"><a target="_blank"
                                                                     href="https://www.instagram.com/stew.ng/"><i
                                                    class="fa fa-instagram"></i></a></li>
                                        </ul>
                                        <style>
                                            #ssl_trust_logo {
                                                margin: 15px auto;
                                                text-align: center;
                                            }

                                            #ssl_trust_logo img {
                                                margin: auto !important;
                                            }
                                        </style>
                                        <div id="ssl_trust_logo">
                                            <script type="text/javascript"> //<![CDATA[
                                            var tlJsHost = ((window.location.protocol == "https:") ? "https://secure.trust-provider.com/" : "http://www.trustlogo.com/");
                                            document.write(unescape("%3Cscript src='" + tlJsHost + "trustlogo/javascript/trustlogo.js' type='text/javascript'%3E%3C/script%3E"));
                                            //]]>
                                            </script>
                                            <script language="JavaScript" type="text/javascript">
                                                TrustLogo("https://www.positivessl.com/images/seals/positivessl_trust_seal_sm_124x32.png", "POSDV", "none");
                                            </script>
                                        </div>
                                        <div class="separator"></div>
                                        <p class="text-center margin-clear">
                                            Copyright © {{ current_year }} <a target="_blank"
                                                                              href="{{ url_for('.index') }}">Stew.ng</a>
                                            All
                                            Rights
                                            Reserved. Developed by Kunsam002.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        {% endcache %}
    {% endblock footer %}

</div>
<!-- page-wrapper end -->
<script type="text/javascript">
    window.CART_NOTI_URL = "{{url_for('.cart_notification')}}";
    window.HEADER_URL = "{{url_for('.header_data')}}";

</script>

{% cache 36000, "public", "layout", "public_scripts" %}
{% assets "public_js" %}
    <script src="{{ ASSET_URL }}" type="text/javascript"></script>
{% endassets %}
{% endcache %}

{% block script_assets %}
    <script src="{{ url_for('static', filename='main/js/angular.js') }}"></script>
    <script src="{{ url_for('static', filename='main/js/angular-route.js') }}"></script>
    <script src="{{ url_for('static', filename='main/js/angular-resource.js') }}"></script>
    <script src="{{ url_for('static', filename='main/js/angular-timer.min.js') }}"></script>
    <script src="{{ url_for('static', filename='main/js/app.js') }}"></script>
{% endblock script_assets %}

{% block page_js %}
{% endblock page_js %}

</body>
</html>
