{% extends "main/layout.html" %}
{% block headernav %}
{% endblock headernav %}

{% block headerbanner %}
{% endblock headerbanner %}

{% block body %}
<style>
    #registerForm{
        display: none;
    }
#pg_logo{
    max-width: 220px;
    margin: 0 auto 30px auto;
}
.login-form-border{
        box-shadow: 2px 1px 1px #eee;
    border: 1px solid #eee !important;
}
</style>
<!-- main-container start -->
<!-- ================ -->
<div class="main-container" id="login_container">
    <div class="container">
        <div class="row">
            <!-- main start -->
            <!-- ================ -->
            <div id="loginForm" class="main object-non-visible" data-animation-effect="fadeInUpSmall"
                 data-effect-delay="100">
                <div class="logo" id="pg_logo">
                        <a href="{{ url_for('.index') }}"><img src="https://ik.imagekit.io/stewng/Assets/Static_stew_logo_small_ON6gptNtQ.png"  alt="Stew"></a>
                    </div>
                <div class="form-block slim center-block p-30 light-gray-bg login-form-border">
                    <h2 class="title text-center">Login</h2>
                    {% if login_error %}
                    <div class="alert alert-danger" role="alert">
                        {{ login_error }}
                    </div>
                    {% endif %}
                    <form name="form" class="form-horizontal" method="post" action="{{url_for('.login',next=next_url)}}">
                        {{form.csrf_token}}
                        <div class="form-group has-feedback">
{#                            <label for="password" class="col-sm-3 control-label">User Name</label>#}
                            <div class="col-md-12">
                                <input type="text" class="form-control" id="username" name="username" placeholder="Email Address / UserName"
                                       required>
                                <i class="fa fa-user form-control-feedback"></i>
                            </div>
                        </div>
                        <div class="form-group has-feedback">
{#                            <label for="password" class="col-sm-3 control-label">Password</label>#}
                            <div class="col-md-12">
                                <input type="password" class="form-control" id="password" name="password" placeholder="Password"
                                       required>
                                <i class="fa fa-lock form-control-feedback"></i>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"> Remember me.
                                    </label>
                                </div>
                                <button type="submit" class="btn btn-group btn-default btn-animated" style="width: 100%;">Log In <i
                                        class="fa fa-user"></i></button>
                                <ul class="space-top">
                                    <li><a href="{{ url_for('.forgot_password') }}">Forgot your password?</a></li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </div>
                <p class="text-center space-top">Don't have an account yet? <span id="rgtBtn"><a href="{{url_for('.signup',next=next_url)}}">Sign up</a></span> now.
                </p>
            </div>
            <!--<div id="registerForm" class="main object-non-visible" data-animation-effect="fadeInUpSmall"-->
                 <!--data-effect-delay="100">-->
                <!--<div class="form-block center-block p-30 light-gray-bg border-clear">-->
                    <!--<h2 class="title">Register Now</h2>-->
                    <!--<form name="signupform" class="form-horizontal" method="post" action="{{url_for('.signup',next_url=next_url)}}">-->
                        <!--<div class="form-group has-feedback">-->
                            <!--<label for="first_name" class="col-sm-3 control-label">First Name</label>-->
                            <!--<div class="col-sm-8">-->
                                <!--<input type="text" class="form-control" id="first_name" placeholder="First Name"-->
                                       <!--required>-->
                                <!--<i class="fa fa-user form-control-feedback"></i>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="form-group has-feedback">-->
                            <!--<label for="last_name" class="col-sm-3 control-label">Last Name</label>-->
                            <!--<div class="col-sm-8">-->
                                <!--<input type="text" class="form-control" id="last_name" placeholder="Last Name"-->
                                       <!--required>-->
                                <!--<i class="fa fa-user form-control-feedback"></i>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="form-group has-feedback">-->
                            <!--<label for="first_name" class="col-sm-3 control-label">Email Address</label>-->
                            <!--<div class="col-sm-8">-->
                                <!--<input type="text" class="form-control" id="email" placeholder="Email Address"-->
                                       <!--required>-->
                                <!--<i class="fa fa-user form-control-feedback"></i>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="form-group has-feedback">-->
                            <!--<label for="last_name" class="col-sm-3 control-label">Phone</label>-->
                            <!--<div class="col-sm-8">-->
                                <!--<input type="text" class="form-control" id="phone" placeholder="Telephone"-->
                                       <!--required>-->
                                <!--<i class="fa fa-user form-control-feedback"></i>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="form-group has-feedback">-->
                            <!--<label for="new_password" class="col-sm-3 control-label">Password</label>-->
                            <!--<div class="col-sm-8">-->
                                <!--<input type="password" class="form-control" id="new_password" placeholder="Password"-->
                                       <!--required>-->
                                <!--<i class="fa fa-lock form-control-feedback"></i>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="form-group has-feedback">-->
                            <!--<label for="verify_password" class="col-sm-3 control-label">Verify Password</label>-->
                            <!--<div class="col-sm-8">-->
                                <!--<input type="password" class="form-control" id="verify_password"-->
                                       <!--placeholder="Verify Password"-->
                                       <!--required>-->
                                <!--<i class="fa fa-lock form-control-feedback"></i>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<div class="col-sm-offset-3 col-sm-8">-->

                                <!--<button type="submit" class="btn btn-group btn-default btn-animated">Sign Up <i-->
                                        <!--class="fa fa-user"></i></button>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</form>-->
                <!--</div>-->
                <!--<p class="text-center space-top">Have an account yet? <span id="lginBtn">Login</span> now.-->
                <!--</p>-->
            <!--</div>-->
            <!-- main end -->
        </div>
    </div>
</div>
<!-- main-container end -->

{% endblock body %}
{% block footer %}
{% endblock footer %}
