{% extends "main/layout.html" %}
{% block headerbanner %}
{% endblock headerbanner %}
{% block body %}
    <!-- main-container start -->
    <!-- ================ -->
    <section class="main-container">

        <div class="container">
            <div class="row">

                <!-- main start -->
                <!-- ================ -->
                <div class="main col-md-10 col-md-offset-1 text-center">

                    <!-- page-title start -->
                    <!-- ================ -->
                    <h1 class="page-title">Privacy Policy</h1>
                    <div class="separator-2"></div>
                    <!-- page-title end -->
                    <p>
                        At Save Time Eat Well, accessible from www.stew.ng, one of our main priorities is the privacy of
                        our visitors. This Privacy Policy document contains types of information that is collected and
                        recorded by Save Time Eat Well and how we use it.
                    </p>
                    <p>
                        If you have additional questions or require more information about our Privacy Policy, do not
                        hesitate to contact us through email at enitanmayowa@gmail.com
                    </p>
                    <h4>Log Files</h4>
                    <p>Save Time Eat Well follows a standard procedure of using log files. These files log visitors
                        when they visit websites. All hosting companies do this and a part of hosting services'
                        analytics. The information collected by log files include internet protocol (IP) addresses,
                        browser type, Internet Service Provider (ISP), date and time stamp, referring/exit pages, and
                        possibly the number of clicks. These are not linked to any information that is personally
                        identifiable. The purpose of the information is for analyzing trends, administering the site,
                        tracking users' movement on the website, and gathering demographic information.
                    </p>
                    <h4>Cookies and Web Beacons</h4>
                    <p>Like any other website, Save Time Eat Well uses 'cookies'. These cookies are used to store
                        information including visitors' preferences, and the pages on the website that the visitor
                        accessed or visited. The information is used to optimize the users' experience by customizing
                        our web page content based on visitors' browser type and/or other information.
                    </p>
                    <h4>Google DoubleClick DART Cookie</h4>
                    <p>
                        Google is one of a third-party vendor on our site. It also uses cookies, known as DART cookies,
                        to serve ads to our site visitors based upon their visit to www.website.com and other sites on
                        the internet. However, visitors may choose to decline the use of DART cookies by visiting the
                        Google ad and content network Privacy Policy at the following URL
                        – https://policies.google.com/technologies/ads
                    </p>
                    <h4>Privacy Policies</h4>
                    <p>Third-party ad servers or ad networks uses technologies like cookies, JavaScript, or Web Beacons
                        that are used in their respective advertisements and links that appear on Save Time Eat Well,
                        which are sent directly to users' browser. They automatically receive your IP address when this
                        occurs. These technologies are used to measure the effectiveness of their advertising campaigns
                        and/or to personalize the advertising content that you see on websites that you visit.
                        Note that Save Time Eat Well has no access to or control over these cookies that are used by
                        third-party advertisers.
                    </p>
                    <h4>Third Pary Privacy Policies</h4>
                    <p>
                        Save Time Eat Well's Privacy Policy does not apply to other advertisers or websites. Thus, we
                        are advising you to consult the respective Privacy Policies of these third-party ad servers for
                        more detailed information. It may include their practices and instructions about how to opt-out
                        of certain options. You may find a complete list of these Privacy Policies and their links here:
                        Privacy Policy Links.
                        You can choose to disable cookies through your individual browser options. To know more detailed
                        information about cookie management with specific web browsers, it can be found at the browsers'
                        respective websites. What Are Cookies?
                    </p>
                    <h4>Children's Information</h4>
                    <p>
                        Another part of our priority is adding protection for children while using the internet. We
                        encourage parents and guardians to observe, participate in, and/or monitor and guide their
                        online activity.
                        Save Time Eat Well does not knowingly collect any Personal Identifiable Information from
                        children under the age of 13. If you think that your child provided this kind of information on
                        our website, we strongly encourage you to contact us immediately and we will do our best efforts
                        to promptly remove such information from our records.
                    </p>
                    <h4> Online Privacy Policy Only</h4>
                    <p>
                        This Privacy Policy applies only to our online activities and is valid for visitors to our
                        website with regards to the information that they shared and/or collect in Save Time Eat Well.
                        This policy is not applicable to any information collected offline or via channels other than
                        this website.
                        Consent
                        By using our website, you hereby consent to our Privacy Policy and agree to its Terms and
                        Conditions.
                    </p>
                </div>

            </div>
            <!-- main end -->

            <!-- sidebar start -->
            <!-- ================ -->
            <aside class="col-md-4 col-lg-3 col-lg-offset-1">
                <div class="sidebar">
                </div>
            </aside>
            <!-- sidebar end -->

        </div>
    </section>
    <!-- main-container end -->
{% endblock body %}