{% extends "main/layout.html" %}
{% block headerbanner %}
{% endblock headerbanner %}

{% block body %}
    <section class="pv-30 clearfix">
        <div class="container">
            <div>
                <ul class="nav nav-pills categories">
                    {% if all_recipes %}
                        <li class="active"><a href="{{ url_for('.recipes') }}" title="Classic Recipes">All Recipes</a>
                        </li>
                        <li><a href="{{ url_for('.classic_recipes') }}" title="Classic Recipes">Classic Recipes</a></li>
                        <li><a href="{{ url_for('.specials') }}" title="Special Recipes">Special Recipes</a></li>
                        <li><a href="{{ url_for('.cooked_meals') }}" title="Cooked Meals">Cooked Meals</a></li>
                    {% else %}
                        {% if recipe_section and recipe_section in ['classic','special','cooked'] %}
                            <li {% if category_code==None %}class="active"{% endif %}><a href="
                                    {% if recipe_section=='classic' %}{{ url_for('.classic_recipes') }}{% elif recipe_section=='special' %}{{ url_for('.specials') }}{% elif recipe_section=='cooked' %}{{ url_for('.cooked_meals') }}{% endif %}"
                                                  title="All {{ recipe_section }}">All {{ recipe_section }}</a></li>
                        {% endif %}
                        {% for category in categories %}
                            <li class="{% if category_code==category.code %}active{% endif %}"><a
                                    href="
                                    {% if search_q %}
                                       {{ url_for('.search', category=category.code, q=search_q) }}
                                    {% else %}
                                        {{ request.path }}?category={{ category.code }}
                                    {% endif %}
                                "
                                    title="{{ category.name }}">{{ category.name }}</a></li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
            {% if results.total >0 %}
                <div class="isotope-container row grid-space-10">
                    <div class="row">

                        {% for obj in results.items %}
                            {% cache 43200, "public", "recipes", string(obj.id) %}
                                <a href="{{ url_for('.recipe',id=obj.id,slug=obj.slug) }}">
                                    <div class="col-md-3 col-sm-6  isotope-item">
                                        <div class="image-box shadow bordered text-center mb-20">
                                            <div class="overlay-container bordered overlay-visible">
                                                <img src="{{ obj.cover_image_url }}"
                                                     alt="{{ obj.name }} - {{ obj.menu_category_code }} (Stew.ng)">
                                                <div class="overlay-bottom">
                                                    <div class="text">
                                                        <h3 class="title" title="{{ obj.name }}">{{ obj.name }}</h3>
                                                        <div class="separator light"></div>
                                                        <p class="small margin-clear"><em>{{ obj.caption }}</em></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            {% endcache %}
                        {% endfor %}

                    </div>
                </div>
                {% include 'main/snippets/pagination.html' %}
            {% endif %}
        </div>
        {% if results.total == 0 %}
            <div class="container">
                <div id="no_results">
                    <h3>No Results Found{% if search_q %} for <i>{{ search_q }}</i>{% if category_code %}
                        <i> in {{ category_code }}</i>{% endif %}{% endif %}</h3>
                    <img id="search_icon" src="{{ url_for('static', filename='images/stew_search.png') }}"
                         alt="S.T.E.W Search">
                    <h4>Guess what!! </h4>
                    <p>
                        You don't have to leave hungry
                        <img id="smiley" src="{{ url_for('static', filename='images/smiley-happy.svg') }}"
                             alt="Happy S.T.E.W">.
                        <br>
                        Checkout other delicious
                        Recipes and Meals categories.
                    </p>
                    <a href="{{ url_for('.recipes') }}"
                       class="hidden-xs hidden-sm visible-md visible-lg btn btn-lg btn-default"
                       style="display: block;">View Our Recipes</a>

                    <a href="{{ url_for('.recipes') }}"
                       class="hidden-xs visible-sm hidden-md hidden-lg  btn btn-md btn-default"
                       style="display: block;">View Our Recipes</a>

                    <a href="{{ url_for('.recipes') }}"
                       class="visible-xs hidden-sm hidden-md hidden-lg  btn btn-sm btn-default"
                       style="display: block;">View Our Recipes</a>
                </div>
            </div>
        {% endif %}
    </section>
{% endblock body %}
{% block page_js %}
{% endblock page_js %}