{% extends "main/layout.html" %}
{% block headerbanner %}
{% endblock headerbanner %}

{% block body %}
    {% if newly_added_tocart == "y" %}
        {#        <div class="icon object-non-visible animated object-visible pulse" data-animation-effect="pulse" data-effect-delay="1000">#}
        {#            <img src="{{ url_for('static',filename='images/added_to_cart-small.png') }}" alt="Added To Cart">#}
        {#        </div>#}
    {% endif %}
    <!-- main-container start -->
    <!-- ================ -->
    <section class="main-container">

        <div class="container">
            <div class="row">

                <!-- main start -->
                <!-- ================ -->
                <div class="main col-md-12">

                    <!-- page-title start -->
                    <!-- ================ -->
                    <h1 class="page-title">{{ menu.name }}</h1>
                    <div class="separator-2"></div>
                    <!-- page-title end -->

                    <div class="row">
                        <div class="col-md-4">
                            <div class="tab-content clear-style">
                                <div class="">
                                    <div class="owl-carousel content-slider-with-large-controls">
                                        {% for img in images %}
                                            <div class="overlay-container overlay-visible">
                                                <img src="{{ img.url }}" alt="S.T.E.W: {{ menu.name }}">
                                                <a href="{{ img.url }}" class="popup-img overlay-link"
                                                   title="S.T.E.W: {{ menu.name }}"><i class="icon-plus-1"></i></a>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <!-- pills end -->
                        </div>
                        <div class="col-md-8 pv-30" style="padding-top:0;">
                            <style>
                                .product.price {
                                    line-height: 56px;
                                }

                                select#side_dish_id {
                                    width: 50%;
                                    border-radius: 2px;
                                    border: 1px solid #b6b6b6;
                                    box-shadow: none;
                                }
                            </style>
                            <h2 style="margin-top:0;">Description</h2>
                            <h4>{{ menu.caption }}</h4>
                            <p>{{ menu.description }}</p>
                            <hr class="mb-10">
                            <div class="clearfix mb-20">
										<span>
											<i class="fa fa-star {% if menu.avg_rating>0 %}text-default{% endif %}"></i>
											<i class="fa fa-star {% if menu.avg_rating>1 %}text-default{% endif %}"></i>
											<i class="fa fa-star  {% if menu.avg_rating>2 %}text-default{% endif %}"></i>
											<i class="fa fa-star  {% if menu.avg_rating>3 %}text-default{% endif %}"></i>
											<i class="fa fa-star {% if menu.avg_rating>4 %}text-default{% endif %}"></i>
                                            {% if menu.avg_rating<1 %}
                                                <small> &nbsp; No Rating</small>
                                            {% else %}
                                                <small> &nbsp; {{ menu.avg_rating|int }} Star</small>
                                            {% endif %}
										</span>
                                <ul class="pl-20 pull-right social-links circle small clearfix margin-clear animated-effect-1">
                                    <li class="twitter"><a
                                            href="https://twitter.com/share?url={{ request.path }}&amp;text=Save%20Time%20Eat%20Well&amp;hashtags=Stew"
                                            target="_blank"><i
                                            class="fa fa-twitter"></i></a></li>
                                    <li class="googleplus"><a
                                            href="https://plus.google.com/share?url={{ request.path }}"
                                            target="_blank"><i
                                            class="fa fa-google-plus"></i></a></li>
                                    <li class="facebook"><a
                                            href="http://www.facebook.com/sharer.php?u={{ request.path }}"
                                            target="_blank"><i
                                            class="fa fa-facebook"></i></a></li>
                                </ul>
                            </div>
                            <form role="form" class="clearfix" action="{{ url_for('.add_to_cart',next=request.path) }}"
                                  method="post">
                                {{ cart_form.csrf_token }}
                                <div class="row grid-space-10">

                                    <input type="hidden" value="{{ menu.id }}" id="menu_id" name="menu_id">
                                    {% if one_menu_condition %}
                                        <input type="hidden" class="hidden" name="menu_condition_code"
                                               id="menu_condition_code" value="{{ default_condition }}">
                                    {% endif %}
                                    <div class="col-md-12">
                                        {% if not one_menu_condition %}
                                            <div class="form-group inline inline-radio-box">
                                                <label for="menu_condition_code"
                                                       class="control-label">{{ cart_form.menu_condition_code.label }}</label>
                                                <group class="inline-radio">
                                                    {% for obj in menu_conditions %}
                                                        <div class="
                                                    {% if obj.name|length>2 and obj.name|length<6 %}
                                                        sm
                                                    {% elif obj.name|length>=6 and obj.name|length<8 %}
                                                        md
                                                    {% elif obj.name|length>=8 and obj.name|length<10 %}
                                                        lg
                                                    {% elif obj.name|length>=10 and obj.name|length<12 %}
                                                        xl
                                                    {% elif obj.name|length>=12 and obj.name|length<15 %}
                                                        xxl
                                                    {% endif %}">
                                                            <input type="radio" name="menu_condition_code"
                                                                   value="{{ obj.code }}"><label>{{ obj.name }}</label>
                                                        </div>
                                                    {% endfor %}
                                                </group>
                                            </div>
                                        {% endif %}
                                        <div class="form-group inline inline-radio-box">
                                            <div id="uncooked_menu_size">
                                                <label for="menu_size_code"
                                                       class="control-label">{{ cart_form.menu_size_code.label }}</label>

                                                <group class="inline-radio">

                                                    {% for obj in sizes %}
                                                        {% if not obj.is_cooked %}
                                                            <div>
                                                                <input type="radio" name="menu_size_code"
                                                                       value="{{ obj.code }}"><label>{{ obj.name }}</label>
                                                            </div>
                                                        {% endif %}
                                                    {% endfor %}


                                                </group>
                                            </div>
                                            <div id="cooked_menu_size">
                                                <label for="menu_size_code"
                                                       class="control-label">Quantity</label>
                                                <group class="inline-radio">
                                                    {% for obj in sizes %}
                                                        {% if obj.is_cooked %}
                                                            <div class="
                                                    {% if obj.name|length>2 and obj.name|length<6 %}
                                                        sm
                                                    {% elif obj.name|length>=6 and obj.name|length<8 %}
                                                        md
                                                    {% elif obj.name|length>=8 and obj.name|length<10 %}
                                                        lg
                                                    {% elif obj.name|length>=10 and obj.name|length<12 %}
                                                        xl
                                                    {% elif obj.name|length>=12 and obj.name|length<15 %}
                                                        xxl
                                                    {% endif %}">
                                                                <input type="radio" name="menu_size_code"
                                                                       value="{{ obj.code }}"><label>{{ obj.name }}</label>
                                                            </div>
                                                        {% endif %}
                                                    {% endfor %}
                                                </group>
                                            </div>
                                        </div>
                                    </div>
                                    {% if proteins|length >0 %}
                                        <div class="col-md-12 visible-md visible-lg hidden-xs hidden-sm">
                                            <div class="form-group inline inline-radio-box">
                                                <label for="protein_id"
                                                       class="control-label">{{ cart_form.protein_id.label }}</label>
                                                <group class="inline-radio">
                                                    {% for obj in proteins %}
                                                        <div class="
                                                    {% if obj.name|length>2 and obj.name|length<=6 %}
                                                        sm
                                                    {% elif obj.name|length>6 and obj.name|length<=8 %}
                                                        md
                                                    {% elif obj.name|length>8 and obj.name|length<=10 %}
                                                        lg
                                                    {% elif obj.name|length>10 and obj.name|length<=13 %}
                                                        xl
                                                    {% elif obj.name|length>12 and obj.name|length<15 %}
                                                        xxl
                                                    {% endif %}">
                                                            <input type="radio" name="protein_id"
                                                                   value="{{ obj.id }}"><label>{{ obj.name }}</label>
                                                        </div>
                                                    {% endfor %}
                                                </group>
                                            </div>
                                            <small class="text-default" style="margin-bottom:5px;display: block;">*for
                                                soups and stews only: choose your desired protein
                                            </small>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="col-md-12 visible-xs visible-sm hidden-md hidden-lg">
                                            <div class="form-group inline inline-radio-box">
                                                <label for="protein_id"
                                                       class="control-label">{{ cart_form.protein_id.label }}</label>
                                                {% if proteins|length > 3 %}
                                                    {% set round= {'loop': 0} %}
                                                    {% for i in range(loop_rounds) %}
                                                        <group class="inline-radio">
                                                            {% for obj in proteins[0+round.loop:3+round.loop] %}
                                                                <div class="
                                                        {% if obj.name|length>2 and obj.name|length<=6 %}
                                                            sm
                                                        {% elif obj.name|length>6 and obj.name|length<=8 %}
                                                            md
                                                        {% elif obj.name|length>8 and obj.name|length<=10 %}
                                                            lg
                                                        {% elif obj.name|length>10 and obj.name|length<=13 %}
                                                            xl
                                                        {% elif obj.name|length>12 and obj.name|length<15 %}
                                                            xxl
                                                        {% endif %}">
                                                                    <input type="radio" name="protein_id"
                                                                           value="{{ obj.id }}"><label>{{ obj.name }}</label>
                                                                </div>
                                                            {% endfor %}
                                                            {% if round.update({'loop': 3+round.loop}) %}{% endif %}
                                                        </group>
                                                    {% endfor %}
                                                {% else %}
                                                    <group class="inline-radio">
                                                        {% for obj in proteins %}
                                                            <div class="
                                                    {% if obj.name|length>2 and obj.name|length<=6 %}
                                                        sm
                                                    {% elif obj.name|length>6 and obj.name|length<=8 %}
                                                        md
                                                    {% elif obj.name|length>8 and obj.name|length<=10 %}
                                                        lg
                                                    {% elif obj.name|length>10 and obj.name|length<=13 %}
                                                        xl
                                                    {% elif obj.name|length>12 and obj.name|length<15 %}
                                                        xxl
                                                    {% endif %}">
                                                                <input type="radio" name="protein_id"
                                                                       value="{{ obj.id }}"><label>{{ obj.name }}</label>
                                                            </div>
                                                        {% endfor %}
                                                    </group>
                                                {% endif %}
                                            </div>
                                            <small class="text-default" style="margin-bottom:5px;display: block;">*for
                                                soups and stews only: choose your desired protein
                                            </small>
                                            <div class="clearfix"></div>
                                        </div>
                                    {% endif %}

                                    {% if side_dishes|length >0 %}
                                        {% if revert_old_code %}
                                            <div class="col-md-12" id="sideDishBox">
                                                <div class="form-group inline inline-radio-box">
                                                    <label for="side_dish_id"
                                                           class="control-label">{{ cart_form.side_dish_id.label }}</label>
                                                    <group class="inline-radio">
                                                        {% for obj in side_dishes %}
                                                            <div class="
                                                        {% if obj.name|length>2 and obj.name|length<=6 %}
                                                            sm
                                                        {% elif obj.name|length>6 and obj.name|length<=8 %}
                                                            md
                                                        {% elif obj.name|length>8 and obj.name|length<=10 %}
                                                            lg
                                                        {% elif obj.name|length>10 and obj.name|length<=13 %}
                                                            xl
                                                        {% elif obj.name|length>13 and obj.name|length<15 %}
                                                            xxl
                                                        {% else %}
                                                            xxxl
                                                        {% endif %}">
                                                                <input type="radio" name="side_dish_id"
                                                                       value="{{ obj.id }}"><label>{{ obj.name }}</label>
                                                            </div>
                                                        {% endfor %}
                                                    </group>
                                                </div>
                                                <small class="text-default" style="margin-bottom:5px;display: block;">
                                                    *for
                                                    all recipes: check here for available side dishes
                                                </small>
                                                <div class="clearfix"></div>
                                            </div>

                                        {% else %}

                                            <div class="col-md-12" id="sideDishBox">
                                                <div class="form-group">
                                                    <label for="side_dish_id"
                                                           class="control-label">{{ cart_form.side_dish_id.label }}</label>
                                                    <group>
                                                        {{ cart_form.side_dish_id(class="form-control") }}
                                                    </group>
                                                </div>
                                                <small class="text-default" style="margin-bottom:5px;display: block;">
                                                    *for
                                                    all recipes: check here for available side dishes
                                                </small>
                                            </div>
                                        {% endif %}
                                    {% endif %}

                                    <div class="col-md-12 text-right">

                                    </div>

                                </div>
                                <div class="light-gray-bg p-20 bordered clearfix mv10">

                                <span class="product price">
                                    <i class="fa fa-spinner fa-spin hidden" id="spinner"></i>
                                    <i class="icon-tag pr-10 hidden"></i> <span id="menu_cost"></span>
                                </span>
                                    {% if revert_old_code %}
                                        {#                                <span class="product price">#}
                                        {#                                    <i class="icon-tag pr-10"></i> ₦{{ number_format(menu.default_cost) }}#}
                                        {#                                </span>#}
                                    {% endif %}
                                    <div class="product pull-right elements-list  clearfix">

                                        {% if current_user.is_authenticated %}
                                            <button id="add_to_cart_btn" type="submit"
                                                    class="margin-clear btn btn-default grayscale" disabled><i
                                                    class="fa fa-shopping-cart"></i> Add to Cart
                                            </button>
                                        {% else %}
                                            <a href="{{ url_for('.login',next=request.path) }}"
                                               class="margin-clear btn btn-default"><i class="fa fa-shopping-cart"></i>
                                                Add to Cart</a>
                                        {% endif %}
                                        &nbsp;
                                        OR
                                        &nbsp;
                                        <span class="whatsapp">
                                    {% if menu %}
                                        <a href="whatsapp://send?text=Hello Stew! I want the {{ menu.name }}&phone={{ stew_contact_phone.value }}"
                                           class="btn btn-default"><i
                                                class="fa fa-whatsapp"></i> {{ stew_contact_phone.display }}</a>
                                    {% else %}
                                        <a href="whatsapp://send?text=Hello Stew!&phone={{ stew_contact_phone.value }}"
                                           class="btn btn-default"><i
                                                class="fa fa-whatsapp"></i> {{ stew_contact_phone.display }}</a>
                                    {% endif %}
                                </span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- main end -->

            </div>
        </div>
    </section>
    <!-- main-container end -->

    <!-- section start -->
    <!-- ================ -->
    <section class="pv-30 light-gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs style-4" role="tablist">
                        <li class="active"><a href="#h2tab2" role="tab" data-toggle="tab"><i
                                class="fa fa-files-o pr-5"></i>Ingredients</a>
                        </li>
                        {% if support_review %}
                            <li><a href="#h2tab3" role="tab" data-toggle="tab"><i
                                    class="fa fa-star pr-5"></i>({{ review_count }})
                                Reviews</a>
                            </li>
                        {% endif %}
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content padding-top-clear padding-bottom-clear">
                        <div class="tab-pane fade in active" id="h2tab2">
                            <dl class="dl-horizontal">
                                {% for ingredient in ingredients %}
                                    <dt>{{ ingredient.name }}</dt>
                                    <dd>
                                        {{ ingredient.description }}<br>
                                        <small class="text-default">
                                            <strong>Preservation:</strong> {{ ingredient.preservation }}</small>
                                    </dd>
                                {% endfor %}
                            </dl>
                            <hr>
                        </div>
                        {% if support_review %}
                            <div class="tab-pane fade" id="h2tab3">
                                <!-- comments start -->
                                {% for review in reviews %}
                                    <div class="comments margin-clear space-top">
                                        <!-- comment start -->
                                        <div class="comment clearfix">
                                            <div class="comment-avatar">
                                                <img class="img-circle" src="images/avatar.jpg" alt="avatar">
                                            </div>
                                            <header>
                                                <h3>{{ review.subject }}</h3>
                                                <div class="comment-meta"><i class="fa fa-star text-default"></i> <i
                                                        class="fa fa-star text-default"></i> <i
                                                        class="fa fa-star text-default"></i>
                                                    <i class="fa fa-star text-default"></i> <i class="fa fa-star"></i> |
                                                    {{ review.date_created.strftime("%b %m %Y") }}
                                                </div>
                                            </header>
                                            <div class="comment-content">
                                                <div class="comment-body clearfix">
                                                    <p>{{ review.message }}</p>
                                                    {#                                                <a href="blog-post.html" class="btn-sm-link link-dark pull-right"><i#}
                                                    {#                                                        class="fa fa-reply"></i> Reply</a>#}
                                                </div>
                                            </div>
                                        </div>
                                        <!-- comment end -->
                                    </div>
                                    <!-- comments end -->
                                {% endfor %}

                                {% if current_user.is_authenticated and allow_review_creation %}
                                    <!-- comments form start -->
                                    <div class="comments-form">
                                        <form role="form" id="comment-form" name="review_form" method="post"
                                              action="{{ url_for('.add_review',menu_id=menu.id,next=request.path) }}">
                                            {{ review_form.csrf_token() }}
                                            <div class="form-group has-feedback">
                                                <label for="{{ review_form.subject.label.name }}">{{ review_form.subject.label.text }}</label>
                                                {{ review_form.subject(class="form-control",placeholder="Subject") }}
                                                <i class="fa fa-pencil form-control-feedback"></i>
                                            </div>
                                            <div class="form-group">
                                                <label for="rating">Rating</label>
                                                <select class="form-control" id="rating" name="rating">
                                                    <option value="5">5</option>
                                                    <option value="4">4</option>
                                                    <option value="3">3</option>
                                                    <option value="2">2</option>
                                                    <option value="1">1</option>
                                                </select>
                                            </div>
                                            <div class="form-group has-feedback">
                                                <label for="message">Message</label>
                                                <textarea class="form-control" rows="8" id="message"
                                                          placeholder="Message"
                                                          name="message"
                                                          required></textarea>
                                                <i class="fa fa-envelope-o form-control-feedback"></i>
                                            </div>
                                            <input type="submit" value="Submit" class="btn btn-default">
                                        </form>
                                    </div>
                                    <!-- comments form end -->
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                </div>

                <!-- sidebar start -->
                <!-- ================ -->
                <aside class="col-md-4 col-lg-3 col-lg-offset-1">
                    <div class="sidebar">
                        <div class="block clearfix">
                            <h3 class="title">Related Recipes</h3>
                            <div class="separator-2"></div>
                            {% for recipe in other_recipes %}
                                <div class="media margin-clear">
                                    <div class="media-left">
                                        <div class="overlay-container">
                                            <img class="media-object" src="{{ recipe.thumbnail }}"
                                                 alt="{{ recipe.name }} - Stew.ng">
                                            <a href="{{ url_for('.recipe',id=recipe.id,slug=recipe.slug) }}"
                                               class="overlay-link small"><i
                                                    class="fa fa-link"></i></a>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <h6 class="media-heading" title="{{ recipe.name }}"><a
                                                href="{{ url_for('.recipe',id=recipe.id,slug=recipe.slug) }}">{{ recipe.name }}</a>
                                        </h6>
                                        <p class="margin-clear">
                                            <i class="fa fa-star text-default"></i>
                                            <i class="fa fa-star text-default"></i>
                                            <i class="fa fa-star text-default"></i>
                                            <i class="fa fa-star text-default"></i>
                                            <i class="fa fa-star text-default"></i>
                                        </p>
                                        {% if show_price_related %}
                                            <p class="price">₦{{ number_format(recipe.default_cost) }}</p>
                                        {% endif %}
                                        <p class="price">{{ recipe.menu_category.name }}</p>
                                    </div>
                                    <hr>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </aside>
                <!-- sidebar end -->

            </div>
        </div>
    </section>
    <!-- section end -->

{% endblock body %}
{% block page_js %}
    <script>
        let condition = $("#menu_condition_code").val();
        let current_chkd_ms_opt = null;
        let current_chkd_pt_opt = null;
        let current_chkd_sd_opt = null;

        function CalRepipeCost() {
            var recipe = {{ menu.id }};
            var condition = $("input[type=radio][name=menu_condition_code]:checked").val();
            var protein = $("input[type=radio][name=protein_id]:checked").val();
            {% if revert_old_code %}
                var side_dish = $("input[type=radio][name=side_dish_id]:checked").val();
            {% else %}
                var side_dish = $("select[name=side_dish_id]").children("option:selected").val();
            {% endif %}
            var size = $("input[type=radio][name=menu_size_code]:checked").val();
            $('#spinner').removeClass("hidden");
            data = {"recipe": recipe, "condition": condition, "protein": protein, "side_dish": side_dish, "size": size};
            $.ajax({
                type: "POST",
                url: "{{ url_for('.calculate_recipe_cost') }}",
                data: JSON.stringify(data),
                contentType: 'application/json;charset=UTF-8',
                success: function (payload) {
                    var data = payload[0];
                    $('#spinner').addClass("hidden");
                    $('#menu_cost').html("₦" + data.total)
                    $('.icon-tag').removeClass("hidden");
                },
                error: function (xhr, textStatus, error) {
                    $('#menu_cost').html("₦" + "{{ number_format(menu.uncooked_cost) }}");
                    $('.icon-tag').removeClass("hidden");
                }
            })
        }

        function update_condition(condition) {
            if (condition == "cooked") {
                {% if revert_old_code %}
                    $("input[type=radio][name=side_dish_id]:checked").removeAttrs("checked");
                {% else %}
                    $("select[name=side_dish_id]").children("option:selected").removeAttrs("selected");
                {% endif %}
                $("#sideDishBox").hide();
                $("#uncooked_menu_size").hide();
                $("#cooked_menu_size").show();
            } else {
                $("#cooked_menu_size").hide();
                $("#sideDishBox").show();
                $("#uncooked_menu_size").show();
            }
        };

        update_condition(condition);

        $("input[type=radio][name=menu_condition_code]").change(function () {
            let condition = $(this).val();
            update_condition(condition);
            CalRepipeCost();
        });

        /* Menu Size Logic */
        $("input[type=radio][name=menu_size_code]").change(function () {
            CalRepipeCost();
            current_chkd_ms_opt = $(this).val();
            $("button#add_to_cart_btn").removeAttrs("disabled");
            $("button#add_to_cart_btn").removeClass("grayscale");
        });

        /* Protein Logic */
        $("input[type=radio][name=protein_id]").click(function () {
            if ($(this).val() == current_chkd_pt_opt) {
                $("input[type=radio][name=protein_id]:checked").removeAttrs("checked");
                CalRepipeCost();
                current_chkd_pt_opt = null;
            }
        });
        $("input[type=radio][name=protein_id]").change(function () {
            CalRepipeCost();
            current_chkd_pt_opt = $(this).val();
        });

        {% if revert_old_code %}
            /* Side Dish Logic */
            $("input[type=radio][name=side_dish_id]").click(function () {
                if ($(this).val() == current_chkd_sd_opt) {
                    $("input[type=radio][name=side_dish_id]:checked").removeAttrs("checked");
                    CalRepipeCost();
                    current_chkd_sd_opt = null;
                }
            });
            $("input[type=radio][name=side_dish_id]").change(function () {
                CalRepipeCost();
                current_chkd_sd_opt = $(this).val();
            });
        {% else %}
            /* Side Dish Logic */

            $("select[name=side_dish_id]").change(function () {
                CalRepipeCost();
                current_chkd_sd_opt = $(this).children("option:selected").val();
            });

        {% endif %}

    </script>
{% endblock page_js %}