{% extends "main/layout.html" %}
{% block headerbanner %}
{% endblock headerbanner %}

{% block body %}
<style>
.msg_title{
    color:#000 !important;
}
</style>
<!-- main-container start -->
<!-- ================ -->
<div class="main-container">
    <div class="container">
        <div class="row">
            <!-- main start -->
            <!-- ================ -->
            <div id="loginForm" class="main object-non-visible" data-animation-effect="fadeInUpSmall"
                 data-effect-delay="100">

                <div class="form-block slim center-block p-30 border-clear">
                    <img src="{{ url_for('static', filename='images/smiley-happy.svg') }}" alt="" style="width: 70px;margin:auto;margin-bottom: 15px;">
                    <h2 class="title text-center" style="color:#8cc63e;">Success!</h2>
                    <div>
                        <h4 class="msg_title text-center">Your password reset link has been sent</h4>
                        <span class="text-center">Please follow the instructions in your email to continue.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- main-container end -->

{% endblock body %}
