{% extends "main/layout.html" %}
{% block headerbanner %}
{% endblock headerbanner %}

{% block body %}
    <style>
    .login-form-border{
        box-shadow: 2px 1px 1px #eee;
    border: 1px solid #eee !important;
}
    </style>
<!--<style>-->
    <!--#registerForm{-->
        <!--display: none;-->
    <!--}-->
<!--</style>-->
<!-- main-container start -->
<!-- ================ -->
<div class="main-container" style="background: #fcfcfc;">
    <div class="container">
        <div class="row">
            <!-- main start -->
            <!-- ================ -->
            <!--<div id="loginForm" class="main object-non-visible" data-animation-effect="fadeInUpSmall"-->
                 <!--data-effect-delay="100">-->
                <!--<div class="form-block center-block p-30 light-gray-bg border-clear">-->
                    <!--<h2 class="title">Login</h2>-->
                    <!--<form name="form" class="form-horizontal" method="post" action="{{url_for('.login',next_url=next_url)}}">-->
                        <!--<div class="form-group has-feedback">-->
                            <!--<label for="password" class="col-sm-3 control-label">User Name</label>-->
                            <!--<div class="col-sm-8">-->
                                <!--<input type="text" class="form-control" id="username" placeholder="User Name"-->
                                       <!--required>-->
                                <!--<i class="fa fa-user form-control-feedback"></i>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="form-group has-feedback">-->
                            <!--<label for="password" class="col-sm-3 control-label">Password</label>-->
                            <!--<div class="col-sm-8">-->
                                <!--<input type="password" class="form-control" id="password" placeholder="Password"-->
                                       <!--required>-->
                                <!--<i class="fa fa-lock form-control-feedback"></i>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<div class="col-sm-offset-3 col-sm-8">-->
                                <!--<div class="checkbox">-->
                                    <!--<label>-->
                                        <!--<input type="checkbox" required> Remember me.-->
                                    <!--</label>-->
                                <!--</div>-->
                                <!--<button type="submit" class="btn btn-group btn-default btn-animated">Log In <i-->
                                        <!--class="fa fa-user"></i></button>-->
                                <!--<ul class="space-top">-->
                                    <!--<li><a href="#">Forgot your password?</a></li>-->
                                <!--</ul>-->
                                <!--<span class="text-center text-muted">Login with</span>-->
                                <!--<ul class="social-links colored circle clearfix">-->
                                    <!--<li class="facebook"><a target="_blank" href="http://www.facebook.com"><i-->
                                            <!--class="fa fa-facebook"></i></a></li>-->
                                    <!--<li class="twitter"><a target="_blank" href="http://www.twitter.com"><i-->
                                            <!--class="fa fa-twitter"></i></a></li>-->
                                    <!--<li class="googleplus"><a target="_blank" href="http://plus.google.com"><i-->
                                            <!--class="fa fa-google-plus"></i></a></li>-->
                                <!--</ul>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</form>-->
                <!--</div>-->
                <!--<p class="text-center space-top">Don't have an account yet? <span id="rgtBtn">Sing up</span> now.-->
                <!--</p>-->
            <!--</div>-->
            <div id="registerForm" class="main object-non-visible" data-animation-effect="fadeInUpSmall"
                 data-effect-delay="100">
                <div class="form-block center-block p-30 light-gray-bg login-form-border ">
                    <h2 class="title text-center">Register Now</h2>
                    {% if login_error %}
                    <div class="alert alert-danger" role="alert">
                        {{ login_error }}
                    </div>
                    {% endif %}
                    <form name="form" class="form-horizontal" method="post" action="{{url_for('.signup',next=next_url)}}">
                        {{form.csrf_token}}
                        <div class="form-group has-feedback">
                            <label for="first_name" class="col-sm-3 control-label">First Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="first_name" name="first_name" placeholder="First Name"
                                       required>
                                <i class="fa fa-user form-control-feedback"></i>
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <label for="last_name" class="col-sm-3 control-label">Last Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last Name"
                                       required>
                                <i class="fa fa-user form-control-feedback"></i>
                            </div>
                        </div>

                        <div class="form-group has-feedback">
                            <label for="first_name" class="col-sm-3 control-label">Email Address</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="email" name="email" placeholder="Email Address"
                                       required>
                                <i class="fa fa-user form-control-feedback"></i>
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <label for="last_name" class="col-sm-3 control-label">Phone</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="phone" name="phone" placeholder="Telephone"
                                       required>
                                <i class="fa fa-user form-control-feedback"></i>
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <label for="new_password" class="col-sm-3 control-label">Password</label>
                            <div class="col-sm-8">
                                <input type="password" class="form-control" id="new_password" name="new_password" placeholder="Password"
                                       required>
                                <i class="fa fa-lock form-control-feedback"></i>
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <label for="verify_password" class="col-sm-3 control-label">Verify Password</label>
                            <div class="col-sm-8">
                                <input type="password" class="form-control" id="verify_password" name="verify_password"
                                       placeholder="Verify Password"
                                       required>
                                <i class="fa fa-lock form-control-feedback"></i>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-8">

                                <button type="submit" class="btn btn-group btn-default btn-animated">Sign Up <i
                                        class="fa fa-user"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
                <p class="text-center space-top">Have an account yet? <span id="lginBtn"><a href="{{url_for('.login')}}">Login</a></span> now.
                </p>
            </div>
            <!-- main end -->
        </div>
    </div>
</div>
<!-- main-container end -->

{% endblock body %}
{% block page_js %}
<!--<script>-->
    <!--$('#rgtBtn').click(function(){-->
        <!--$("#loginForm").hide();-->
        <!--$("#registerForm").fadeIn();-->
    <!--});-->
    <!--$('#lginBtn').click(function(){-->
        <!--$("#registerForm").hide();-->
        <!--$("#loginForm").fadeIn();-->
    <!--});-->
<!--</script>-->
{% endblock page_js %}
