{% extends "main/layout.html" %}
{% block headerbanner %}
{% endblock headerbanner %}
{% block body%}
<style>
    .image_thumbnail {
        width: 60px;
        height: 60px;
        background-size: 100% auto !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
        border: 1px solid #dcdcdc;
        margin-bottom: 5px;
    }
</style>

<section class="main-container">

    <div class="container">
        <div class="row">

            <!-- main start -->
            <!-- ================ -->
            <div class="main col-md-8 col-lg-8">

                <!-- pills start -->
                <!-- ================ -->
                <div class="process">
                    <!-- Nav tabs -->
                    <ul class="nav nav-pills big" role="tablist">
                        <li><a href="#pill-pr-1" role="tab" data-toggle="tab" title="Delivery"><i
                                class="fa fa-truck pr-5"></i> Delivery</a></li>
                        <li class="active"><a href="#pill-pr-2" role="tab" data-toggle="tab" title="Meal Selection"><i
                                class="fa fa-gift pr-5"></i> Meal Selection</a></li>
                        <li><a href="#pill-pr-3" role="tab" data-toggle="tab" title="Payment"><i
                                class="fa fa-cc-mastercard pr-5"></i> Payment</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content clear-style">
                        <div class="tab-pane" id="pill-pr-1">
                            <form action="{{request.path}}" method="post" role="form">
                                {{form.csrf_token}}
                                <fieldset>
                                    <legend>Shipping information</legend>
                                    <!--<form  class="form-horizontal" id="shipping-information-container">-->
                                    <div id="shipping-information" class="space-bottom">
                                        <div class="space"></div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <h3 class="title">Your Address</h3>
                                            </div>
                                            <div class="col-md-9">
                                                <div class="form-group clearfix">
                                                    <label for="address" class="col-md-3 control-label">Address
                                                        <small class="text-default">*</small>
                                                    </label>
                                                    <div class="col-md-9">
                                                        {{form.address(class="form-control", placeholder="Address")}}
                                                    </div>
                                                </div>
                                                <div class="form-group clearfix">
                                                    <label class="col-md-3 control-label">Country
                                                        <small class="text-default">*</small>
                                                    </label>
                                                    <div class="col-md-9">
                                                        {{form.country_code(class="form-control")}}
                                                    </div>
                                                </div>
                                                <div class="form-group clearfix">
                                                    <label class="col-md-3 control-label">State
                                                        <small class="text-default">*</small>
                                                    </label>
                                                    <div class="col-md-9">
                                                        {{form.state_code(class="form-control")}}
                                                    </div>
                                                </div>
                                                <div class="form-group clearfix">
                                                    <label for="shippingCity" class="col-md-3 control-label">City
                                                        <small class="text-default">*</small>
                                                    </label>
                                                    <div class="col-md-9">
                                                        <input type="text" class="form-control" id="shippingCity"
                                                               name="city"
                                                               placeholder="City">
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <h3 class="title">Additional Info</h3>
                                            </div>
                                            <div class="col-md-9">
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                            <textarea class="form-control" rows="4" id="additional_info"
                                                      name="additional_info"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!--</form>-->
                                </fieldset>
                                <div class="text-right" role="tablist">
                                    <a href="#pill-pr-2" role="tab" data-toggle="tab" class="btn btn-group btn-default"
                                       type="submit">Next Step <i
                                            class="icon-right-open-big"></i></a>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane active" id="pill-pr-2">
                            <fieldset>
                                <legend>Meal Selection</legend>
                                <div id="meal-selection" class="space-bottom">
                                    <div class="space"></div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group inline inline-radio-box sm">
                                                <label for="menu_frequency_code"
                                                       class="control-label">{{form.menu_frequency_code.label}}</label>
                                                <group class="inline-radio">
                                                    {% for obj in frequencies %}
                                                    <div><input type="radio" name="menu_frequency_code"
                                                                value="{{obj.value}}"><label>{{obj.name}}</label></div>
                                                    {% endfor %}
                                                </group>
                                            </div>
                                            <div class="form-group inline inline-radio-box">
                                                <label for="menu_size_code"
                                                       class="control-label">{{form.menu_size_code.label}}</label>
                                                <group class="inline-radio">
                                                    {% for obj in sizes %}
                                                    <div><input type="radio" name="menu_size_code"
                                                                value="{{obj.value}}"><label>{{obj.name}}</label></div>
                                                    {% endfor %}
                                                </group>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group inline inline-radio-box">
                                                <label for="menu_category_code"
                                                       class="control-label">{{form.menu_category_code.label}}</label>
                                                <group class="inline-radio">
                                                    {% for obj in categories %}
                                                    <div class="
                                                        {% if obj.name|length>2 and obj.name|length<=6 %}
                                                            sm
                                                        {% elif obj.name|length>6 and obj.name|length<=8 %}
                                                            md
                                                        {% elif obj.name|length>8 and obj.name|length<=10 %}
                                                            lg
                                                        {% elif obj.name|length>10 and obj.name|length<=13 %}
                                                            xl
                                                        {% elif obj.name|length>13 and obj.name|length<15 %}
                                                            xxl
                                                        {% endif %}">
                                                        <input type="radio" name="menu_category_code"
                                                               value="{{obj.code}}"><label>{{obj.name}}</label>
                                                    </div>
                                                    {% endfor %}
                                                </group>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="is_vegetarian"
                                                       class="control-label">{{form.is_vegetarian.label}}</label>
                                                {{form.is_vegetarian()}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <legend>Recipes</legend>
                                <!--<form  class="form-horizontal" id="shipping-information-container">-->
                                <div id="meal-selection" class="space-bottom">
                                    <div class="space"></div>
                                    <div class="row">

                                        <div class="col-md-12">
                                            <div class="col-md-4">
                                                <ul class="list">
                                                    <li class="clearfix" data-toggle="modal" data-target="#myModal">
                                                        <div class="image_thumbnail"
                                                             style="background: url('{{url_for('static', filename='images/stew_logo_small.png')}}');"></div>
                                                        <h4 class="title logo-font">Caesar's</h4>
                                                        <p class="small">At eligendi totam tempore soluta quia,
                                                            unde similique.
                                                        </p>
                                                    </li>
                                                    <li class="clearfix">
                                                        <div class="image_thumbnail"
                                                             style="background: url('{{url_for('static', filename='images/stew_logo_small.png')}}');"></div>
                                                        <h4 class="title logo-font">Mama's</h4>
                                                        <p class="small">Aspernatur velit aperiam officiis saepe
                                                            inventore.
                                                        </p>
                                                    </li>
                                                    <li class="clearfix">
                                                        <div class="image_thumbnail"
                                                             style="background: url('{{url_for('static', filename='images/stew_logo_small.png')}}');"></div>
                                                        <h4 class="title logo-font">Bacon &amp; Cheese
                                                            Salad</h4>
                                                        <p class="small">Lorem ipsum dolor sit amet, consectetur

                                                        </p>
                                                    </li>
                                                    <li class="clearfix">
                                                        <div class="image_thumbnail"
                                                             style="background: url('{{url_for('static', filename='images/stew_logo_small.png')}}');"></div>
                                                        <h4 class="title logo-font">Mama's</h4>
                                                        <p class="small">Aspernatur velit aperiam officiis saepe
                                                            inventore.
                                                        </p>
                                                    </li>
                                                    <li class="clearfix">
                                                        <div class="image_thumbnail"
                                                             style="background: url('{{url_for('static', filename='images/stew_logo_small.png')}}');"></div>
                                                        <h4 class="title logo-font">Bacon &amp; Cheese
                                                            Salad</h4>
                                                        <p class="small">Lorem ipsum dolor sit amet, consectetur

                                                        </p>
                                                    </li>
                                                    <li class="clearfix">
                                                        <div class="image_thumbnail"
                                                             style="background: url('{{url_for('static', filename='images/stew_logo_small.png')}}');"></div>
                                                        <h4 class="title logo-font">Blackened chicken</h4>
                                                        <p class="small">Possimus vitae unde iure sunt id,
                                                            perspiciatis.
                                                        </p>
                                                    </li>
                                                    <!-- Modal -->
                                                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
                                                         aria-labelledby="myModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <button type="button" class="close"
                                                                            data-dismiss="modal"><span
                                                                            aria-hidden="true">&times;</span><span
                                                                            class="sr-only">Close</span></button>
                                                                    <h4 class="modal-title" id="myModalLabel">{{menu.name}}</h4>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <div class="row">
                                                                        <div class="col-md-4">
                                                                            <div class="tab-content clear-style">
                                                                                <div class="">
                                                                                    <div class="owl-carousel content-slider-with-large-controls">
                                                                                        {% for img in images %}
                                                                                        <div class="overlay-container overlay-visible">
                                                                                            <img src="{{img.url}}"
                                                                                                 alt="Stew:{{menu.name}}">
                                                                                            <a href="{{img.url}}"
                                                                                               class="popup-img overlay-link"
                                                                                               title="Stew:{{menu.name}}"><i
                                                                                                    class="icon-plus-1"></i></a>
                                                                                        </div>
                                                                                        {% endfor %}
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-8">
                                                                            <h4>Description</h4>
                                                                            <p>{{menu.caption}}</p>
                                                                            <h5>Lorem ipsum dolor sit amet consectetur
                                                                                adipisicing elit</h5>
                                                                            <p>{{menu.description}}</p>
                                                                            <hr class="mb-10">
                                                                            <div class="clearfix mb-20">
										<span>
											<i class="fa fa-star text-default"></i>
											<i class="fa fa-star text-default"></i>
											<i class="fa fa-star text-default"></i>
											<i class="fa fa-star text-default"></i>
											<i class="fa fa-star"></i>
										</span>
                                                                                <ul class="pl-20 pull-right social-links circle small clearfix margin-clear animated-effect-1">
                                                                                    <li class="twitter"><a
                                                                                            href="https://twitter.com/share?url={{request.path}}&amp;text=Save%20Time%20Eat%20Well&amp;hashtags=Stew"
                                                                                            target="_blank"><i
                                                                                            class="fa fa-twitter"></i></a>
                                                                                    </li>
                                                                                    <li class="googleplus"><a
                                                                                            href="https://plus.google.com/share?url={{request.path}}"
                                                                                            target="_blank"><i
                                                                                            class="fa fa-google-plus"></i></a>
                                                                                    </li>
                                                                                    <li class="facebook"><a
                                                                                            href="http://www.facebook.com/sharer.php?u={{request.path}}"
                                                                                            target="_blank"><i
                                                                                            class="fa fa-facebook"></i></a>
                                                                                    </li>
                                                                                </ul>
                                                                            </div>
                                                                            <form role="form" class="clearfix"
                                                                                  action=""
                                                                                  method="post">
                                                                                <div class="row grid-space-10">


                                                                                    <div class="">
                                                                                        <div class="form-group inline inline-radio-box sm">
                                                                                            <label for="protein_id"
                                                                                                   class="control-label">Protein</label>
                                                                                            <group class="inline-radio">
                                                                                                {% for obj in proteins
                                                                                                %}
                                                                                                <div class="
                                                                                                    {% if obj.name|length>2 and obj.name|length<=6 %}
                                                                                                        sm
                                                                                                    {% elif obj.name|length>6 and obj.name|length<=8 %}
                                                                                                        md
                                                                                                    {% elif obj.name|length>8 and obj.name|length<=10 %}
                                                                                                        lg
                                                                                                    {% elif obj.name|length>10 and obj.name|length<=12 %}
                                                                                                        xl
                                                                                                    {% elif obj.name|length>12 and obj.name|length<15 %}
                                                                                                        xxl
                                                                                                    {% endif %}">
                                                                                                    <input type="radio"
                                                                                                           name="protein_id"
                                                                                                           value="{{obj.id}}"><label>{{obj.name}}</label>
                                                                                                </div>
                                                                                                {% endfor %}
                                                                                            </group>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="">
                                                                                        <div class="form-group inline inline-radio-box">
                                                                                            <label for="side_dish_id"
                                                                                                   class="control-label">Side Dish</label>
                                                                                            <group class="inline-radio">
                                                                                                {% for obj in
                                                                                                side_dishes %}
                                                                                                <div class="
                                                                                                    {% if obj.name|length>2 and obj.name|length<=6 %}
                                                                                                        sm
                                                                                                    {% elif obj.name|length>6 and obj.name|length<=8 %}
                                                                                                        md
                                                                                                    {% elif obj.name|length>8 and obj.name|length<=10 %}
                                                                                                        lg
                                                                                                    {% elif obj.name|length>10 and obj.name|length<=12 %}
                                                                                                        xl
                                                                                                    {% elif obj.name|length>12 and obj.name|length<15 %}
                                                                                                        xxl
                                                                                                    {% endif %}">
                                                                                                    <input type="radio"
                                                                                                           name="side_dish_id"
                                                                                                           value="{{obj.id}}"><label>{{obj.name}}</label>
                                                                                                </div>
                                                                                                {% endfor %}
                                                                                            </group>
                                                                                        </div>
                                                                                    </div>

                                                                                    <div class="col-md-12 text-right">

                                                                                    </div>

                                                                                </div>
                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer center">
                                                                    <button type="button" class="btn btn-md btn-dark"
                                                                            data-dismiss="modal">Close
                                                                    </button>
                                                                    <button type="button"
                                                                            class="btn btn-md btn-default">Add
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </ul>
                                            </div>
                                            <div class="col-md-4">
                                                <ul class="list">
                                                    <li class="clearfix">
                                                        <div class="image_thumbnail"
                                                             style="background: url('{{url_for('static', filename='images/stew_logo_small.png')}}');"></div>
                                                        <h4 class="title logo-font">Mozzarella &amp; winter
                                                            fruit salad</h4>
                                                        <p class="small">In placeat, aspernatur praesentium
                                                            distinctio provident.
                                                        </p>
                                                    </li>
                                                    <li class="clearfix">
                                                        <div class="image_thumbnail"
                                                             style="background: url('{{url_for('static', filename='images/stew_logo_small.png')}}');"></div>
                                                        <h4 class="title logo-font">Tomato carpaccio</h4>
                                                        <p class="small">Laudantium voluptas impedit amet
                                                            molestias error, rem.
                                                        </p>
                                                    </li>
                                                    <li class="clearfix">
                                                        <div class="image_thumbnail"
                                                             style="background: url('{{url_for('static', filename='images/stew_logo_small.png')}}');"></div>
                                                        <h4 class="title logo-font">Vietnamese bun cha with
                                                            sticky spicy tofu</h4>
                                                        <p class="small">Necessitatibus assumenda expedita
                                                            repeusdam.
                                                        </p>
                                                    </li>
                                                    <li class="clearfix">
                                                        <div class="image_thumbnail"
                                                             style="background: url('{{url_for('static', filename='images/stew_logo_small.png')}}');"></div>
                                                        <h4 class="title logo-font">Tomato carpaccio</h4>
                                                        <p class="small">Laudantium voluptas impedit amet
                                                            molestias error, rem.
                                                        </p>
                                                    </li>
                                                    <li class="clearfix">
                                                        <div class="image_thumbnail"
                                                             style="background: url('{{url_for('static', filename='images/stew_logo_small.png')}}');"></div>
                                                        <h4 class="title logo-font">Vietnamese bun cha with
                                                            sticky spicy tofu</h4>
                                                        <p class="small">Necessitatibus assumenda expedita
                                                            repeusdam.
                                                        </p>
                                                    </li>
                                                    <li class="clearfix">
                                                        <div class="image_thumbnail"
                                                             style="background: url('{{url_for('static', filename='images/stew_logo_small.png')}}');"></div>
                                                        <h4 class="title logo-font">Kerryann’s Turkish-style
                                                            couscous</h4>
                                                        <p class="small">Reiciendis, sapiente, est. Consequatur
                                                            adipisci autem.
                                                        </p>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-md-4">
                                                <ul class="list">
                                                    <li class="clearfix">
                                                        <div class="image_thumbnail"
                                                             style="background: url('{{url_for('static', filename='images/stew_logo_small.png')}}');"></div>
                                                        <h4 class="title logo-font">Michela Chiappa’s zucchini
                                                            salad</h4>
                                                        <p class="small">A facere id iure ipsa, provident
                                                            mollitia, quo ea, velit.
                                                        </p>
                                                    </li>
                                                    <li class="clearfix">
                                                        <div class="image_thumbnail"
                                                             style="background: url('{{url_for('static', filename='images/stew_logo_small.png')}}');"></div>
                                                        <h4 class="title logo-font">Epic roast chicken
                                                            salad</h4>
                                                        <p class="small">Quod officiis aut non odit velit alias
                                                            saepe quia quaerat. <strong
                                                                    class="pull-right text-default">₦16.99</strong>
                                                        </p>
                                                    </li>
                                                    <li class="clearfix">
                                                        <div class="image_thumbnail"
                                                             style="background: url('{{url_for('static', filename='images/stew_logo_small.png')}}');"></div>
                                                        <h4 class="title logo-font">Box grater fruit salad</h4>
                                                        <p class="small">Consequuntur ad laudantium, voluptate
                                                            maxime.
                                                        </p>
                                                    </li>
                                                    <li class="clearfix">
                                                        <div class="image_thumbnail"
                                                             style="background: url('{{url_for('static', filename='images/stew_logo_small.png')}}');"></div>
                                                        <h4 class="title logo-font">Epic roast chicken
                                                            salad</h4>
                                                        <p class="small">Quod officiis aut non odit velit alias
                                                            saepe quia quaerat.
                                                        </p>
                                                    </li>
                                                    <li class="clearfix">
                                                        <div class="image_thumbnail"
                                                             style="background: url('{{url_for('static', filename='images/stew_logo_small.png')}}');"></div>
                                                        <h4 class="title logo-font">Box grater fruit salad</h4>
                                                        <p class="small">Consequuntur ad laudantium, voluptate
                                                            maxime.
                                                        </p>
                                                    </li>
                                                    <li class="clearfix">
                                                        <div class="image_thumbnail"
                                                             style="background: url('{{url_for('static', filename='images/stew_logo_small.png')}}');"></div>
                                                        <h4 class="title logo-font">Bacon &amp; Cheese
                                                            Salad</h4>
                                                        <p class="small">Magni, assumenda, maiores. Modi itaque
                                                            accusamus.
                                                        </p>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="space-bottom"></div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="text-right" role="tablist">
                                <a href="#pill-pr-1" role="tab" data-toggle="tab" class="btn btn-group btn-default"><i
                                        class="icon-left-open-big"></i> Go
                                    Back To Delivery</a>
                                <a href="#pill-pr-3" role="tab" data-toggle="tab" class="btn btn-group btn-default"
                                   type="submit">Make Payment <i
                                        class="icon-right-open-big"></i></a>
                            </div>
                        </div>
                        <div class="tab-pane" id="pill-pr-3">
                            <h2 class="center">
                                ₦50
                            </h2>
                            <form>
                                <script src="https://api.ravepay.co/flwv3-pug/getpaidx/api/flwpbf-inline.js"></script>
                                <button type="button" onClick="payWithRave()" class="btn btn-success btn-lg">Pay Now
                                </button>
                            </form>

                        </div>
                    </div>
                </div>
                <!-- pills end -->

            </div>
            <!-- main end -->

            <!-- sidebar start -->
            <!-- ================ -->
            <aside class="col-md-4 col-lg-4">
                <div class="sidebar" id="subscription-infobox">
                    <fieldset class="block">
                        <h4>What You're Ordering</h4>
                        <hr>
                        <div class="row">
                            <div class="form-group col-md-7 col-sm-10 col-sm-offset-1">
                                <label class="control-label">3 Recipes per week</label>
                                <label class="control-label">2 People</label>
                            </div>
                            <div class="form-group double col-md-5 col-sm-10 col-sm-offset-1">
                                ₦23.99
                            </div>
                            <div class="clearfix"></div>
                            <div class="hr_effect">

                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="row mv10">
                            <div class="form-group col-md-7 col-sm-10 col-sm-offset-1">
                                <label class="control-label">Shipping</label>
                            </div>
                            <div class="form-group col-md-5 col-sm-10 col-sm-offset-1">
                                FREE
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="block highlight">
                        <div class="row">
                            <div class="form-group mv0 col-md-7 col-sm-10 col-sm-offset-1">
                                <label class="control-label">Total</label>
                            </div>
                            <div class="form-group mv0 col-md-5 col-sm-10 col-sm-offset-1">
                                FREE
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="block">
                        <div class="row">

                        </div>
                    </fieldset>
                    <!--<div class="block clearfix">-->
                    <!--<h3 class="title">Sidebar menu</h3>-->
                    <!--<div class="separator-2"></div>-->
                    <!--</div>-->
                </div>
            </aside>
            <!-- sidebar end -->

        </div>
    </div>
</section>
{% endblock body%}
{% block page_js%}
<script>
    var updateMenuChange = function (value) {
        if (value != '') {
//            $.ajax({
//                type: "POST",
//                url: "/",
//                data: JSON.stringify(value),
//                contentType: 'application/json;charset=UTF-8',
//                success: function (data) {
//                    if (data) {
//                        for (key in data) {
//                            if (data.hasOwnProperty(key)) {
//                                if (key == 'state_id' || key == 'country_id' || key == 'shipment_state' || key == 'shipment_country') {
//                                    $('select[name=' + key + ']').val(data[key]);
//                                } else {
//                                    $('input[name=' + key + ']').val(data[key]);
//                                }
//                                if (key == 'state_id' && data[key] != current_state_id) {
//                                    resetUnicartState(data[key]);
//                                }
//                            }
//                        }
//                        $('input[name=system_pop]').val(true);
//                    } else {
//                    }
//                }
//            });
            console.log(value, "--------value ---");
        }
    };
    $('select[id=user_address_id]').change(function () {
        var value = $(this).val();
        updateMenuChange(value);
    });


    $('input[type=radio][name=menu_option_ids]').attr('checked', false);
    $('input[type=radio][name=menu_option_ids]').change(function () {
        var value = this.value;
        $("#menu_ids").val(value);
        updateMenuChange(value);
    });


</script>
<script>
    const API_publicKey = "{{rave_pub_key}}";

    function payWithRave() {
        var x = getpaidSetup({
            PBFPubKey: API_publicKey,
            customer_email: "user@example.com",
            amount: 2000,
            customer_phone: "234099940409",
            currency: "NGN",
            txref: "rave-123456",
            meta: [{
                metaname: "flightID",
                metavalue: "AP1234"
            }],
            onclose: function () {
            },
            callback: function (response) {
                var txref = response.tx.txRef; // collect txRef returned and pass to a 					server page to complete status check.
                console.log("This is the response returned after a charge", response);
                if (
                    response.tx.chargeResponseCode == "00" ||
                    response.tx.chargeResponseCode == "0"
                ) {
                    // redirect to a success page
                } else {
                    // redirect to a failure page.
                }

                x.close(); // use this to close the modal immediately after payment.
            }
        });
    }
</script>

{% endblock page_js%}
