{% extends "admin/layout.html" %}
{% block body %}
    <!-- Bread crumb -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">{% if obj %}Update Recipe{% else %}Create Recipe{% endif %}</h3></div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for('.index') }}"><i class="fa fa-dashboard"></i> Dashboard</a>
                </li>
                <li class="breadcrumb-item"><a href="{{ url_for('.recipes') }}">Recipes</a></li>
                <li class="breadcrumb-item active">{% if obj %}Update Recipe{% else %}Create Recipe{% endif %}</li>
            </ol>
        </div>
    </div>
    <!-- End Bread crumb -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for message, status in messages %}
                <div class="alert
                   {% if status=="success" %}alert-success text-white
                    {% elif status=="warning" %}alert-warning
                    {% else %}alert-danger text-themecolor{% endif %}
                ">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row">
            <div class="col-md-12">
                <div class="card card-outline-primary">

                    <div class="card-body">
                        <form action="{{ request.path }}" method="post" name="form" role="form"
                              enctype="multipart/form-data" novalidate>
                            {{ form.csrf_token }}
                            {% if form.errors %}
                                <div class="alert alert-danger text-themecolor">
                                    <strong>Form Error Failed to Submit:</strong> {{ form.errors }}
                                </div>
                            {% endif %}
                            <div class="form-body">
                                {% if obj %}
                                    {% if disable_delete_action==False %}
                                    <a href="{{ url_for('.delete_recipe',obj_id=obj.id) }}"
                                       class="btn btn-md-link btn-danger" style="float: right;">Delete</a>
                                    {% endif %}
                                    <a href="{{ obj.url }}" target="_blank" class="btn btn-md-link btn-default" style="float: right;">Preview <i class="fa fa-arrow-right"></i></a>
                                {% endif %}
                                <h3 class="card-title m-t-15">Recipe Info</h3>
                                <div class="clearfix"></div>

                                <hr>
                                <div class="col-md-8 pull-left">
                                    <div class="row p-t-20">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="control-label">Name</label>
                                                {{ form.name(class="form-control") }}

                                                {% if form.name.errors %}
                                                    {% for e in form.name.errors %}
                                                        <small class="form-control-feedback text-themecolor">{{ e }}</small>
                                                    {% endfor %}

                                                {% endif %}
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <!--/row-->
                                    <div class="row">
                                        <div class="col-md-12 ">
                                            <div class="form-group">
                                                <label>Caption</label>
                                                {{ form.caption(class="form-control") }}
                                                {% if form.caption.errors %}
                                                    {% for e in form.caption.errors %}
                                                        <small class="form-control-feedback text-themecolor">{{ e }}</small>
                                                    {% endfor %}

                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 ">
                                            <div class="form-group">
                                                <label>Description</label>
                                                {{ form.description(class="form-control") }}
                                                {% if form.description.errors %}
                                                    {% for e in form.description.errors %}
                                                        <small class="form-control-feedback text-themecolor">{{ e }}</small>
                                                    {% endfor %}

                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row {% if not obj %}hidden{% endif %}">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                {{ form.is_visible }}
                                                <label class="control-label" for="{{ form.is_visible.name }}">
                                                    Make Recipe/Meal Visible</label>
                                                {% if form.is_visible.errors %}
                                                    {% for e in form.is_visible.errors %}
                                                        <small class="form-control-feedback text-themecolor">{{ e }}</small>
                                                    {% endfor %}

                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    {% if obj %}
                                        <div class="row" style="margin-bottom: 10px;">
                                            <div class="col-md-12"
                                                 style="border: 1px solid #eee;border-bottom: 0;padding-top:10px;">
                                                <div class="form-group">
                                                    <input type="checkbox" id="update_menu_extras"
                                                           name="update_menu_extras">
                                                    <label class="control-label" for="update_menu_extras">
                                                        Update Menu Extras</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6"
                                                 style="border: 1px solid #eee;border-top:0;border-right:0;">
                                                <div class="form-group">
                                                    <label class="control-label" style="display: block;">Current
                                                        Ingredients</label>
                                                    {% for ing in obj.ingredients %}
                                                        <span class="btn btn-themecolor btn-sm">
                                                        {{ ing.name }}
                                                        </span>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                            <div class="col-md-6"
                                                 style="border: 1px solid #eee;border-top:0;border-left:0;">
                                                <div class="form-group">
                                                    <label class="control-label" style="display: block;">Current Side
                                                        Dishes</label>
                                                    {% for dish in obj.side_dishes %}
                                                        <span class="btn btn-themecolor btn-sm">
                                                            {{ dish.name }}
                                                        </span>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                    <div class="row" {% if obj %}id="menu_extras"{% endif %}>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">Ingredients</label>
                                                {{ form.ingredient_ids(class="form-control multi-select", rows="10") }}
                                                {% if form.ingredient_ids.errors %}
                                                    {% for e in form.ingredient_ids.errors %}
                                                        <small class="form-control-feedback text-themecolor">{{ e }}</small>
                                                    {% endfor %}

                                                {% endif %}
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">Side Dishes</label>
                                                {{ form.side_dish_ids(class="form-control multi-select", rows="10") }}
                                                {% if form.side_dish_ids.errors %}
                                                    {% for e in form.side_dish_ids.errors %}
                                                        <small class="form-control-feedback text-themecolor">{{ e }}</small>
                                                    {% endfor %}

                                                {% endif %}
                                            </div>
                                        </div>
                                        <!--/span-->
                                        {% if support_subscription %}
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label"
                                                           for="{{ form.menu_frequency_codes.name }}">Menu
                                                        Frequency</label>
                                                    {{ form.menu_frequency_codes(class="form-control multi-select", rows="10") }}
                                                    {% if form.menu_frequency_codes.errors %}
                                                        {% for e in form.menu_frequency_codes.errors %}
                                                            <small class="form-control-feedback text-themecolor">{{ e }}</small>
                                                        {% endfor %}

                                                    {% endif %}
                                                </div>
                                            </div>
                                            <!--/span-->
                                        {% endif %}
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                {{ form.is_special }}
                                                <label class="control-label" for="{{ form.is_special.name }}">Is
                                                    Special</label>
                                                {% if form.is_special.errors %}
                                                    {% for e in form.is_special.errors %}
                                                        <small class="form-control-feedback text-themecolor">{{ e }}</small>
                                                    {% endfor %}

                                                {% endif %}
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">Menu Category</label>
                                                {{ form.menu_category_code(class="form-control") }}
                                                {% if form.menu_category_code.errors %}
                                                    {% for e in form.menu_category_code.errors %}
                                                        <small class="form-control-feedback text-themecolor">{{ e }}</small>
                                                    {% endfor %}

                                                {% endif %}
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">Production Time</label>
                                                {{ form.production_time(class="form-control") }}
                                                <small>How Long It Takes to Make (in minutes)</small>
                                                {% if form.production_time.errors %}
                                                    {% for e in form.production_time.errors %}
                                                        <small class="form-control-feedback text-themecolor">{{ e }}</small>
                                                    {% endfor %}

                                                {% endif %}
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <!--/span-->
                                    </div>
                                    <!--/row-->
                                    {% if support_flexible_menu_size %}
                                        <div class="row">

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Menu Size</label>
                                                    {{ form.menu_size_codes(class="form-control multi-select", rows="10") }}
                                                    {% if form.menu_size_codes.errors %}
                                                        {% for e in form.menu_size_codes.errors %}
                                                            <small class="form-control-feedback text-themecolor">{{ e }}</small>
                                                        {% endfor %}

                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Cooked Menu Size</label>
                                                    {{ form.cooked_menu_size_codes(class="form-control multi-select", rows="10") }}
                                                    {% if form.cooked_menu_size_codes.errors %}
                                                        {% for e in form.cooked_menu_size_codes.errors %}
                                                            <small class="form-control-feedback text-themecolor">{{ e }}</small>
                                                        {% endfor %}

                                                    {% endif %}
                                                </div>
                                            </div>
                                            <!--/span-->

                                        </div>
                                    {% endif %}
                                    <div class="row">

                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                {{ form.is_featured(class="") }}
                                                <label for="{{ form.is_featured.name }}"
                                                       class="control-label">{{ form.is_featured.label.text }}</label>

                                                {% if form.is_featured.errors %}
                                                    {% for e in form.is_featured.errors %}
                                                        <small class="form-control-feedback text-themecolor">{{ e }}</small>
                                                    {% endfor %}

                                                {% endif %}
                                            </div>
                                        </div>
                                        <!--/span-->

                                        <div class="col-md-6 {% if obj and  obj.is_featured==False %}hidden{% elif not obj %}hidden{% endif %}"
                                             id="featuredpostion_bx">
                                            <div class="form-group">
                                                <label for="{{ form.featured_position.name }}"
                                                       class="control-label">{{ form.featured_position.label.text }}</label>
                                                <input type="number" class="form-control" name="featured_position"
                                                       id="featured_position" min="1" max="12">
                                                {% if form.featured_position.errors %}
                                                    {% for e in form.featured_position.errors %}
                                                        <small class="form-control-feedback text-themecolor">{{ e }}</small>
                                                    {% endfor %}

                                                {% endif %}
                                                <small>Available {{ available_positions }}</small>

                                            </div>
                                        </div>

                                        <div class="clearfix"></div>
                                    </div>

                                    <div class="row">
                                        <!--/span-->
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                {{ form.support_cooked }}
                                                <label for="{{ form.support_cooked.name }}"
                                                       class="control-label">{{ form.support_cooked.label.text }}</label>

                                                {% if form.support_cooked.errors %}
                                                    {% for e in form.support_cooked.errors %}
                                                        <small class="form-control-feedback text-themecolor">{{ e }}</small>
                                                    {% endfor %}

                                                {% endif %}
                                                {{ form.support_uncooked(class="hidden") }}
                                            </div>
                                        </div>
                                        <!--/span-->

                                        <div class="col-md-4" id="uncooked_costbx">
                                            <div class="form-group">
                                                <label class="control-label"
                                                       for="{{ form.uncooked_cost.name }}">{{ form.uncooked_cost.label.text }}</label>
                                                {{ form.uncooked_cost(class="form-control") }}
                                                {% if form.uncooked_cost.errors %}
                                                    {% for e in form.uncooked_cost.errors %}
                                                        <small class="form-control-feedback text-themecolor">{{ e }}</small>
                                                    {% endfor %}

                                                {% endif %}
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-4 hidden" id="cooked_costbx">
                                            <div class="form-group">
                                                <label class="control-label"
                                                       for="{{ form.default_cost.name }}">{{ form.default_cost.label.text }}</label>
                                                {{ form.default_cost(class="form-control") }}
                                                {% if form.default_cost.errors %}
                                                    {% for e in form.default_cost.errors %}
                                                        <small class="form-control-feedback text-themecolor">{{ e }}</small>
                                                    {% endfor %}

                                                {% endif %}
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>


                                </div>
                                <div class="col-md-4 pull-right">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group {% if img_errors %} has-error {% endif %}">
                                                <span class="caption"><strong>NOTE: </strong>Maximum size per upload is <strong>15MB</strong></span><br>
                                                <span class="btn btn-file">
                                                    <span>Add Images</span>
                                                    <input type="file" class="img-upload" id="images" name="images"
                                                           multiple="multiple" target="#img-preview">
                                                  </span>
                                                <p><span>We recommend all your images should be the same dimensions (a square). Suggested dimensions should be at least <strong>200x200</strong>px.</span>
                                                </p>
                                                {% if img_errors %}
                                                    <span class="help-block">{{ img_errors }}</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-md-12 hidden-xs hidden-sm">
                                            {% if existing_images %}
                                                <div id="existing-preview" class="img-preview">
                                                    <div class="thumb">
                                                        {{ form.cover_image_id }}
                                                        <img id="coverImage" src="{{ obj.cover_image.url }}" alt="">
                                                    </div>
                                                    {% for img in existing_images %}
                                                        <div class="thumb has-removable">
                                                            <img class="clickable" data-display="#coverImage"
                                                                 data-src="{{ img.url }}" data-value="{{ img.id }}"
                                                                 data-target="#{{ form.cover_image_id.id }}"
                                                                 src="{{ img.url }}" alt="">
                                                            <input type="checkbox" value="{{ img.id }}"
                                                                   name="removables" class="removable"
                                                                   title="remove"/>
                                                        </div>
                                                    {% endfor %}
                                                    <div>
                                                        <strong>Click</strong> on an image to make it the cover
                                                        image.
                                                        To remove an image, <strong>select the checkbox</strong>
                                                        above
                                                        it. The <strong>cover image will not be removed.</strong>
                                                    </div>
                                                </div>
                                            {% endif %}
                                            <div id="img-preview" class="img-preview">

                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-actions">
                                <button type="submit" class="btn btn-themecolor"><i class="fa fa-check"></i> Save
                                </button>
                                <a href="{{ url_for('.recipes') }}" class="btn btn-inverse">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
{% block page_js %}
    <script>
        $("input[type=checkbox][name=is_special]").change(function () {
            var special = $(this).prop('checked');
            data = {"is_special": special};
            $.ajax({
                type: "POST",
                url: "{{ url_for('.fetch_menu_category') }}",
                data: JSON.stringify(data),
                contentType: 'application/json;charset=UTF-8',
                success: function (payload) {
                    if (payload.length > 0) {
                        var data = payload;
                        $("#menu_category_code").get(0).options.length = 0;
                        $("#menu_category_code").get(0).options[0] = new Option("--- Select One ---", 0);
                        $.each(data, function (index, _i) {
                            $("#menu_category_code").get(0).options[index + 1] = new Option(_i.name, _i.code);
                        });
                    }

                },
                error: function (xhr, textStatus, error) {
                    console.log(xhr.statusText);
                    console.log(textStatus);
                    console.log(error);
                }
            })
        });
        $("input[type=checkbox][name=is_featured]").change(function () {
            var featured = $(this).prop('checked');
            if (featured) {
                $("#featuredpostion_bx").show();
            } else {
                $("#featuredpostion_bx").hide();
            }
        });
        $("input[type=checkbox][name=support_cooked]").change(function () {
            var support_cooked = $(this).prop('checked');
            if (support_cooked) {
                $("#uncooked_costbx").hide();
                $("#cooked_costbx").show();
            } else {
                $("#cooked_costbx").hide();
                $("#uncooked_costbx").show();
            }
        });
        var current_update_menu_extra = $("input[type=checkbox][name=update_menu_extras]").prop('checked');
        if (current_update_menu_extra) {
            $('#menu_extras').removeClass("hidden");
        } else {
            $('#menu_extras').addClass("hidden");
        }
        $("input[type=checkbox][name=update_menu_extras]").change(function () {
            $('#menu_extras').toggleClass("hidden");
        });
    </script>
{% endblock page_js %}