{% extends "admin/layout.html" %}
{% block body %}
    <!-- Bread crumb -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">{% if obj %}Update Side Dish{% else %}Create Side Dish{% endif %}</h3></div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for('.index') }}"><i class="fa fa-dashboard"></i> Dashboard</a>
                </li>
                <li class="breadcrumb-item"><a href="{{ url_for('.side_dishes') }}">Side Dishes</a></li>
                <li class="breadcrumb-item active">{% if obj %}Update Side Dish{% else %}Create Side Dish{% endif %}</li>
            </ol>
        </div>
    </div>
    <!-- End Bread crumb -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for status,message in messages %}
                <div class="alert
                   {% if status=="success" %}alert-success text-white
                    {% elif status=="warning" %}alert-warning
                    {% else %}alert-danger text-themecolor{% endif %}
                ">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row">
            <div class="col-md-12">
                <div class="card card-outline-primary">

                    <div class="card-body">
                        <form action="{{ request.path }}" method="post" name="form" role="form"
                              enctype="multipart/form-data">
                            {{ form.csrf_token }}

                            <div class="form-body">

                                <h3 class="card-title m-t-15">Side Dish Info</h3>

                                <hr>
                                <div class="col-md-8 pull-left">
                                    <div class="row p-t-20">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="control-label">Name</label>
                                                {{ form.name(class="form-control") }}

                                                {% if form.name.errors %}
                                                    {% for e in form.name.errors %}
                                                        <small class="form-control-feedback text-themecolor">{{ e }}</small>
                                                    {% endfor %}

                                                {% endif %}
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <!--/row-->

                                    <div class="row">
                                        <div class="col-md-12 ">
                                            <div class="form-group">
                                                <label>Description</label>
                                                {{ form.description(class="form-control") }}
                                                {% if form.description.errors %}
                                                    {% for e in form.description.errors %}
                                                        <small class="form-control-feedback text-themecolor">{{ e }}</small>
                                                    {% endfor %}

                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">Quantity</label>
                                                {{ form.quantity(class="form-control") }}
                                                {% if form.quantity.errors %}
                                                    {% for e in form.quantity.errors %}
                                                        <small class="form-control-feedback text-themecolor">{{ e }}</small>
                                                    {% endfor %}

                                                {% endif %}
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">Price</label>
                                                {{ form.price(class="form-control") }}
                                                <small>Price per portion of the side dish</small>
                                                {% if form.price.errors %}
                                                    {% for e in form.price.errors %}
                                                        <small class="form-control-feedback text-themecolor">{{ e }}</small>
                                                    {% endfor %}

                                                {% endif %}
                                            </div>
                                        </div>
                                        <!--/span-->

                                    </div>
                                </div>
                                <div class="col-md-4 pull-right">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group {% if img_errors %} has-error {% endif %}">
                                                <span class="caption"><strong>NOTE: </strong>Maximum size per upload is <strong>15MB</strong></span><br>
                                                <span class="btn btn-file">
                                                    <span>Add Images</span>
                                                    <input type="file" class="img-upload" id="images" name="images"
                                                           multiple="multiple" target="#img-preview">
                                                  </span>
                                                <p><span>We recommend all your images should be the same dimensions (a square). Suggested dimensions should be at least <strong>200x200</strong>px.</span>
                                                </p>
                                                {% if img_errors %}
                                                    <span class="help-block">{{ img_errors }}</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-md-12 hidden-xs hidden-sm">
                                            {% if existing_images %}
                                                <div id="existing-preview" class="img-preview">
                                                    <div class="thumb">
                                                        {{ form.cover_image_id }}
                                                        <img id="coverImage" src="{{ obj.cover_image.url }}" alt="">
                                                    </div>
                                                    {% for img in existing_images %}
                                                        <div class="thumb has-removable">
                                                            <img class="clickable" data-display="#coverImage"
                                                                 data-src="{{ img.url }}" data-value="{{ img.id }}"
                                                                 data-target="#{{ form.cover_image_id.id }}"
                                                                 src="{{ img.url }}" alt="">
                                                            <input type="checkbox" value="{{ img.id }}"
                                                                   name="removables" class="removable" title="remove"/>
                                                        </div>
                                                    {% endfor %}
                                                    <div>
                                                        <strong>Click</strong> on an image to make it the cover image.
                                                        To remove an image, <strong>select the checkbox</strong> above
                                                        it. The <strong>cover image will not be removed.</strong>
                                                    </div>
                                                </div>
                                            {% endif %}
                                            <div id="img-preview" class="img-preview">

                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="form-actions">
                                <button type="submit" class="btn btn-themecolor"><i class="fa fa-check"></i> Save
                                </button>
                                <a href="{{ url_for('.side_dishes') }}" class="btn btn-inverse">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
{% block page_js %}
    <script>
        $("input[type=checkbox][name=is_special]").change(function () {
            var special = $(this).prop('checked');
            data = {"is_special": special};
            $.ajax({
                type: "POST",
                url: "{{ url_for('.fetch_menu_category') }}",
                data: JSON.stringify(data),
                contentType: 'application/json;charset=UTF-8',
                success: function (payload) {
                    if (payload.length > 0) {
                        var data = payload;
                        $("#menu_category_code").get(0).options.length = 0;
                        $("#menu_category_code").get(0).options[0] = new Option("--- Select One ---", 0);
                        $.each(data, function (index, _i) {
                            $("#menu_category_code").get(0).options[index + 1] = new Option(_i.name, _i.code);
                        });
                    }

                },
                error: function (xhr, textStatus, error) {
                    console.log(xhr.statusText);
                    console.log(textStatus);
                    console.log(error);
                }
            })
        });
        $("input[type=checkbox][name=is_featured]").change(function () {
            var featured = $(this).prop('checked');
            if(featured){
                $("#featuredpostion_bx").show();
            }else{
                $("#featuredpostion_bx").hide();
            }
        });
        $("input[type=checkbox][name=support_cooked]").change(function () {
            var support_cooked = $(this).prop('checked');
            if(support_cooked){
                $("#uncooked_costbx").hide();
                $("#cooked_costbx").show();
            }else{
                $("#cooked_costbx").hide();
                $("#uncooked_costbx").show();
            }
        });
    </script>
{% endblock page_js %}