{% extends "admin/layout.html" %}
{% block body %}
    <!-- Bread crumb -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Proteins</h3></div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for('.index') }}"><i class="fa fa-dashboard"></i> Dashboard</a>
                </li>
                <li class="breadcrumb-item active">Proteins</li>
            </ol>
        </div>
    </div>
    <!-- End Bread crumb -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for message, status in messages %}
                <div class="alert
                   {% if status=="success" %}alert-success text-white
                    {% elif status=="warning" %}alert-warning
                    {% else %}alert-danger text-themecolor{% endif %}
                ">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <!-- Container fluid  -->
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row">
            <div class="col-12">
                <div class="btn-group pull-right">
                    <a href="{{ url_for('.create_protein') }}" class="btn btn-themecolor">Create Protein</a>
                </div>
                {% include 'admin/snippets/search_box.html' %}
                <div class="clearfix"></div>
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="myTable" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>Code</th>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                    <th>Expiration</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if results.items %}
                                    {% for obj in results.items %}
                                        <tr>
                                            <td>{{ obj.code }}</td>
                                            <td>{{ obj.name }}</td>
                                            <td>{{ obj.description }}</td>
                                            <td>{{ obj.quantity }}</td>
                                            <td>{{ obj.price }}</td>
                                            <td>{{ obj.expiration_date.strftime("%d-%m-%Y") }}</td>
                                            <td><a class="btn btn-sm btn-warning"
                                                   href="{{ url_for('.update_protein',obj_id=obj.id) }}">Update</a></td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                        {% include 'admin/snippets/pagination.html' %}
                    </div>
                </div>
            </div>
        </div>
        <!-- End PAge Content -->
    </div>
    <!-- End Container fluid  -->
{% endblock body %}