{% extends "admin/layout.html" %}
{% block body %}
    <!-- Bread crumb -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">{{ title }}</h3>
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for('.index') }}"><i class="fa fa-dashboard"></i> Dashboard</a>
                </li>
                <li class="breadcrumb-item"><a href="{{ prev_url }}">Back to All Records</a></li>

            </ol>
        </div>
    </div>
    <!-- End Bread crumb -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for message, status in messages %}
                <div class="alert
                   {% if status=="success" %}alert-success text-white
                    {% elif status=="warning" %}alert-warning
                    {% else %}alert-danger text-themecolor{% endif %}
                ">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row">
            <div class="col-md-12">
                <div class="card card-outline-primary">

                    <div class="card-body">
                        <form action="{{ request.path }}" method="post" name="form" role="form"
                              enctype="multipart/form-data">
                            <div class="form-body">

                                <h3 class="card-title m-t-15">{{ title }}</h3>

                                <hr>
                                <div class="col-md-8 pull-left">
                                    <div class="row p-t-20">

                                        <div class="col-md-12">
                                            Are you sure you want to proceed with the action?. Kindly note that if you
                                            do, action can not be reversed.
                                        </div>
                                        <div class="clearfix"></div>
                                        <!--/span-->
                                    </div>

                                </div>
                                <div class="col-md-4 pull-right">
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <br><br>
                            <div class="form-actions">
                                <button type="submit" class="btn btn-themecolor"><i class="fa fa-check"></i> Delete
                                </button>
                                <a href="{{ prev_url }}" class="btn btn-inverse">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}