{% extends "admin/layout.html" %}


            {% block body %}
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor">Dashboard</h3></div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
                </div>
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
                <div class="row">
                    <div class="col-md-3">
                        <div class="card p-30">
                            <div class="media">
                                <div class="media-left meida media-middle">
                                    <span><i class="fa fa-user-secret f-s-40 color-primary"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h2>{{ user_count }}</h2>
                                    <p class="m-b-0"><a href="">Users</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card p-30">
                            <div class="media">
                                <div class="media-left meida media-middle">
                                    <span><i class="fa fa-folder f-s-40 color-success"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h2>{{ menu_count }}</h2>
                                    <p class="m-b-0"><a href="">Recipes</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card p-30">
                            <div class="media">
                                <div class="media-left meida media-middle">
                                    <span><i class="fa fa-music f-s-40 color-warning"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h2>{{ order_count }}</h2>
                                    <p class="m-b-0"><a href="">Orders</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card p-30">
                            <div class="media">
                                <div class="media-left meida media-middle">
                                    <span><i class="fa fa-envelope f-s-40 color-danger"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h2>{{ message_count }}</h2>
                                    <p class="m-b-0"><a href="">Messages</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row bg-white m-l-0 m-r-0 box-shadow ">

                    <!-- column -->
                    <div class="col-lg-8">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Recipe Chart</h4>
                                <div id="extra-area-chart"></div>
                            </div>
                        </div>
                    </div>
                    <!-- column -->

                    <!-- column -->
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-body browser">
                                <p class="f-w-600">African <span class="pull-right">85%</span></p>
                                <div class="progress ">
                                    <div role="progressbar" style="width: 85%; height:8px;"
                                         class="progress-bar bg-danger wow animated progress-animated"><span
                                            class="sr-only">60% Complete</span></div>
                                </div>

                                <p class="m-t-30 f-w-600">Intercontinental<span class="pull-right">90%</span></p>
                                <div class="progress">
                                    <div role="progressbar" style="width: 90%; height:8px;"
                                         class="progress-bar bg-info wow animated progress-animated"><span
                                            class="sr-only">60% Complete</span></div>
                                </div>

                                <p class="m-t-30 f-w-600">Mexican<span class="pull-right">65%</span></p>
                                <div class="progress">
                                    <div role="progressbar" style="width: 65%; height:8px;"
                                         class="progress-bar bg-success wow animated progress-animated"><span
                                            class="sr-only">60% Complete</span></div>
                                </div>

                                <p class="m-t-30 f-w-600">Chinese<span class="pull-right">65%</span></p>
                                <div class="progress">
                                    <div role="progressbar" style="width: 65%; height:8px;"
                                         class="progress-bar bg-warning wow animated progress-animated"><span
                                            class="sr-only">60% Complete</span></div>
                                </div>

                                <p class="m-t-30 f-w-600">Ghanian<span class="pull-right">65%</span></p>
                                <div class="progress m-b-30">
                                    <div role="progressbar" style="width: 65%; height:8px;"
                                         class="progress-bar bg-success wow animated progress-animated"><span
                                            class="sr-only">60% Complete</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- column -->
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="card bg-dark">
                            <div class="testimonial-widget-one p-17">
                                <div class="testimonial-widget-one owl-carousel owl-theme">
                                    {% for msg in recent_messages[:10] %}
                                    <div class="item">
                                        <div class="testimonial-content">
                                            <img class="testimonial-author-img" src="images/avatar/2.jpg" alt=""/>
                                            <div class="testimonial-author">{{ msg.name }}</div>
                                            <div class="testimonial-author-position">{{ msg.subject }}</div>

                                            <div class="testimonial-text">
                                                <i class="fa fa-quote-left"></i> {{ msg.body }}
                                                <i class="fa fa-quote-right"></i>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="card">
                            <div class="card-title">
                                <h4>Recent Messages </h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Name</th>
                                            <th>Subject</th>
                                            <th>Message</th>
                                            <th>Read</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for msg in recent_messages[:5] %}
                                        <tr>
                                            <td>
                                                <div class="round-img">
                                                    <a href=""><img src="/static/admin/images/avatar/4.jpg" alt=""></a>
                                                </div>
                                            </td>
                                            <td>{{ msg.name }}</td>
                                            <td><span>{{ msg.subject }}</span></td>
                                            <td><span>{{ msg.body }}</span></td>
                                            <td>
                                                {% if msg.is_replied %}<span class="badge badge-success">REPLIED</span>{% elif msg.is_read %}<span class="badge badge-warning">READ</span>{% else %}<span class="badge">PENDING</span>{% endif %}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- End PAge Content -->
            </div>
            <!-- End Container fluid  -->
            {% endblock body %}
