<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="STEW: Save Time, Eat Well">
    <meta name="author" content="Kunsam002">
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{url_for('static', filename='images/stew_fav_small.png')}}">
    <title>Stew Admin{% if title %} | {{ title }}{% endif %}</title>
    <!--<link rel="stylesheet" href="/static/admin/css/lib/bootstrap/bootstrap.min.css" type="text/css">-->

    <!--<link rel="stylesheet" href="/static/admin/css/lib/calendar2/semantic.ui.min.css" type="text/css">-->

    <!--<link rel="stylesheet" href="/static/admin/css/lib/calendar2/pignose.calendar.min.css" type="text/css">-->

    <!--<link rel="stylesheet" href="/static/admin/css/lib/owl.carousel.min.css" type="text/css">-->

    <!--<link rel="stylesheet" href="/static/admin/css/lib/owl.theme.default.min.css" type="text/css">-->

    <!--<link rel="stylesheet" href="/static/admin/css/redactor.css" type="text/css">-->

    <!--<link rel="stylesheet" href="/static/admin/css/helper.css" type="text/css">-->

    <!--<link rel="stylesheet" href="/static/admin/css/style.css" type="text/css">-->

    <!--<link rel="stylesheet" href="/static/dist/css/admin.less.min.css" type="text/css">-->
    {% assets "admin_css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css"/>
    {% endassets %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:** -->
    <!--[if lt IE 9]>
    <script src="https:**oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https:**oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="fix-header fix-sidebar">
<!-- Preloader - style you can find in spinners.css -->
<div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
    </svg>
</div>
<!-- Main wrapper  -->
<div id="main-wrapper">
    {% block header %}
    <!-- header header  -->
    <div class="header">
        <nav class="navbar top-navbar navbar-expand-md navbar-light">
            <!-- Logo -->
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ url_for('.index') }}">
                    <!-- Logo icon -->
                    <b><img style="width:120px;" src="{{url_for('static',filename='images/stew_logo_small.png')}}"
                            alt="homepage" class="dark-logo"></b>
                    <!--End Logo icon -->
                    <!-- Logo text -->
                    <!--<span>Stew</span>-->
                </a>
            </div>
            <!-- End Logo -->
            <div class="navbar-collapse">
                <!-- toggle and nav items -->
                <ul class="navbar-nav mr-auto mt-md-0">

                </ul>
                <!-- User profile and search -->
                <ul class="navbar-nav my-lg-0">
                    {% if all_done %}
                    <!-- Comment -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-muted text-muted  " href="#" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false"> <i class="fa fa-bell"></i>
                            <div class="notify"><span class="heartbit"></span> <span class="point"></span></div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right mailbox animated zoomIn">
                            <ul>
                                <li>
                                    <div class="drop-title">Notifications</div>
                                </li>
                                <li>
                                    <div class="message-center">
                                        <!-- Message -->
                                        <a href="#">
                                            <div class="btn btn-danger btn-circle m-r-10"><i class="fa fa-link"></i>
                                            </div>
                                            <div class="mail-contnet">
                                                <h5>This is title</h5> <span class="mail-desc">Just see the my new admin!</span>
                                                <span class="time">9:30 AM</span>
                                            </div>
                                        </a>
                                        <!-- Message -->
                                        <a href="#">
                                            <div class="btn btn-success btn-circle m-r-10"><i
                                                    class="ti-calendar"></i></div>
                                            <div class="mail-contnet">
                                                <h5>This is another title</h5> <span class="mail-desc">Just a reminder that you have event</span>
                                                <span class="time">9:10 AM</span>
                                            </div>
                                        </a>
                                        <!-- Message -->
                                        <a href="#">
                                            <div class="btn btn-info btn-circle m-r-10"><i class="ti-settings"></i>
                                            </div>
                                            <div class="mail-contnet">
                                                <h5>This is title</h5> <span class="mail-desc">You can customize this template as you want</span>
                                                <span class="time">9:08 AM</span>
                                            </div>
                                        </a>
                                        <!-- Message -->
                                        <a href="#">
                                            <div class="btn btn-primary btn-circle m-r-10"><i class="ti-user"></i>
                                            </div>
                                            <div class="mail-contnet">
                                                <h5>This is another title</h5> <span class="mail-desc">Just see the my admin!</span>
                                                <span class="time">9:02 AM</span>
                                            </div>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <a class="nav-link text-center" href="javascript:void(0);"> <strong>Check all
                                        notifications</strong> <i class="fa fa-angle-right"></i> </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <!-- End Comment -->
                    {% endif %}
                    <!-- Messages -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-muted  " href="#" id="2" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false"> <i class="fa fa-envelope"></i>
                            <div class="notify"><span class="heartbit"></span> <span class="point"></span></div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right mailbox animated zoomIn" aria-labelledby="2">
                            <ul>
                                <li>
                                    <div class="drop-title">You have {{length(recent_messages)}} new messages</div>
                                </li>
                                <li>
                                    <div class="message-center">
                                        {% for msg in recent_messages[:4] %}
                                        <!-- Message -->
                                        <a href="#">
                                            <div class="user-img"><img src="/static/admin/images/users/5.jpg" alt="user"
                                                                       class="img-circle"> <span
                                                    class="profile-status online pull-right"></span></div>
                                            <div class="mail-contnet">
                                                <h5>{{ msg.name }}</h5> <span
                                                    class="mail-desc">{{ msg.subject }}</span> <span
                                                    class="time">{{ timestamp_to_date(msg.date_created) }}</span>
                                            </div>
                                        </a>
                                        {% endfor %}

                                    </div>
                                </li>
                                <li>
                                    <a class="nav-link text-center" href="javascript:void(0);"> <strong>See all
                                        e-Mails</strong> <i class="fa fa-angle-right"></i> </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <!-- End Messages -->
                    <!-- Profile -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-muted  " href="#" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false"><img src="/static/admin/images/users/5.jpg"
                                                                           alt="user"
                                                                           class="profile-pic"/></a>
                        <div class="dropdown-menu dropdown-menu-right animated zoomIn">
                            <ul class="dropdown-user">
                                <li><a href="javascript:void(0);"><i class="ti-user"></i> Profile</a></li>
                                {#
                                <li><a href="#"><i class="ti-wallet"></i> Balance</a></li>
                                #}
                                {#
                                <li><a href="#"><i class="ti-email"></i> Inbox</a></li>
                                #}
                                <li><a href="javascript:void(0);"><i class="ti-settings"></i> Setting</a></li>
                                <li><a href="{{ url_for('.logout') }}"><i class="fa fa-power-off"></i> Logout</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- End header header -->
    {% endblock header %}
    {% block sidebar %}
    <!-- Left Sidebar  -->
    <div class="left-sidebar" style="overflow-y:overlay;">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav">
                <ul id="sidebarnav">
                    <li class="nav-devider"></li>
                    <li class="nav-label">Home</li>
                    <li><a class="" href="{{ url_for('.index') }}" aria-expanded="false"><i
                            class="fa fa-tachometer"></i><span
                            class="hide-menu">Dashboard</span></a>
                    </li>
                    <li class="nav-label">Accounts</li>
                    <li><a class="" href="{{ url_for('.users') }}" aria-expanded="false"><i
                            class="fa fa-users"></i><span
                            class="hide-menu">Users</span></a>
                    </li>
                    <li class="nav-label">Communications</li>
                    <li><a class="" href="{{ url_for('.messages') }}" aria-expanded="false"><i
                            class="fa fa-envelope"></i><span
                            class="hide-menu">Messages &nbsp;&nbsp;<small class="text-themecolor">({{ unread_message_count }})</small></span></a>
                    </li>
                    <li class="nav-label">Assets</li>
                    <li><a class="" href="{{url_for('.menu_sizes')}}" aria-expanded="false"><i
                            class="fa fa-user-secret"></i><span
                            class="hide-menu">Menu Sizes</span></a>
                    </li>
                    <li><a class="" href="{{url_for('.menu_conditions')}}" aria-expanded="false"><i
                            class="fa fa-user-secret"></i><span
                            class="hide-menu">Menu Conditions</span></a>
                    </li>
                    <li><a class="" href="{{url_for('.menu_frequencies')}}" aria-expanded="false"><i
                            class="fa fa-folder"></i><span
                            class="hide-menu">Menu Frequencies</span></a>
                    </li>
                    <li><a class="" href="{{url_for('.menu_categories')}}" aria-expanded="false"><i
                            class="fa fa-gift"></i><span
                            class="hide-menu">Menu Categories</span></a>
                    </li>
                    <li><a class="" href="{{url_for('.delivery_options')}}" aria-expanded="false"><i
                            class="fa fa-th"></i><span
                            class="hide-menu">Delivery Methods</span></a>
                    </li>
                    <li><a class="" href="{{url_for('.payment_options')}}" aria-expanded="false"><i
                            class="fa fa-th"></i><span
                            class="hide-menu">Payment Methods</span></a>
                    </li>
                    <li><a class="" href="{{url_for('.payment_statuses')}}" aria-expanded="false"><i
                            class="fa fa-picture-o"></i><span
                            class="hide-menu">Payment Status</span></a>
                    </li>
                    <li><a class="" href="{{url_for('.delivery_statuses')}}" aria-expanded="false"><i
                            class="fa fa-picture-o"></i><span
                            class="hide-menu">Delivery Status</span></a>
                    </li>
                    <li class="nav-label">Inventory</li>
                    <li><a class="" href="{{url_for('.recipes')}}" aria-expanded="false"><i
                            class="fa fa-newspaper-o"></i><span
                            class="hide-menu">Recipes</span></a>
                    </li>
                    <li><a class="" href="{{url_for('.ingredients')}}" aria-expanded="false"><i
                            class="fa fa-ticket"></i><span
                            class="hide-menu">Ingredients</span></a>
                    </li>
                    <li><a class="" href="{{url_for('.proteins')}}" aria-expanded="false"><i
                            class="fa fa-chicken"></i><span
                            class="hide-menu">Proteins</span></a>
                    </li>
                    <li><a class="" href="{{url_for('.side_dishes')}}" aria-expanded="false"><i
                            class="fa fa-chicken"></i><span
                            class="hide-menu">Side Dishes</span></a>
                    </li>
                    <li class="nav-label">Promo & Campaigns</li>
                    <li><a class="" href="{{url_for('.featured_recipes')}}" aria-expanded="false"><i
                            class="fa fa-shopping-cart"></i><span
                            class="hide-menu">Featured Recipes</span></a>
                    </li>
                                        <li class="nav-label">Checkout</li>
                    <li><a class="" href="{{url_for('.carts')}}" aria-expanded="false"><i
                            class="fa fa-shopping-cart"></i><span
                            class="hide-menu">Cart</span></a>
                    </li>
                    <li><a class="" href="{{ url_for('.transactions') }}" aria-expanded="false"><i
                            class="fa fa-shopping-cart"></i><span
                            class="hide-menu">Transactions</span></a>
                    </li>
                    <li><a class="" href="{{ url_for('.orders') }}" aria-expanded="false"><i
                            class="fa fa-shopping-cart"></i><span
                            class="hide-menu">Orders</span></a>
                    </li>

                </ul>
            </nav>
            <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
    </div>
    <!-- End Left Sidebar  -->
    {% endblock sidebar %}
    <!-- Page wrapper  -->
    <div class="page-wrapper">
        {% block body %}
        {% endblock body %}
        <!-- footer -->
        <footer class="footer text-center">
            Copyright © {{ today.strftime("%Y") }} <a target="_blank" class="text-themecolor" href="#">Stew</a>,
            Developed by <a href="javascript:void(0)" class="text-themecolor">Kunsam002</a>. All Rights
            Reserved
        </footer>
        <!-- End footer -->
    </div>
    <!-- End Page wrapper  -->

</div>
<!-- End Wrapper -->

<!--<script src="/static/admin/js/lib/jquery/jquery.min.js" type="text/javascript"></script>-->

<!--<script src="/static/admin/js/lib/bootstrap/js/popper.min.js" type="text/javascript"></script>-->

<!--<script src="/static/admin/js/lib/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>-->

<!--<script src="/static/admin/js/jquery.slimscroll.js" type="text/javascript"></script>-->

<!--<script src="/static/admin/js/sidebarmenu.js" type="text/javascript"></script>-->

<!--<script src="/static/admin/js/lib/sticky-kit-master/dist/sticky-kit.min.js" type="text/javascript"></script>-->

<!--<script src="/static/admin/js/lib/morris-chart/raphael-min.js" type="text/javascript"></script>-->

<!--<script src="/static/admin/js/lib/morris-chart/morris.js" type="text/javascript"></script>-->

<!--<script src="/static/admin/js/lib/morris-chart/dashboard1-init.js" type="text/javascript"></script>-->

<!--<script src="/static/admin/js/lib/calendar-2/moment.latest.min.js" type="text/javascript"></script>-->

<!--<script src="/static/admin/js/lib/calendar-2/semantic.ui.min.js" type="text/javascript"></script>-->

<!--<script src="/static/admin/js/lib/calendar-2/prism.min.js" type="text/javascript"></script>-->

<!--<script src="/static/admin/js/lib/calendar-2/pignose.calendar.min.js" type="text/javascript"></script>-->

<!--<script src="/static/admin/js/lib/calendar-2/pignose.init.js" type="text/javascript"></script>-->

<!--<script src="/static/admin/js/lib/owl-carousel/owl.carousel.min.js" type="text/javascript"></script>-->

<!--<script src="/static/admin/js/lib/owl-carousel/owl.carousel-init.js" type="text/javascript"></script>-->

<!--<script src="/static/admin/js/redactor.js" type="text/javascript"></script>-->

<!--<script src="/static/admin/js/scripts.js" type="text/javascript"></script>-->

<!--<script src="/static/admin/js/custom.min.js" type="text/javascript"></script>-->

<!--<script src="/static/admin/js/lib/datatables/datatables.min.js" type="text/javascript"></script>-->

<!--<script src="/static/admin/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js" type="text/javascript"></script>-->

<!--<script src="/static/admin/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js" type="text/javascript"></script>-->

<!--<script src="/static/admin/js/lib/datatables/cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js" type="text/javascript"></script>-->

<!--<script src="/static/admin/js/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js" type="text/javascript"></script>-->

<!--<script src="/static/admin/js/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js" type="text/javascript"></script>-->

<!--<script src="/static/admin/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js" type="text/javascript"></script>-->

<!--<script src="/static/admin/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js" type="text/javascript"></script>-->

<!--<script src="/static/admin/js/lib/datatables/datatables-init.js" type="text/javascript"></script>-->

{% assets "admin_js" %}
<script src="{{ ASSET_URL }}" type="text/javascript"></script>
{% endassets %}

<script>
    // create rich text
    $(".rich-text").redactor();
    $(".clickable").each(function (idx, el) {
        var elem = $(el);
        var target = elem.data("target");
        var value = elem.data("value");
        var display = elem.data("display");
        var src = elem.data("src");

        elem.bind("click", function (e) {
            $(target).val(value);
            $(display).attr("src", src);
        });
    });

    // file preview using html5
    $(".img-upload").each(function (idx, el) {
        var elem = $(el);
        var target = elem.attr("target");
        elem.bind("change", function (e) {

            $(target).empty();

            $(this.files).each(function (i, f) {
                var reader = new FileReader();
                reader.readAsDataURL(f);
                reader.onload = function (evt) {
                    var thumb = $("<div/>", {"class": "thumb"}).append($("<img/>", {"src": evt.target.result}));
                    $(target).append(thumb);
                };
            })
        });
    });

    $(".multi-select").chosen();

</script>
{% block page_js %}
{% endblock page_js %}
</body>

</html>