<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="STEW: Save Time, Eat Well">
    <meta name="author" content="Kunsam002">
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/stew_fav_small.png') }}">
    <title>Stew Admin</title>


    <!--&lt;!&ndash; Bootstrap Core CSS &ndash;&gt;-->
    <!--<link href="/static/admin/css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">-->
    <!--&lt;!&ndash; Custom CSS &ndash;&gt;-->
    <!--<link href="/static/admin/css/helper.css" rel="stylesheet">-->
    <!--<link href="/static/admin/css/style.css" rel="stylesheet">-->

    {% assets "admin_error_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css"/>
    {% endassets %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:** -->
    <!--[if lt IE 9]>
    <script src="https:**oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https:**oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class="fix-header fix-sidebar">
<!-- Preloader - style you can find in spinners.css -->
<div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
    </svg>
</div>
<!-- Main wrapper  -->
<div id="main-wrapper" style="background: #fcfcfc;">

    <div class="unix-login">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-4">
                    <div class="login-content card">
                        <div class="login-form">
                            <h1 class="text-themecolor text-center mb-20"><img
                                    src="{{ url_for('static', filename='images/stew_logo_small.png') }}" alt="homepage"
                                    class="dark-logo"/ style="width:160px;"></h1>
                            <br>

                            <form action="{{ request.path }}" method="post">
                                {{ form.csrf_token }}
                                {% with messages = get_flashed_messages(with_categories=true) %}
                                    {% if messages %}
                                        {% for message, status in messages %}
                                            <div class="alert
                                                       {% if status=="success" %}alert-success text-white
                                                        {% elif status=="warning" %}alert-warning
                                                        {% else %}alert-danger text-themecolor{% endif %}
                                                    ">
                                                {{ message }}
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                {% endwith %}
                                <div class="form-group">
                                    <label>Username / Email Address</label>
                                    {{ form.username(class="form-control") }}
                                    {% if form.username.errors %}
                                        {% for e in form.username.errors %}
                                            <small class="form-control-feedback text-themecolor">{{ e }}</small>
                                        {% endfor %}

                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    {{ form.password(class="form-control") }}
                                    {% if form.password.errors %}
                                        {% for e in form.password.errors %}
                                            <small class="form-control-feedback text-themecolor">{{ e }}</small>
                                        {% endfor %}

                                    {% endif %}
                                </div>
                                <div class="checkbox">
                                    <label>
                                        {{ form.remember() }} Remember Me
                                    </label>


                                </div>
                                <button type="submit" class="btn btn-themecolor btn-flat m-b-30 m-t-30">Sign in</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% assets "admin_error_js" %}
    <script src="{{ ASSET_URL }}" type="text/javascript"></script>
{% endassets %}

<!--&lt;!&ndash; End Wrapper &ndash;&gt;-->
<!--&lt;!&ndash; All Jquery &ndash;&gt;-->
<!--<script src="/static/admin/js/lib/jquery/jquery.min.js"></script>-->
<!--&lt;!&ndash; Bootstrap tether Core JavaScript &ndash;&gt;-->
<!--<script src="/static/admin/js/lib/bootstrap/js/popper.min.js"></script>-->
<!--<script src="/static/admin/js/lib/bootstrap/js/bootstrap.min.js"></script>-->
<!--&lt;!&ndash; slimscrollbar scrollbar JavaScript &ndash;&gt;-->
<!--<script src="/static/admin/js/jquery.slimscroll.js"></script>-->
<!--&lt;!&ndash;Menu sidebar &ndash;&gt;-->
<!--<script src="/static/admin/js/sidebarmenu.js"></script>-->
<!--&lt;!&ndash;stickey kit &ndash;&gt;-->
<!--<script src="/static/admin/js/lib/sticky-kit-master/dist/sticky-kit.min.js"></script>-->
<!--&lt;!&ndash;Custom JavaScript &ndash;&gt;-->
<!--<script src="/static/admin/js/custom.min.js"></script>-->

</body>

</html>