{% extends "admin/layout.html" %}
{% block body %}
                <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-primary">View Message</h3> </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ url_for('.index') }}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="{{ url_for('.messages') }}">Messages</a></li>
                        <li class="breadcrumb-item active">View Message</li>
                    </ol>
                </div>
            </div>
            <!-- End Bread crumb -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for message, status in messages %}
                <div class="alert
                   {% if status=="success" %}alert-success text-white
                    {% elif status=="warning" %}alert-warning
                    {% else %}alert-danger text-themecolor{% endif %}
                ">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-content">
                                    <!-- Left sidebar -->
                                    <div class="inbox-leftbar">
                                        <a class="btn btn-danger btn-block waves-effect waves-light" href="#">Compose</a>

                                        <div class="mail-list mt-4">
                                            <a class="list-group-item border-0 text-danger" href="{{ url_for('.messages') }}"><i class="mdi mdi-inbox font-18 align-middle mr-2"></i><b>Inbox</b><span class="label label-danger float-right ml-2">{{ unread_message_count }}</span></a>
                                            {% if all_done %}
                                            <a class="list-group-item border-0" href="#"><i class="mdi mdi-star font-18 align-middle mr-2"></i>Starred</a>
                                            <a class="list-group-item border-0" href="#"><i class="mdi mdi-file-document-box font-18 align-middle mr-2"></i>Draft<span class="label label-info float-right ml-2">32</span></a>
                                            {% endif %}
                                            <a class="list-group-item border-0" href="#"><i class="mdi mdi-send font-18 align-middle mr-2"></i>Sent Mail</a>
                                            {% if all_done %}
                                            <a class="list-group-item border-0" href="#"><i class="mdi mdi-delete font-18 align-middle mr-2"></i>Trash</a>
                                        {% endif %}
                                        </div>


                                    </div>
                                    <!-- End Left sidebar -->

                                    <div class="inbox-rightbar">

                                        <div role="toolbar" class="">

                                        </div>

                                        <div class="mt-4">
                                            <h5>{{ obj.subject }}</h5>

                                            <hr/>

                                            <div class="media mb-4 mt-1">
                                                <img class="d-flex mr-3 rounded-circle thumb-sm" src="/static/admin/images/users/avatar-2.jpg" alt="Generic placeholder image">
                                                <div class="media-body">
                                                    <span class="pull-right">07:23 AM</span>
                                                    <h6 class="m-0">{{ obj.name }}</h6>
                                                    <small class="text-muted">From: {{ obj.email }}</small>
                                                </div>
                                            </div>

                                            <p>{{ obj.body }}</p>

                                            <hr/>

                                            <h6> <i class="fa fa-paperclip mb-2"></i> Attachments <span>(0)</span> </h6>
                                            {% if all_done %}
                                            <div class="row">
                                                <div class="col-sm-2">
                                                    <a href="#"> <img src="/static/admin/images/attached-files/img-1.jpg" alt="attachment" class="img-thumbnail img-responsive"> </a>
                                                </div>
                                                <div class="col-sm-2">
                                                    <a href="#"> <img src="/static/admin/images/attached-files/img-2.jpg" alt="attachment" class="img-thumbnail img-responsive"> </a>
                                                </div>
                                                <div class="col-sm-2">
                                                    <a href="#"> <img src="/static/admin/images/attached-files/img-3.jpg" alt="attachment" class="img-thumbnail img-responsive"> </a>
                                                </div>
                                            </div>
                                            {% endif %}
                                        </div>
                                        <!-- card-box -->
                                        {% for resp in responses %}
                                        <div class="media mb-0 mt-5">
                                            <img class="d-flex mr-3 rounded-circle thumb-sm" src="/static/admin/images/users/avatar-7.jpg" alt="Generic placeholder image">
                                            <div class="media-body">
                                                <div class="card-box">
                                                    <div class="summernote">
                                                        <p>{{ resp.body }}</p>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                        <div class="text-right">
                                            <a href="javascript:history.go(-1);" type="button" class="btn btn-primary waves-effect waves-light w-md m-b-30"><< Back </a>
                                            <button type="button" class="btn btn-primary waves-effect waves-light w-md m-b-30">Send</button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End PAge Content -->
            </div>
            <!-- End Container fluid  -->

{% endblock body %}