.thumb {
  height: 80px;
  display: inline-block;
  border: 1px solid #f8f8f8;
  margin-left: 10px;
  background: #f8f8f8;
  padding: 5px;
  text-align: center;
  position: relative;
  min-width: 40px;
}

.thumb.clickable:hover {
  cursor: pointer !important;
}

.thumb .checker {
  position: absolute;
  top: 0px;
  left: 0px;
}

.thumb img {
  display: block;
  height: 100%;
  width: auto;
  vertical-align: center;
}

.img-preview .thumb:first-child {
  display: block;
  height: auto;
  margin-bottom: 10px;
  vertical-align: center;
}

.img-preview .thumb:first-child img {
  margin: auto auto;
  height: auto;
  max-width: 100%;
}

footer {
  position: fixed !important;
  bottom: 0;
  margin-bottom: 0;
}

#search_box {
  float: right;
  button {
    background: transparent;
    border: 1px solid #ddd;
    border-radius: .25rem;
    color: #4caf50;

    &:focus, &:hover, &:active {
      -webkit-box-shadow: none !important;
      -moz-box-shadow: none !important;
      box-shadow: none !important;
      border-color: #4caf50;
    }
  }
  ul {
    border-color: #4caf50;
    background: rgba(250, 250, 250, 0.6);

    input:focus {
      border-color: #ccc;
    }
  }
}

#pagination {
  padding-top: 15px;
  ul.pagination {
    float: right;

    text-align: right;
    li {
      background: transparent none repeat scroll 0 0;
      border: 1px solid #ddd;
      box-shadow: none;
      color: #67757c;
      cursor: default;

      box-sizing: border-box;
      display: inline-block;

      text-align: center;
      a {
        border-radius: 0 !important;
        padding: .5em 1em;
        line-height: 30px;
      }

    }
    li.active {
      background-color: #4caf50;
      border: 1px solid #4caf50;
      color: #fff !important;
      a {
        color: inherit !important;
      }
    }

  }
}