.thumb {
  height: 80px;
  display: inline-block;
  border: 1px solid #f8f8f8;
  margin-left: 10px;
  background: #f8f8f8;
  padding: 5px;
  text-align: center;
  position: relative;
  min-width: 40px;
}
.thumb.clickable:hover {
  cursor: pointer !important;
}
.thumb .checker {
  position: absolute;
  top: 0px;
  left: 0px;
}
.thumb img {
  display: block;
  height: 100%;
  width: auto;
  vertical-align: center;
}
.img-preview .thumb:first-child {
  display: block;
  height: auto;
  margin-bottom: 10px;
  vertical-align: center;
}
.img-preview .thumb:first-child img {
  margin: auto auto;
  height: auto;
  max-width: 100%;
}
footer {
  position: fixed !important;
  bottom: 0;
  margin-bottom: 0;
}
#search_box {
  float: right;
}
#search_box button {
  background: transparent;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  color: #4caf50;
}
#search_box button:focus,
#search_box button:hover,
#search_box button:active {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  border-color: #4caf50;
}
#search_box ul {
  border-color: #4caf50;
  background: rgba(250, 250, 250, 0.6);
}
#search_box ul input:focus {
  border-color: #ccc;
}
#pagination {
  padding-top: 15px;
}
#pagination ul.pagination {
  float: right;
  text-align: right;
}
#pagination ul.pagination li {
  background: transparent none repeat scroll 0 0;
  border: 1px solid #ddd;
  box-shadow: none;
  color: #67757c;
  cursor: default;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
}
#pagination ul.pagination li a {
  border-radius: 0 !important;
  padding: 0.5em 1em;
  line-height: 30px;
}
#pagination ul.pagination li.active {
  background-color: #4caf50;
  border: 1px solid #4caf50;
  color: #fff !important;
}
#pagination ul.pagination li.active a {
  color: inherit !important;
}
/*# sourceMappingURL=layout.css.map */