<div id="pagination">
    <ul class="pagination">
        {% if page > 1 %}
            {% if results.prev_num %}
                <li><a href="{{ paging_url_build(request.path, request_args, results.prev_num) }}" aria-label="Previous">Previous</a>
                </li>
            {% endif %}
        {% endif %}
        {% for i in range(minimum(results.pages+1, page-2), minimum(results.pages+1, page+3)) %}
            {% if i > 0 %}
                {% if page == i %}
                    <li class="active"><a href="{{ paging_url_build(request.path, request_args, i) }}">{{ i }}</a></li>
                {% else %}
                    <li><a href="{{ paging_url_build(request.path, request_args, i) }}">{{ i }}</a></li>
                {% endif %}
            {% endif %}
        {% endfor %}
        {% if results.next_num %}
            <li><a href="{{ paging_url_build(request.path, request_args, results.next_num) }}" aria-label="Next">Next</a></li>
        {% endif %}
    </ul>
</div>
