<div class="btn-group dropdown" id="search_box">
                <button type="button" class="btn" data-toggle="dropdown">Search <i class="fa fa-search"></i></button>
                <ul class="dropdown-menu dropdown-menu-right dropdown-animation">
                    <li>
                        <form role="search" action="{{ request.path }}" method="get" class="search-box margin-clear">
                            <div class="has-feedback">
                                <input type="text" class="form-control" name="q" placeholder="{% if search_q %}{{ search_q }}{% else %}Search{% endif %}">
                                <i class="icon-search form-control-feedback"></i>
                            </div>
                        </form>
                    </li>
                </ul>
            </div>