<nav class="text-center">
    <ul class="pagination">
        {% if page > 1 %}
            {% if results.prev %}
                <li><a href="{{ results.previous_page }}" aria-label="Previous"><i class="fa fa-angle-left"></i></a>
                </li>
            {% endif %}
        {% endif %}
        {% for i in range(minimum(results.pages+1, page-2), minimum(results.pages+1, page+3)) %}
            {% if i > 0 %}
                {% if page == i %}
                    <li class="active"><a href="{{ paging_url_build(request.path, request_args, i) }}">{{ i }}</a></li>
                {% else %}
                    <li><a href="{{ paging_url_build(request.path, request_args, i) }}">{{ i }}</a></li>
                {% endif %}
            {% endif %}
        {% endfor %}
        {% if results.next %}
            <li><a href="{{ results.next_page }}" aria-label="Next"><i class="fa fa-angle-right"></i></a></li>
        {% endif %}
    </ul>
</nav>
