{% extends "emails/layout.html" %}
{% block body %}
    <!-- Banner Start -->
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
        <tr>
            <td>
                <table align="center" border="0" cellpadding="0" cellspacing="0" width="580" style="border-collapse: collapse;">
                    <tr>
                        <td>
                            <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
                                <tr>
                                    <td>
                                        <!-- Space -->
                                        <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
                                            <tr><td style="font-size: 0; line-height: 0;" height="20">&nbsp;</td></tr>
                                        </table>
                                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="540" style="border-collapse: collapse;">
                                            <tr>
                                                <td>
                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
                                                        <tr>
                                                            <td width="100%" align="left" style="font-size: 28px; line-height: 34px; font-family:helvetica, Arial, sans-serif; color:#343434;">
                                                                Multipurpose HTML5 template
                                                            </td>
                                                        </tr>
                                                    </table>
                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="75%" style="border-collapse: collapse;">
                                                        <!-- Space -->
                                                        <tr><td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td></tr>
                                                        <tr>
                                                            <td width="100%" align="left" style="font-size: 15px; line-height: 22px; font-family:helvetica, Arial, sans-serif; color:#777777;">
                                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Abinas aut vitae tempore similique cupiditate, atque ad reiciendis asperiores maiores dolores necessit...
                                                            </td>
                                                        </tr>
                                                    </table>
                                                    <table align="right" border="0" cellpadding="0" cellspacing="0" width="22%" style="border-collapse: collapse;">
                                                        <!-- Space -->
                                                        <tr><td style="font-size: 0; line-height: 0;" height="25">&nbsp;</td></tr>
                                                        <tr>
                                                            <td width="100%" align="center" style="padding:10px 12px 10px 12px; text-align: center;border-radius:4px;" bgcolor="#24a828">
                                                                <a href="#" style="color: #fff; font-size: 14px; font-weight: normal; text-decoration: none; font-family: helvetica, Arial, sans-serif;">Read More</a>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                        <!-- Space -->
                                        <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
                                            <tr><td style="font-size: 0; line-height: 0;" height="30">&nbsp;</td></tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <!-- Banner End -->
{% endblock body %}