{% extends "emails/layout.html" %} {% block body %} <!-- Section Start -->
    <table style="border-collapse: collapse; height: 269px; width: 611px;" border="0" width="600" cellspacing="0"
           cellpadding="0" align="center">
        <tbody>
        <tr style="height: 250px;">
            <td style="height: 250px; width: 609px;"><br/>
                <table style="width: 100%; border-collapse: collapse;" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                    <tr>
                        <td style="width: 100%; text-align: center;">
                            <h3><strong>Order {{ code }} Successful!</strong></h3>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table style="height: 57px; width: 578px; border-collapse: collapse; margin-left: auto; margin-right: auto;"
                       border="0">
                    <tbody>
                    <tr style="height: 54px;">
                        <td style="width: 574px; height: 54px;">Hi {{ full_name }},<br/>Your order has been received and
                            will be processed shortly. Below is a brief overview of your request:
                        </td>
                    </tr>
                    </tbody>
                </table>
                <br/>
                <table style="border-collapse: collapse; height: 257px;" border="0" width="601" cellspacing="0"
                       cellpadding="0" align="center" bgcolor="#fbfbfb">
                    <tbody>
                    <tr>
                        <td style="width: 599px;">
                            <table style="height: 126px; width: 580px; border-collapse: collapse; margin-left: auto; margin-right: auto;"
                                   border="0" cellspacing="1" cellpadding="1">
                                <tbody>
                                <tr style="height: 18px;">
                                    <td style="width: 274px; height: 18px;"><strong>Delivery Information</strong></td>
                                    <td style="width: 299px; text-align: right; height: 18px;"></td>
                                </tr>
                                <tr style="height: 18px;">
                                    <td style="width: 274px; height: 18px;">{{ order.shipment_name }}</td>
                                    <td style="width: 299px; text-align: right; height: 18px;"></td>
                                </tr>
                                <tr style="height: 18px;">
                                    <td style="width: 274px; height: 18px;">{{ order.shipment_phone }}</td>
                                    <td style="width: 299px; height: 18px; text-align: right;"></td>
                                </tr>
                                <tr style="height: 18px;">
                                    <td style="width: 274px; height: 18px;">{{ order.shipment_address }}</td>
                                    <td style="width: 299px; height: 18px; text-align: right;"></td>
                                </tr>
                                <tr style="height: 18px;">
                                    <td style="width: 274px; height: 18px;">{{ order.shipment_state }}</td>
                                    <td style="width: 299px; height: 18px; text-align: right;"></td>
                                </tr>
                                <tr style="height: 18px;">
                                    <td colspan="2"><strong>Additional Info:</strong> {{ order.shipment_description }}</td>
                                </tr>

                                </tbody>
                            </table>
                            <br/>
                            <table style="border-collapse: collapse; height: 210px;" border="0" width="601"
                                   cellspacing="0" cellpadding="0" align="center">
                                <tbody>
                                <tr style="height: 212px;">
                                    <td style="width: 599px; height: 212px;"><br/>
                                        <table style="width: 100%; border-collapse: collapse;  border-style: hidden; margin-left: auto; margin-right: auto;"
                                               border="0">
                                            <thead>
                                            <tr style="border-style: none; text-align: center;background-color: #ddd;">
                                                <th style="padding:7px 10px;">Description</th>
                                                <th style="padding:7px 10px;">Sides</th>
                                                <th style="padding:7px 10px;text-align: center;">People/Size</th>
                                                <th style="padding:7px 10px;text-align: right;" class="amount">Total</th>
                                            </tr>
                                            </thead>

                                        {% for item in order_entries %}<br/>

                                                <tbody>
                                                <tr style="border-style: none; text-align: center;">
                                                    <td style=" height: 114px;">
                                                        <img src="{{ item.image_url }}" alt="" width="75" height="75"/></br>
                                                        <a href="{{ canonical_url }}{{ item.url }}">{{ item.menu.name }}</a><br/>
                                                        <small>{{ item.menu_condition_code|capitalize }} Order</small>
                                                    </td>
                                                    <td style="height: 114px;">
                                                        <small>
                                                            {% for extra in item.extras %}
                                                                {% if extra.protein %}
                                                                    {{ extra.protein.name }}
                                                                    {% if extra.side_dish %}
                                                                        , {{ extra.side_dish.name }}
                                                                    {% endif %}
                                                                {% elif extra.side_dish %}
                                                                    {{ extra.side_dish.name }}
                                                                {% endif %}
                                                            {% endfor %}
                                                        </small>
                                                    </td>
                                                    <td style="text-align: center;">{{ item.menu_size.name }}</td>
                                                    <td style=" height: 114px;text-align: right;">
                                                        ₦{{ number_format(item.total) }}</td>
                                                </tr>
                                                </tbody>
                                            {% endfor %}</table>
                                            <br/>
                                        <table style="width: 100%; border-collapse: collapse;" border="0">
                                            <tbody>
                                            <tr style="text-align: right;">
                                                <td style="width: 78.8815%;"><strong>Sub Total:</strong></td>
                                                <td style="width: 21.1185%;">
                                                    ₦{{ number_format(order.total + order.discount_applied - order.shipping_charge) }}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <br/>
                                        <table style="width: 100%; border-collapse: collapse;" border="0">
                                            <tbody>
                                            <tr style="text-align: right;">
                                                <td style="width: 78.8815%;"><strong>Discount:</strong></td>
                                                <td style="width: 21.1185%;">-
                                                    -₦{{ number_format(order.discount_applied) }}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <br/>
                                        <table style="height: 18px; width: 594px; border-collapse: collapse;" border="0"
                                               cellspacing="0" cellpadding="0">
                                            <tbody>
                                            <tr style="height: 18px;">
                                                <td style="width: 460px; text-align: right; height: 18px;"><strong>Delivery
                                                    Charge</strong>:
                                                </td>
                                                <td style="width: 115px; text-align: right; height: 18px;">
                                                    +₦{{ number_format(order.shipping_charge) }}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <br/>
                                        <table style="height: 21px; width: 594px; border-collapse: collapse;" border="0"
                                               cellspacing="0" cellpadding="0">
                                            <tbody>
                                            <tr style="height: 18px;">
                                                <td style="width: 474px; height: 18px; text-align: right;">
                                                    <strong>Total</strong>:
                                                </td>
                                                <td style="width: 116px; height: 18px; text-align: right;">
                                                    ₦{{ number_format(order.total) }}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <br><br>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td style="width: 609px; text-align: right;"></td>
        </tr>
        </tbody>
    </table>
{% endblock %}