{% extends "emails/layout.html" %}
{% block body %}
    <!-- Section Start -->
    <table style="border-collapse: collapse;" border="0" width="600" cellspacing="0" cellpadding="0" align="center">
        <tbody>
        <tr>
            <td>
                <table style="border-collapse: collapse;" border="0" width="580" cellspacing="0" cellpadding="0"
                       align="center" bgcolor="#fbfbfb">
                    <tbody>
                    <tr>
                        <td>
                            <table style="border-collapse: collapse;" border="0" width="100%" cellspacing="0"
                                   cellpadding="0" align="center"><!-- Border -->
                                <tbody>
                                <tr>
                                    <td style="font-size: 0; line-height: 0;" bgcolor="#f5f5f5" height="1">&nbsp;</td>
                                </tr>
                                <!-- Space -->
                                <tr>
                                    <td style="font-size: 0; line-height: 0;" height="30">&nbsp;</td>
                                </tr>
                                </tbody>
                            </table>
                            <table style="border-collapse: collapse;" border="0" width="480" cellspacing="0"
                                   cellpadding="0" align="center">
                                <tbody>
                                <tr>
                                    <td>
                                        <table style="border-collapse: collapse;" border="0" width="100%"
                                               cellspacing="0" cellpadding="0" align="center">
                                            <tbody>
                                            <tr>
                                                <td style="font-size: 24px; line-height: 34px; font-family: helvetica, Arial, sans-serif; color: #343434; text-align: center;"
                                                    align="left" width="100%">Password Reset
                                                </td>
                                            </tr>
                                            <!-- Space -->
                                            <tr>
                                                <td style="font-size: 0; line-height: 0;" height="20">&nbsp;</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <table style="border-collapse: collapse;" border="0" width="100%"
                                               cellspacing="0" cellpadding="0" align="center">
                                            <tbody>
                                            <tr>
                                                <td align="center"><img
                                                        src="https://ik.imagekit.io/stewng/Assets/change-password_krQCjmZFQ.png"
                                                        alt="password reset" width="140" height="140"/></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <table style="border-collapse: collapse;" border="0" width="100%"
                                               cellspacing="0" cellpadding="0" align="center">
                                            <tbody>
                                            <tr>
                                                <td style="font-size: 16px; line-height: 22px; font-family: helvetica, Arial, sans-serif; color: #777777; text-align: center;"
                                                    align="left" width="100%">
                                                    <p>Hi {{ name }},<br/>Sorry you go locked out, it can be annoying we
                                                        know, but you are almost done. Just click on the link below <br/>or copy and paste into your preferred
                                                        browser to reset
                                                        your password.&nbsp;<br/>See you on the other side<br/><br/>
                                                        <a style="color: #fff; background-color: #8cc63e; border-color: #24a828; padding: 7px 20px; font-size: 14px; line-height: 1.46666667; border-radius: 3px; margin: 10px 0;"
                                                           href="{{ link }}">Reset</a>
                                                    </p>
                                                    <p>{{ link }}<br/><br/>If you have been sent this mail in error
                                                        kindly disregard the mail.</p>
                                                </td>
                                            </tr>
                                            <!-- Space -->
                                            <tr>
                                                <td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td style="font-size: 12px; line-height: 18px; font-family: helvetica, Arial, sans-serif; color: #777777; text-align: center;"
                                                    align="left" width="100%">&nbsp;
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <br/><!-- Space -->
                            <table style="border-collapse: collapse;" border="0" width="100%" cellspacing="0"
                                   cellpadding="0" align="center">
                                <tbody>
                                <tr>
                                    <td style="font-size: 0; line-height: 0;" height="40">&nbsp;</td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
    <!-- Section End -->
{% endblock body %}