{% extends "emails/layout.html" %}
{% block body %}
    <!-- Banner Start -->
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
        <tr>
            <td>
                <table align="center" border="0" cellpadding="0" cellspacing="0" width="580"
                       style="border-collapse: collapse;">
                    <tr>
                        <td>
                            <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0"
                                   style="border-collapse: collapse;">
                                <tr>
                                    <td>
                                        <!-- Space -->
                                        <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0"
                                               style="border-collapse: collapse;">
                                            <tr>
                                                <td style="font-size: 0; line-height: 0;" height="20">&nbsp;</td>
                                            </tr>
                                        </table>
                                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="540"
                                               style="border-collapse: collapse;">
                                            <tr>
                                                <td>
                                                    <table align="left" border="0" cellpadding="0" cellspacing="0"
                                                           width="100%" style="border-collapse: collapse;">
                                                        <tr>
                                                            <td width="100%" align="center"
                                                                style="font-size: 28px; line-height: 34px; font-family:helvetica, Arial, sans-serif; color:#343434;">
                                                                Welcome to S.T.E.W!
                                                            </td>
                                                        </tr>
                                                    </table>
                                                    <table align="center" border="0" cellpadding="0" cellspacing="0"
                                                           width="75%" style="border-collapse: collapse;">
                                                        <!-- Space -->
                                                        <tr>
                                                            <td style="font-size: 0; line-height: 0;" height="10">
                                                                &nbsp;
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="100%" align="center"
                                                                style="font-size: 15px; line-height: 22px; font-family:helvetica, Arial, sans-serif; color:#777777;">
                                                                Hi {% if user %}{{ user.first_name }}{% endif %}, your
                                                                account has been created successfully.
                                                                <br>
                                                                We are so happy to have you join us. <br>
                                                                Your experience is not yet complete until you checkout
                                                                our range of quality and delicious recipes.
                                                                <br>
                                                                <a href="{{ canonical_url }}{{ url_for('public.recipes') }}"
                                                                   style="display:inline-block;background:#24a828; color: #fff; font-size: 14px; font-weight: normal; text-decoration: none; font-family: helvetica, Arial, sans-serif; padding: 10px 15px; margin-top: 10px; border-radius: 6px;">View
                                                                    Recipes</a>
                                                            </td>

                                                        </tr>
                                                    </table>
{#                                                    <table align="right" border="0" cellpadding="0" cellspacing="0" width="22%" style="border-collapse: collapse;">#}
{#                                                        <!-- Space -->#}
{#                                                        <tr><td style="font-size: 0; line-height: 0;" height="25">&nbsp;</td></tr>#}
{#                                                        <tr>#}
{#                                                            <td width="100%" align="center" style="padding:10px 12px 10px 12px; text-align: center;border-radius:4px;" bgcolor="#24a828">#}
{#                                                                <a href="#" style="color: #fff; font-size: 14px; font-weight: normal; text-decoration: none; font-family: helvetica, Arial, sans-serif;">Read More</a>#}
{#                                                            </td>#}
{#                                                        </tr>#}
{#                                                    </table>#}
                                                </td>
                                            </tr>
                                        </table>
                                        <!-- Space -->
                                        <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0"
                                               style="border-collapse: collapse;">
                                            <tr>
                                                <td style="font-size: 0; line-height: 0;" height="30">&nbsp;</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <!-- Banner End -->
{% endblock body %}