#alert_noti {
  margin: 0;
  border-radius: 0;
}
.overlay-bottom .text h3.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.overlay-bottom .text p {
  height: 52px;
  overflow: hidden;
}
.media .media-body h6.media-heading {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 190px;
}
#no_results {
  text-align: center;
}
#no_results img#search_icon {
  width: 200px;
  margin: auto;
}
#no_results h2,
#no_results h4,
#no_results h3 {
  text-transform: none;
  text-align: center;
}
#no_results img#smiley {
  display: inline-block;
}
#no_results p {
  font-weight: 600;
}
#no_results a {
  margin: 15px auto 20px;
  width: 15em;
}
@media (min-width: 481px) and (max-width: 767px) {
  #no_results img#search_icon {
    width: 120px;
  }
  #no_results h2,
  #no_results h4,
  #no_results h3 {
    font-size: 18px;
  }
  #no_results p {
    font-size: 13px;
  }
  #no_results img#smiley {
    width: 16px;
  }
}
@media (max-width: 480px) {
  #no_results img#search_icon {
    width: 100px;
  }
  #no_results h2,
  #no_results h4,
  #no_results h3 {
    font-size: 18px;
  }
  #no_results p {
    font-size: 12px;
  }
  #no_results img#smiley {
    width: 16px;
  }
}
/*# sourceMappingURL=stew.css.map */