#alert_noti {
  margin: 0;
  border-radius: 0;
}

.overlay-bottom {
  .text {
    h3.title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    p {
      height: 52px;
      overflow: hidden;
    }
  }
}

.media {
  .media-body {
    h6.media-heading {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 190px;
    }
  }
}

#no_results {
  text-align: center;
  img#search_icon {
    width: 200px;
    margin: auto;
  }
  h2, h4, h3 {
    text-transform: none;
    text-align: center;
  }
  img#smiley {
    display: inline-block;
  }
  p {
    font-weight: 600;

  }
  a{
    margin: 15px auto 20px;
    width:15em;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  #no_results {
    img#search_icon {
      width: 120px;
    }
    h2, h4, h3 {
      font-size:18px;
    }
    p{
      font-size:13px;
    }
    img#smiley {
      width:16px;
    }
  }
}
@media (max-width: 480px) {
  #no_results {
    img#search_icon {
      width: 100px;
    }
    h2, h4, h3 {
      font-size:18px;
    }
    p{
      font-size:12px;
    }
    img#smiley {
      width:16px;
    }
  }
}