{% extends "admin/layout.html" %}
{% block body %}
<!-- Bread crumb -->
<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">{% if obj %}Update Menu Size{% else %}Create Menu Size{% endif %}</h3></div>
    <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('.index') }}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="breadcrumb-item"><a href="{{ url_for('.menu_sizes') }}">Menu Sizes</a></li>
            <li class="breadcrumb-item active">{% if obj %}Update Menu Size{% else %}Create Menu Size{% endif %}</li>
        </ol>
    </div>
</div>
<!-- End Bread crumb -->
{% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for message, status in messages %}
                <div class="alert
                   {% if status=="success" %}alert-success text-white
                    {% elif status=="warning" %}alert-warning
                    {% else %}alert-danger text-themecolor{% endif %}
                ">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
<div class="container-fluid">
    <!-- Start Page Content -->
    <div class="row">
        <div class="col-md-12">
            <div class="card card-outline-primary">

                <div class="card-body">
                    <form action="{{ request.path }}" method="post" name="form" role="form"
                          enctype="multipart/form-data">
                        {{ form.csrf_token }}
                        <div class="form-body">

                            <h3 class="card-title m-t-15">Menu Size Info</h3>

                            <hr>
                            <div class="col-md-8 pull-left">
                                <div class="row p-t-20">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Name</label>
                                            {{ form.name(class="form-control") }}

                                            {% if form.name.errors %}
                                            {% for e in form.name.errors %}
                                            <small class="form-control-feedback text-themecolor">{{ e }}</small>
                                            {% endfor %}

                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Code</label>
                                            {{ form.code(class="form-control") }}

                                            {% if form.code.errors %}
                                            {% for e in form.code.errors %}
                                            <small class="form-control-feedback text-themecolor">{{ e }}</small>
                                            {% endfor %}

                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <!--/span-->
                                    <!--/span-->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Value</label>
                                            {{ form.value(class="form-control") }}
                                            {% if form.value.errors %}
                                            {% for e in form.value.errors %}
                                            <small class="form-control-feedback text-themecolor">{{ e }}</small>
                                            {% endfor %}

                                            {% endif %}
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Recipe Cost Multiplier</label>
                                            {{ form.cost_multiplier(class="form-control") }}
                                            {% if form.cost_multiplier.errors %}
                                            {% for e in form.cost_multiplier.errors %}
                                            <small class="form-control-feedback text-themecolor">{{ e }}</small>
                                            {% endfor %}

                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Protein Cost Multiplier</label>
                                            {{ form.protein_cost_multiplier(class="form-control") }}
                                            {% if form.protein_cost_multiplier.errors %}
                                            {% for e in form.protein_cost_multiplier.errors %}
                                            <small class="form-control-feedback text-themecolor">{{ e }}</small>
                                            {% endfor %}

                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Side Dish Cost Multiplier</label>
                                            {{ form.side_dish_cost_multiplier(class="form-control") }}
                                            {% if form.side_dish_cost_multiplier.errors %}
                                            {% for e in form.side_dish_cost_multiplier.errors %}
                                            <small class="form-control-feedback text-themecolor">{{ e }}</small>
                                            {% endfor %}

                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                        {{ form.is_cooked }}
                                            <label for="{{form.is_cooked.name}}" class="control-label">{{form.is_cooked.label.text}}</label>

                                            {% if form.is_cooked.errors %}
                                            {% for e in form.is_cooked.errors %}
                                            <small class="form-control-feedback text-themecolor">{{ e }}</small>
                                            {% endfor %}

                                            {% endif %}

                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="clearfix"></div>
                                </div>
                                <!--/row-->
                                <div class="row">
                                    <div class="col-md-12 ">
                                        <div class="form-group">
                                            <label>Description</label>
                                            {{ form.description(class="form-control") }}
                                            {% if form.description.errors %}
                                            {% for e in form.description.errors %}
                                            <small class="form-control-feedback text-themecolor">{{ e }}</small>
                                            {% endfor %}

                                            {% endif %}
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-4 pull-right">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-themecolor"><i class="fa fa-check"></i> Save
                            </button>
                            <a href="{{ url_for('.menu_sizes') }}" class="btn btn-inverse">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}