{% extends "admin/layout.html" %}
{% block body %}
<!-- Bread crumb -->
<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Delivery Statuses</h3></div>
    <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('.index') }}">Dashboard</a></li>
            <li class="breadcrumb-item active">Delivery Statuses</li>
        </ol>
    </div>
</div>
<!-- End Bread crumb -->
{% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for message, status in messages %}
                <div class="alert
                   {% if status=="success" %}alert-success text-white
                    {% elif status=="warning" %}alert-warning
                    {% else %}alert-danger text-themecolor{% endif %}
                ">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
<!-- Container fluid  -->
<div class="container-fluid">
    <!-- Start Page Content -->
    <div class="row">
        <div class="col-12">
            <div class="btn-group pull-right">
                <a href="{{ url_for('.create_delivery_status') }}" class="btn btn-themecolor">Create Delivery Status</a>
            </div>
            <div class="clearfix"></div>
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="myTable" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Code</th>
                                <th>Name</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if results.items %}
                            {% for obj in results.items %}
                            <tr>
                                <td>{{ obj.code }}</td>
                                <td>{{ obj.name }}</td>
                                <td><a class="btn btn-sm btn-warning"  href="{{ url_for('.update_delivery_status',code=obj.code) }}">Update</a></td>
                            </tr>
                            {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End PAge Content -->
</div>
<!-- End Container fluid  -->
{% endblock body %}