{% extends "admin/layout.html" %}
{% block body %}
    <!-- Bread crumb -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Menu Frequency</h3></div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for('.index') }}">Dashboard</a></li>
                <li class="breadcrumb-item active">Menu Frequency</li>
            </ol>
        </div>
    </div>
    <!-- End Bread crumb -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for message, status in messages %}
                <div class="alert
                   {% if status=="success" %}alert-success text-white
                    {% elif status=="warning" %}alert-warning
                    {% else %}alert-danger text-themecolor{% endif %}
                ">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <!-- Container fluid  -->
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row">
            <div class="col-12">
                <div class="btn-group pull-right">
                    <a href="{{ url_for('.create_menu_frequency') }}" class="btn btn-themecolor">Create Menu
                        Frequency</a>
                </div>
                <div class="clearfix"></div>
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="myTable" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>Code</th>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Value</th>
                                    <th>Cost Multiplier</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if results.items %}
                                    {% for obj in results.items %}
                                        <tr>
                                            <td>{{ obj.code }}</td>
                                            <td>{{ obj.name }}</td>
                                            <td>{{ obj.description }}</td>
                                            <td>{{ obj.value }}</td>
                                            <td>{{ obj.cost_multiplier }}</td>
                                            <td>
                                                <a class="btn btn-sm btn-warning"
                                                   href="{{ url_for('.update_menu_frequency',code=obj.code) }}">Update</a>
                                                <a class="btn btn-default"
                                                   href="{{ url_for('.delete_menu_frequency',code=obj.code) }}">Delete</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End PAge Content -->
    </div>
    <!-- End Container fluid  -->
{% endblock body %}