{% extends "admin/layout.html" %}
{% block body %}
    <!-- Bread crumb -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">{% if obj %}Update Posts{% else %}Create Posts{% endif %}</h3></div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for('.index') }}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                <li class="breadcrumb-item"><a href="{{ url_for('.published_posts') }}">Posts</a></li>
                <li class="breadcrumb-item active">{% if obj %}Update Posts{% else %}Create Posts{% endif %}</li>
            </ol>
        </div>
    </div>
    <!-- End Bread crumb -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for message, status in messages %}
                <div class="alert
                   {% if status=="success" %}alert-success text-white
                    {% elif status=="warning" %}alert-warning
                    {% else %}alert-danger text-themecolor{% endif %}
                ">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row">
            <div class="col-md-12">
                <div class="card card-outline-primary">

                    <div class="card-body">
                        <form action="{{ request.path }}" method="post" name="form" role="form"
                              enctype="multipart/form-data">
                            {{ form.csrf_token }}
                            <div class="form-body">

                                <h3 class="card-title m-t-15">Posts Info</h3>

                                <hr>
                                <div class="col-md-12">
                                    <div class="row p-t-20">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">Name</label>
                                                {{ form.name(class="form-control") }}

                                                {% if form.name.errors %}
                                                    {% for e in form.name.errors %}
                                                        <small class="form-control-feedback text-themecolor">{{ e }}</small>
                                                    {% endfor %}

                                                {% endif %}
                                            </div>
                                        </div>
                                        <!--/span-->


                                    </div>
                                    <!--/row-->
                                    <div class="row">
                                        <div class="col-md-6 ">
                                            <div class="form-group">
                                                <label>Information</label>
                                                {{ form.info(class="form-control rich-text") }}
                                                {% if form.info.errors %}
                                                    {% for e in form.info.errors %}
                                                        <small class="form-control-feedback text-themecolor">{{ e }}</small>
                                                    {% endfor %}

                                                {% endif %}
                                            </div>
                                        </div>
                                    <div class="col-md-6">
                                            <div class="form-group {% if img_errors %} has-error {% endif %}">
                                                <span class="caption"><strong>NOTE: </strong>Maximum size per upload is <strong>15MB</strong></span><br>
                                                <span class="btn btn-file">
            <span>Add Images</span>
            <input type="file" class="img-upload" id="images" name="images" multiple="multiple" target="#img-preview">
          </span>
                                                <p><span>We recommend all your images should be the same dimensions (a square). Suggested dimensions should be at least <strong>200x200</strong>px.</span>
                                                </p>
                                                {% if img_errors %}
                                                    <span class="help-block">{{ img_errors }}</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="form-actions">
                                <button type="submit" class="btn btn-themecolor"><i class="fa fa-check"></i> Save
                                </button>
                                <a href="{{ url_for('.published_posts') }}" class="btn btn-inverse">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}